<template>
  <div>
    <TheSnackbar ref="snackbar" />
    <v-row
      id="container-product"
      class="mt-2"
      style="overflow:auto;max-height:calc(100vh - 195px);"
      v-if="!isMobile">
      <v-col cols="6" sm="4" md="3" v-for="(item, indexItem) in items" :key="indexItem">
        <v-card class="cart-list ma-auto rounded" height="160" @click="addToCart(indexItem)">
          <v-img :src="item.image ? item.image : 'https://via.placeholder.com/150x150?text=Produk'" height="100px" contain style="background-color: #fff;">
            <!-- <div class="text-right label-price">{{ $helpers.numberFormat(item.price, 0, ',', '.') }}</div> -->
          </v-img>
          <!-- <v-card-title class="body-2 pa-2">{{ $helpers.cutStr(item.name, 12) }}</v-card-title> -->
          <v-card-title
            class="body-2 pa-2"
            style="word-break: break-word; text-align: center; display:grid"
          >{{ $helpers.cutStr(item.name, 25) }}</v-card-title>
          <!-- <v-card-subtitle
            class="subtitle-2 font-weight-bold pa-2"
            style="position:absolute;bottom:0;"
          >{{ $helpers.numberFormat(item.price, 0, ',', '.') }}</v-card-subtitle>-->
          <span v-if="item.qty > 0" class="badge-item-selected">{{item.qty}}</span>
        </v-card>
      </v-col>
      <!-- <v-col cols="6" sm="4" md="3">
        <v-card @click="created.dialog = true" class="ma-auto rounded pt-12" height="160" raised>
          <v-card-text class="text-center v-align-middle">
            <v-icon>mdi-plus</v-icon>
          </v-card-text>
        </v-card>
      </v-col> -->
    </v-row>
    <v-row
      id="container-product"
      class="mt-2"
      style="overflow:auto;max-height:calc(100vh - 205px);padding-bottom:15px;"
      v-else>
      <v-col cols="12" v-for="(item, indexItem) in items" :key="indexItem">
        <v-card class="cart-list ma-auto rounded" @click="addToCart(indexItem)">
          <v-list class="pa-0">
            <v-list-item class="pl-0">
              <v-list-item-avatar tile class="rounded ma-0 mr-4" height="70px" width="100px">
                <v-img :src="item.image" contain style="background-color: #fff;"></v-img>
              </v-list-item-avatar>

              <v-list-item-content>
                <div class="subtitle-2 mb-2">{{ item.name }}</div>
                <div class="caption">{{ $helpers.numberFormat(item.price, 0, ',', '.') }}</div>
              </v-list-item-content>
            </v-list-item>
          </v-list>
          <span v-if="item.qty > 0" class="badge-item-selected">{{item.qty}}</span>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import TheInputImage from "@/components/TheInputImage"
import TheSnackbar from "@/components/TheSnackbar";
export default {
  components: { TheInputImage, TheSnackbar },
  name: "TheContainerItems",
  props: {
    items: {
      type: Array,
      default: [],
    },
    isMobile: {
      type: Boolean,
      default: false,
    },
  },
  data: () => ({
    menu: [],
    created: {
      dialog: false,
      data: {
        name: null,
        category: null,
        description: null,
        unit: null,
        price: null,
        salesTypePrice: {
          priceDineIn: null,
          priceTakeAway: null,
          priceGo: null,
          priceGrab: null,
        },
        img:null,
        weight: null,
        category: null,
      },
      feedback: {
        msg: null,
        data: {
          name: null,
          category: null,
          unit: null,
          price: null,
          salesTypePrice: {
            priceDineIn: null,
            priceTakeAway: null,
            priceGo: null,
            priceGrab: null,
          },
          img:null,
          weight: null,
          description: null,
        },
      },
    },
    categories:[],
    absolute: true,
    overlay: false,
  }),
  created(){
    this.getCategory()
  },
  methods: {
    imgUrl(val){
      toString(this.created.data.img = val.path)
    },
    addToCart(index) {
      //todo emit
      this.$emit("add-item", index);
    },
    async getCategory() {
      await this.axios
        .get("pos/list/category", {
          params: {
            limit: -1,
          },
        })
        .then((res) => {
          let response = res.data;
          switch (response.status) {
            case "success":
              this.categories = response.result.data.map((val, key) => ({
                id: val.category_id,
                text: val.category_name,
              }));
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    resetCreatedFeedback() {
      this.created.feedback.msg = null;
      this.created.feedback.data.name = null;
      this.created.feedback.data.category = null;
      this.created.feedback.data.unit = null;
      this.created.feedback.data.price = null;
      this.created.feedback.data.salesTypePrice.priceDineIn = null;
      this.created.feedback.data.salesTypePrice.priceTakeAway = null;
      this.created.feedback.data.salesTypePrice.priceGo = null;
      this.created.feedback.data.salesTypePrice.priceGrab = null;
      this.created.feedback.data.weight = null;
      this.created.feedback.data.description = null;
    },
    closeDialogCreated() {
      this.created.dialog = false;
      this.created.data = {};
      if(this.created.data.salesTypePrice == undefined){
        this.created.data.salesTypePrice = {}
      }
    },
    async doCreate() {
      this.resetCreatedFeedback();
      let selesTypePrice = {
        dine_in: parseInt(this.created.data.salesTypePrice.priceDineIn),
        take_away: parseInt(this.created.data.salesTypePrice.priceTakeAway),
        go_food: parseInt(this.created.data.salesTypePrice.priceGo),
        grab_food: parseInt(this.created.data.salesTypePrice.priceGrab),
      }
      this.created.data.salesTypePrice = JSON.stringify(selesTypePrice)
      await this.axios
        .post("product/create", this.created.data)
        .then((res) => {
          let data = res.data;
          switch (data.status) {
            case "success":
              this.created.dialog = false;
              this.created.data = {};
              if(this.created.data.salesTypePrice == undefined){
                this.created.data.salesTypePrice = {}
              }
              this.$emit("refresh",true);
              this.$emit("notif",{status:'success', msg: data.msg});
              this.$refs.snackbar.open("success", `${data.msg}`);
              break;
            case "validation":
              this.created.feedback.msg = data.msg;
              this.created.feedback.data.name = data.result.error.name;
              this.created.feedback.data.category = data.result.error.category;
              this.created.feedback.data.price = data.result.error.price;
              this.created.feedback.data.unit = data.result.error.unit;
              break;
            case "failed":
              this.$emit("notif",{status:'error', msg: data.msg});
              this.$refs.snackbar.open("error", `${data.msg}`);
              this.closeDialogCreated();
              this.$refs.productGrid.fetch();
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    },
  },
};
</script>

<style>
.cart-list {
  border-radius: 15px !important;
  box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.2) !important;
}
.badge-item-selected {
  position: absolute;
  top: 0;
  right: 0;
  background: #f2994a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #f2c94c,
    #f2994a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #f2c94c,
    #f2994a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 30px;
  height: 30px;
  padding: 4px;
  text-align: center;
  border-radius: 50% !important;
  font-weight: bold;
  color: #ffffff;
}
.label-price {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.8em;
  padding: 2px 4px;
  border-radius: 4px;
  background: rgb(56 56 56 / 57%);
  color: #fff !important;
}
</style>