<template>
  <v-dialog v-model="dialogLoadingFetch" fullscreen hide-overlay>
    <v-card style="display: flex; justify-content: center; align-items: center;">
      <div class="text-center">
        <sweetalert-icon icon="loading" />
        <img src="@/assets/next-pos-logo.png" alt style="height:25px" class="mb-4" />
        <div>{{ textLoadingFetch }}</div>
      </div>
    </v-card>
  </v-dialog>
</template>

<script>
import SweetalertIcon from "vue-sweetalert-icons";
export default {
  name: "TheLoadingFetch",
  components: { SweetalertIcon },
  props: {
    textLoadingFetch: {
      type: String,
      default: "",
    },
    dialogLoadingFetch: {
      type: Boolean,
      default: false,
    },
  },
  data: () => ({}),
};
</script>

<style>
</style>