<template>
  <v-footer
    fixed
    class="d-block"
    style="background-color: rgba(245, 245, 245, 0); top: calc(100vh - 50px);     bottom: unset;"
  >
    <v-card class="pa-2 my-blue-button" @click="openCart" dark style="border-radius: 8px;">
      <span
        class="caption font-weight-bold"
      >{{ $helpers.numberFormat(total.qty, 0, ',', '.') }} item | Rp. {{ $helpers.numberFormat(total.price, 0, ',', '.') }}</span>
      <v-icon class="float-right mt-1" small>mdi-cart</v-icon>
      <span class="float-right font-weight-bold caption mt-1 mr-2">Lihat keranjang</span>
    </v-card>
  </v-footer>
</template>

<script>
export default {
  name: "TheMobileFooter",
  components: {},
  props: {
    total: {
      type: Object,
      default: {
        qty: 0,
        price: 0,
      },
    },
    isMobile: {
      type: Boolean,
      default: false,
    },
  },
  data: () => ({}),
  methods: {
    openCart() {
      this.$emit("click");
    },
  },
};
</script>