<template>
  <v-dialog v-model="cartBottom" fullscreen persistent transition="dialog-bottom-transition">
    <v-card>
      <v-sheet>
        <v-card class="my-background" elevation="0">
          <v-list class="py-0">
            <v-list-item class="my-background">
              <v-list-item-content>
                <v-list-item-subtitle class="font-weight-bold title">
                  <v-icon class="mr-2">mdi-account</v-icon>
                  {{ customerName }}
                </v-list-item-subtitle>
                <v-list-item-subtitle>
                  <v-icon class="mr-2">mdi-bookmark</v-icon>
                  {{ table }}
                </v-list-item-subtitle>
              </v-list-item-content>

              <v-list-item-icon>
                <v-btn @click="openCartEdit" depressed small fab class="mr-2">
                  <v-icon>mdi-pencil</v-icon>
                </v-btn>
                <v-btn color="error" depressed small fab @click="closeCart">
                  <v-icon>mdi-close-thick</v-icon>
                </v-btn>
              </v-list-item-icon>
            </v-list-item>
          </v-list>
        </v-card>
      </v-sheet>
      <v-sheet min-height="200" height="calc(100vh - 228px)" class="pa-1" style="overflow:auto;">
        <v-list two-line dense>
          <v-list-item class="px-2" v-for="(cart, index) in carts" :key="index">
            <v-list-item-avatar tile class="rounded" height="60px" width="60px">
              <v-img :src="cart.image"></v-img>
            </v-list-item-avatar>

            <v-list-item-content>
              <div class="subtitle-2 font-weight-bold mb-2">{{ cart.name }}</div>
              <div class="caption font-weight-bold">
                {{ $helpers.numberFormat(cart.price, 0, ',', '.') }}
                <span class="float-right">
                  <v-btn x-small color="error" depressed rounded @click="decrementQty(index)">
                    <v-icon x-small>mdi-minus</v-icon>
                  </v-btn>
                  <v-btn
                    small
                    color="primary"
                    class="font-weight-bold"
                    text
                  >{{ $helpers.numberFormat(cart.qty, 0, ',', '.') }}</v-btn>
                  <v-btn x-small color="success" depressed rounded @click="incrementQty(index)">
                    <v-icon x-small>mdi-plus</v-icon>
                  </v-btn>
                </span>
              </div>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-sheet>
      <v-sheet>
        <v-card class="my-background" elevation="0">
          <div class="pa-2">
            <table style="width: 100%;">
              <tr>
                <td>Sub Total</td>
                <td class="text-right">{{ $helpers.numberFormat(total.price, 0, ',', '.') }}</td>
              </tr>
              <tr>
                <td>Diskon {{ totalDiscount > 0 ? `(${totalDiscount}%)` : '' }}</td>
                <td
                  class="text-right"
                >{{ $helpers.numberFormat(totalDiscountNominal, 0, ',', '.') }}</td>
              </tr>
              <tr>
                <td class="font-weight-bold">Total Bayar</td>
                <td
                  class="text-right font-weight-bold"
                >{{ $helpers.numberFormat(totalPayable, 0, ',', '.') }}</td>
              </tr>
            </table>
          </div>
          <div class="pa-2">
            <table style="width: 100%;">
              <tr>
                <td class="text-center">
                  <v-btn depressed class="my-red-button" rounded block dark @click="resetCarts">
                    <v-icon>mdi-close-thick</v-icon>
                  </v-btn>
                </td>
                <td class="text-center">
                  <v-btn depressed class="my-yellow-button" rounded block dark @click="doHold">
                    <v-icon>mdi-content-save</v-icon>
                  </v-btn>
                </td>
                <td class="text-center" style="width:75%">
                  <v-btn
                    depressed
                    class="my-green-button"
                    rounded
                    block
                    dark
                    @click="openDialogPay"
                  >Pilih Pembayaran</v-btn>
                </td>
              </tr>
            </table>
          </div>
        </v-card>
      </v-sheet>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "TheMobileCartBottom",
  components: {},
  props: {
    cartBottom: {
      type: Boolean,
      default: false,
    },
    customerName: {
      type: String,
      default: "Umum",
    },
    table: {
      type: String,
      default: "Dine In",
    },
    carts: {
      type: Array,
      default: [],
    },
    total: {
      type: Object,
      default: {
        qty: 0,
        price: 0,
      },
    },
    totalDiscount: {
      type: Number,
      default: 0,
    },
    totalDiscountNominal: {
      type: Number,
      default: 0,
    },
    totalPayable: {
      type: Number,
      default: 0,
    },
  },
  data: () => ({}),
  methods: {
    openCartEdit() {
      this.$emit("click-open-cart-edit");
    },
    closeCart() {
      this.$emit("click-close-cart");
    },
    openDialogPay() {
      this.$emit("click-pay");
    },
    doHold() {
      this.$emit("click-hold");
    },
    resetCarts() {
      this.$emit("click-reset");
    },
    decrementQty(index) {
      this.$emit("click-decrementQty", index);
    },
    incrementQty(index) {
      this.$emit("click-incrementQty", index);
    },
  },
};
</script>

<style>
</style>