<template>
  <div>
    <v-card class="cart-list pa-2 py-0">
      <v-card-title style="color: #424242" class="body-2 font-weight-medium">
        <v-skeleton-loader light type="text" :loading="loading" width="40%">
          {{ title }}
        </v-skeleton-loader>
      </v-card-title>
      <div style="justify-content: center">
        <div class="px-4" style="height: 200px" v-if="loading">
          <v-skeleton-loader
            light
            type="image"
            height="150"
          ></v-skeleton-loader>
        </div>
        <div v-else>
          <apexchart
            v-if="data.length !== 0"
            :type="type"
            :width="width"
            :options="chartOptions"
            :series="series"
            height="200"
          >
          </apexchart>
        </div>
      </div>
    </v-card>
  </div>
</template>
<script>
export default {
  props: {
    title: {
      type: String,
      default: "",
    },
    type: {
      type: String,
      default: "",
    },
    width: {
      type: String,
      default: "",
    },
    data: {
      type: Array,
      default: [],
    },
    color: {
      type: Array,
    },
    loading: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {};
  },
  computed: {
    series() {
      let dataChart = [];
      this.data.forEach((element) => {
        switch (this.title) {
          case "Produk terlaris":
            dataChart.push(element.total_qty);
            break;
          case "Pembayaran terbanyak":
            dataChart.push(element.total_struck);
            break;
          case "Penjualan terbanyak":
            dataChart.push(element.total_struck);
            break;
        }
      });
      return dataChart;
    },
    chartOptions() {
      let options = {};
      let label = [];
      let _self = this;
      this.data.forEach((element) => {
        switch (this.title) {
          case "Produk terlaris":
            label.push(element.sales_order_detail_product_name);
            break;
          case "Pembayaran terbanyak":
            label.push(element.sales_order_payment_method);
            break;
          case "Penjualan terbanyak":
            label.push(element.sales_order_sales_type_name);
            break;
        }
      });
      options.labels = label;
      options.chart = {
        type: "donut",
      };
      options.responsive = [
        {
          breakpoint: 480,
          options: {
            chart: {},
          },
        },
      ];
      options.legend = {
        position: "bottom",
        offsetY: 0,
      };

      (options.fill = {
        type: "gradient",
        gradient: {
          shadeIntensity: 1,
          opacityFrom: 0.7,
          opacityTo: 0.9,
          stops: [0, 90, 100],
        },
      }),
        (options.yaxis = {
          labels: {
            formatter: function (value) {
              return _self.$helpers.numberFormat(value);
            },
          },
        });
      return options;
    },
  },
};
</script>

<style>
.cart-list {
  border-radius: 15px !important;
  box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.2) !important;
}
</style>