<template>
  <div>
    <v-dialog
      v-model="$store.state.dialogAddCategory"
      persistent
      max-width="400"
    >
      <v-card class="rounded-lg">
        <v-card-title>
          <h4>Tambah Kategori</h4>
          <v-spacer></v-spacer>
          <v-btn
            depressed
            icon
            :disabled="loading"
            @click="closeDialogCreated()"
          >
            <v-icon>mdi-close-thick</v-icon>
          </v-btn>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  label="Nama Kategori *"
                  type="text"
                  v-model="add.input.name"
                  name="name"
                  required
                  :error-messages="add.feedback.data.name"
                  filled
                  dense
                >
                </v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <small class="ml-3"><i>Isian bertanda (*) wajib diisi</i></small>
          <v-spacer></v-spacer>
          <v-btn
            class="my-blue-button"
            rounded
            @click="doCreate()"
            :loading="loading"
            ><v-icon class="mr-2">mdi-content-save</v-icon>Simpan</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
export default {
  props: {
    from: String,
  },
  data() {
    return {
      add: {
        input: {
          name: "",
        },
        feedback: {
          msg: "",
          data: {
            name: "",
          },
        },
      },
      loading: false,
    };
  },

  mounted() {},

  watch: {
    "$store.state.dialogAddCategory": function () {
      this.add.input.name = "";
    },
  },

  methods: {
    closeDialogCreated() {
      switch (this.from) {
        case "product":
          this.$store.state.dialogAddCategory = false;
          this.$store.state.dialogAddProduct = true;
          break;
        case "product-edit":
          this.$store.state.dialogAddCategory = false;
          this.$store.state.dialogUpdateProduct = true;
          break;
        case "ingredients":
          this.$store.state.dialogAddCategory = false;
          this.$store.state.dialogAddIngredients = true;
          break;
        case "ingredients-edit":
          this.$store.state.dialogAddCategory = false;
          this.$store.state.dialogUpdateIngredients = true;
          break;
        default:
          this.$store.state.dialogAddCategory = false;
          break;
      }
    },

    async doCreate() {
      this.loading = true;
      await this.axios
        .post("category/create", this.add.input)
        .then((res) => {
          let data = res.data;
          switch (data.status) {
            case "success":
              if (!this.from) {
                this.$emit(`addResult`, {
                  snackbar: {
                    status: "error",
                    msg: data.msg,
                  },
                  refresh: "categoryGrid",
                });
                this.$store.state.dialogAddCategory = false;
              } else {
                this.getCategory(data);
                this.closeDialogCreated()
              }
              break;
            case "validation":
              this.add.feedback.msg = data.msg;
              this.add.feedback.data.name = data.result.error.name;
              break;
            case "failed":
              this.$refs.snackbar.open("error", `${data.msg}`);
              this.closeDialogCreated();
              this.$refs.productGrid.fetch();
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
      this.loading = false;
    },

    async getCategory(response) {
      await this.axios
        .get(`category/options`, {
          params: {},
        })
        .then((res) => {
          let data = res.data;
          switch (data.status) {
            case "success":
              this.$emit(`updateCategory`, {
                result: "asu",
                response,
              });
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
      this.$store.state.dialogAddCategory = false;
    },
  },
};
</script>

<style>
</style>