<template>
  <div>
    <v-dialog
      v-model="$store.state.dialogUpdateCategory"
      persistent
      max-width="400"
    >
      <v-card class="rounded-lg">
        <v-card-title>
          <h4>Ubah Kategori</h4>
          <v-spacer></v-spacer>
          <v-btn
            depressed
            icon
            :disabled="loading"
            @click="$store.state.dialogUpdateCategory = false"
          >
            <v-icon>mdi-close-thick</v-icon>
          </v-btn>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  label="Nama Kategori *"
                  type="text"
                  v-model="updated.input.name"
                  name="name"
                  required
                  :error-messages="updated.feedback.data.name"
                  filled
                  dense
                >
                </v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <small class="ml-3"><i>Isian bertanda (*) wajib diisi</i></small>
          <v-spacer></v-spacer>
          <v-btn
            class="my-blue-button"
            rounded
            @click="doUpdate()"
            :loading="loading"
            ><v-icon class="mr-2">mdi-content-save</v-icon>Simpan</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
export default {
  props: {
    data: Object,
  },
  data() {
    return {
      updated: {
        input: {
          id:"",
          name: "",
        },
        feedback: {
          msg: "",
          data: {
            name: "",
          },
        },
      },
      loading: false,
    };
  },

  mounted() {},

  watch: {
    "$store.state.dialogUpdateCategory": {
      handler(val) {
        if (val) {
          this.setUpdateData();
        }
      },
    },
  },

  methods: {
    setUpdateData(){
      this.updated.input.id = this.data.category_id
      this.updated.input.name = this.data.category_name
    },

    async doUpdate() {
      this.loading = true;
      await this.axios
        .post("category/update", this.updated.input)
        .then((res) => {
          let data = res.data;
          switch (data.status) {
            case "success":
              this.$store.state.dialogUpdateCategory = false
              this.$emit(`addResult`, {
                snackbar: {
                  status: "success",
                  msg: data.msg,
                },
                refresh: "categoryGrid",
              })
              break;
            case "validation":
              this.add.feedback.msg = data.msg;
              this.add.feedback.data.name = data.result.error.name;
              break;
            case "failed":
              this.$emit(`addResult`, {
                snackbar: {
                  status: "error",
                  msg: data.msg,
                },
                refresh: "categoryGrid",
              })
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
      this.loading = false;
    },
  },
};
</script>

<style>
</style>