<template>
  <div>
    <v-card class="pa-0 rounded">
      <!-- Trigger Edit Cart -->
      <v-sheet>
        <v-card
          @click.native="$store.state.pos.cart.dialogEdit = true"
          ripple
          class="rounded my-background"
          elevation="0"
        >
          <v-list class="py-0">
            <v-list-item class="my-background">
              <v-list-item-content>
                <v-list-item-subtitle class="font-weight-bold title">
                  <v-icon class="mr-2">mdi-account</v-icon>
                  {{ $store.state.pos.cart.customer.text }}
                </v-list-item-subtitle>
                <v-list-item-subtitle>
                  <table style="width: 100%">
                    <tr>
                      <td style="width: 70%">
                        <v-icon class="mr-2">mdi-bookmark-check</v-icon>
                        {{ $store.state.pos.cart.table }}
                      </td>
                      <td style="width: 30%">
                        <v-icon class="mr-2">mdi-tag</v-icon>
                        {{ $store.state.pos.cart.salesType.text }}
                      </td>
                    </tr>
                  </table>
                </v-list-item-subtitle>
              </v-list-item-content>

              <v-list-item-icon class="mt-6">
                <v-icon>mdi-chevron-right</v-icon>
              </v-list-item-icon>
            </v-list-item>
          </v-list>
        </v-card>
      </v-sheet>

      <!-- Cart Item -->
      <v-sheet
        min-height="200"
        height="calc(100vh - 340px)"
        class="pa-1"
        style="overflow: auto; cursor: pointer"
      >
        <v-list two-line dense>
          <v-list-item
            class="px-2 mb-1 rounded-lg cart-card"
            v-for="(item, index) in $store.state.pos.cart.products"
            :key="index"
            ripple
          >
            <v-list-item-avatar
              tile
              class="rounded"
              height="60px"
              width="60px"
              @click="openDialogEditItem(index)"
            >
              <v-img
                :src="
                  item.image
                    ? item.image
                    : 'https://via.placeholder.com/100x80?text=Produk'
                "
              ></v-img>
            </v-list-item-avatar>

            <v-list-item-content @click="openDialogEditItem(index)">
              <div class="subtitle-2 font-weight-bold mb-2">
                {{ item.name }}
              </div>
              <div class="caption font-weight-bold">
                <span
                  class="text-decoration-line-through mr-2"
                  style="color: #bdbdbd"
                  v-show="item.discountNominal > 0"
                >
                  {{
                    $helpers.numberFormat(
                      item.discountNominal * item.qty,
                      0,
                      ",",
                      "."
                    )
                  }}
                </span>
                <span>
                  {{
                    $helpers.numberFormat(
                      item.price * item.qty - item.discountNominal * item.qty,
                      0,
                      ",",
                      "."
                    )
                  }}
                </span>
              </div>
            </v-list-item-content>
            <v-list-item-action>
              <table>
                <tr>
                  <td>
                    <v-btn
                      x-small
                      class="my-red-button"
                      depressed
                      fab
                      @click="decrementQty(index)"
                    >
                      <v-icon x-small>mdi-minus</v-icon>
                    </v-btn>
                  </td>
                  <td>
                    <v-btn small class="font-weight-bold" text>{{
                      $helpers.numberFormat(item.qty, 0, ",", ".")
                    }}</v-btn>
                  </td>
                  <td>
                    <v-btn
                      x-small
                      class="my-green-button"
                      depressed
                      fab
                      @click="incrementQty(index)"
                    >
                      <v-icon x-small>mdi-plus</v-icon>
                    </v-btn>
                  </td>
                </tr>
              </table>
            </v-list-item-action>
          </v-list-item>
        </v-list>
      </v-sheet>

      <!-- Cart Summary -->
      <v-sheet>
        <v-card class="rounded my-background" elevation="0">
          <div class="pa-2">
            <table style="width: 100%">
              <tr>
                <td>Sub Total</td>
                <td class="text-right">
                  {{
                    $helpers.numberFormat(
                      $store.state.pos.cart.subTotal,
                      0,
                      ",",
                      "."
                    )
                  }}
                </td>
              </tr>
              <tr>
                <td>
                  Diskon
                  {{
                    $store.state.pos.cart.totalDiscountPercent > 0
                      ? `(${$store.state.pos.cart.totalDiscountPercent}%)`
                      : ""
                  }}
                  <v-btn
                    icon
                    x-small
                    color="primary"
                    class="mr-2"
                    @click="$store.state.pos.cart.dialogDiscount = true"
                    ><v-icon>mdi-pencil</v-icon></v-btn
                  >
                  <v-btn
                    icon
                    x-small
                    color="error"
                    @click="resetDiscount"
                    v-show="
                      $store.state.pos.cart.totalDiscountPercent > 0 ||
                      $store.state.pos.cart.totalDiscountNominal > 0
                    "
                    ><v-icon>mdi-close-thick</v-icon></v-btn
                  >
                </td>
                <td class="text-right">
                  {{
                    $helpers.numberFormat(
                      $store.state.pos.cart.totalDiscountNominal,
                      ",",
                      "."
                    )
                  }}
                </td>
              </tr>
              <tr>
                <td class="font-weight-bold">Total Bayar</td>
                <td class="text-right font-weight-bold">
                  {{
                    $helpers.numberFormat(
                      $store.state.pos.cart.totalPayable,
                      0,
                      ",",
                      "."
                    )
                  }}
                </td>
              </tr>
            </table>
          </div>
          <div class="pa-2">
            <table style="width: 100%">
              <tr>
                <td class="text-center">
                  <v-btn
                    class="my-red-button"
                    rounded
                    depressed
                    block
                    dark
                    @click="resetCart"
                  >
                    <v-icon>mdi-close-thick</v-icon>
                  </v-btn>
                </td>
                <td class="text-center">
                  <v-btn
                    class="my-yellow-button"
                    rounded
                    depressed
                    block
                    dark
                    @click="doSave"
                  >
                    <v-icon>mdi-content-save</v-icon>
                  </v-btn>
                </td>
                <td class="text-center" style="width: 75%">
                  <v-btn
                    class="my-green-button"
                    rounded
                    depressed
                    block
                    dark
                    @click="
                      payment.dialog.pay = true;
                      payment.totalPay = 0;
                    "
                    >Pilih Pembayaran</v-btn
                  >
                </td>
              </tr>
            </table>
          </div>
        </v-card>
      </v-sheet>
    </v-card>

    <!-- Dialog Summary And Select Methods Payment -->
    <v-dialog v-model="payment.dialog.pay" persistent max-width="800">
      <v-card class="rounded-lg">
        <v-card-title>
          <h4>Pembayaran Pesanan</h4>
          <v-spacer></v-spacer>
          <v-btn depressed icon @click="payment.dialog.pay = false">
            <v-icon>mdi-close-thick</v-icon>
          </v-btn>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text class="py-0 px-3">
          <v-row>
            <!-- Left Section -->
            <v-col cols="4">
              <div class="subtitle-1 text-center my-3">
                <div style="color: #616161">Total Tagihan</div>
                <div style="color: #3082ed" class="text-h6 font-weight-bold">
                  Rp
                  {{
                    $helpers.numberFormat(
                      $store.state.pos.cart.totalPayable,
                      0,
                      ",",
                      "."
                    )
                  }}
                </div>
              </div>
              <div class="subtitle-2 text-center my-3">
                <div style="color: #616161">Sisa</div>
                <div style="color: #F44336" class="subtitle-1 font-weight-bold">
                  Rp
                  {{ $helpers.numberFormat(payment.totalbalance, 0, ",", ".") }}
                </div>
              </div>
              <div class="subtitle-2 text-center my-3">
                <div style="color: #616161">Kembalian</div>
                <dir style="color: #2a8953" class="subtitle-1 font-weight-bold">
                  Rp
                  {{
                    $helpers.numberFormat(payment.totalExchange, 0, ",", ".")
                  }}
                </dir>
              </div>
            </v-col>

            <!-- <v-divider vertical></v-divider> -->

            <!-- Right Section -->
            <v-col cols="8" class="pl-0 pr-8">
              <!-- Payment Methods Tabs -->
              <div class="subtitle-2 font-weight-bold">Metode Bayar</div>
              <div class="mb-4 mt-2">
                <v-btn
                  class="text-capitalize mx-1"
                  :class="
                    payment.paymentType == String(key)
                      ? 'my-blue-button'
                      : 'button-active'
                  "
                  rounded
                  depressed
                  v-for="(value, key) in payment.paymentMethods"
                  small
                  :key="key"
                  @click="
                    payment.paymentType = String(key);
                    payment.paymentType != 'cash'
                      ? (payment.totalPay = $store.state.pos.cart.totalPayable)
                      : (payment.totalPay = 0);
                  "
                >
                  <v-icon
                    :color="
                      payment.paymentType != String(key)
                        ? value.color
                        : '#FAFAFA'
                    "
                    >{{ value.icon }}</v-icon
                  >
                  {{ value.text }}
                </v-btn>
              </div>
              <!-- Form Total Pay -->
              <div class="mb-4">
                <div class="subtitle-2 font-weight-bold">
                  Uang yang diterima
                </div>
                <table class="mt-1" style="width: 100%">
                  <tr>
                    <td style="width: 75%">
                      <v-currency-field
                        v-model="payment.totalPay"
                        placeholder="Uang yang diterima"
                        filled
                        rounded
                        :readonly="payment.paymentType != 'cash' ? true : false"
                        dense
                        prefix="Rp"
                        hide-details
                      >
                        <v-icon
                          style="margin-top: -2px"
                          class="mr-1"
                          slot="append"
                          color="#F44336"
                          @click="payment.totalPay = 0"
                          v-if="payment.paymentType == 'cash'"
                        >
                          mdi-backspace-outline
                        </v-icon>
                      </v-currency-field>
                    </td>
                    <td style="width: 25%">
                      <v-btn
                        v-if="payment.paymentType == 'cash'"
                        height="40"
                        class="ml-1 rounded-xl payment-cash"
                        block
                        depressed
                        dark
                        @click="
                          payment.totalPay = $store.state.pos.cart.totalPayable;
                          payment.paymentType = 'cash';
                        "
                      >
                        Uang Pas
                      </v-btn>
                    </td>
                  </tr>
                </table>
              </div>
              <!-- Shortcut -->
              <div style="height: 130px">
                <div v-if="payment.paymentType == 'cash'">
                  <div class="font-weight-bold">Pintasan Pecahan Uang</div>
                  <div class="">
                    <table style="width: 100%">
                      <tr>
                        <td style="width: 25%" class="pr-2 py-2">
                          <v-btn
                            class="rounded-lg lima-ratus"
                            height="30"
                            depressed
                            dark
                            block
                            @click="
                              payment.totalPay += 500;
                              payment.paymentType = 'cash';
                            "
                          >
                            + 500
                          </v-btn>
                        </td>
                        <td style="width: 25%" class="pr-2 py-2">
                          <v-btn
                            class="ml-3 rounded-lg seribu"
                            height="30"
                            depressed
                            dark
                            block
                            @click="
                              payment.totalPay += 1000;
                              payment.paymentType = 'cash';
                            "
                          >
                            + 1K
                          </v-btn>
                        </td>
                        <td style="width: 25%" class="pr-2 py-2">
                          <v-btn
                            class="ml-3 rounded-lg dua-ribu"
                            height="30"
                            depressed
                            dark
                            block
                            @click="
                              payment.totalPay += 2000;
                              payment.paymentType = 'cash';
                            "
                          >
                            + 2K
                          </v-btn>
                        </td>
                        <td style="width: 25%" class="pr-2 py-2">
                          <v-btn
                            class="ml-3 rounded-lg lima-ribu"
                            height="30"
                            depressed
                            dark
                            block
                            @click="
                              payment.totalPay += 5000;
                              payment.paymentType = 'cash';
                            "
                          >
                            + 5K
                          </v-btn>
                        </td>
                      </tr>
                      <tr>
                        <td class="pr-2 py-2">
                          <v-btn
                            class="rounded-lg sepuluh-ribu"
                            height="30"
                            depressed
                            dark
                            block
                            @click="
                              payment.totalPay += 10000;
                              payment.paymentType = 'cash';
                            "
                          >
                            + 10K
                          </v-btn>
                        </td>
                        <td class="pr-2 py-2">
                          <v-btn
                            class="ml-3 rounded-lg duapuluh-ribu"
                            height="30"
                            depressed
                            dark
                            block
                            @click="
                              payment.totalPay += 20000;
                              payment.paymentType = 'cash';
                            "
                          >
                            + 20K
                          </v-btn>
                        </td>
                        <td class="pr-2 py-2">
                          <v-btn
                            class="ml-3 rounded-lg limapuluh-ribu"
                            height="30"
                            depressed
                            dark
                            block
                            @click="
                              payment.totalPay += 50000;
                              payment.paymentType = 'cash';
                            "
                          >
                            + 50K
                          </v-btn>
                        </td>
                        <td class="pr-2 py-2">
                          <v-btn
                            class="ml-3 rounded-lg seratus-ribu"
                            height="30"
                            depressed
                            dark
                            block
                            @click="
                              payment.totalPay += 100000;
                              payment.paymentType = 'cash';
                            "
                          >
                            + 100K
                          </v-btn>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </v-col>
          </v-row>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer> </v-spacer>
          <v-btn @click="doPay()" depressed class="my-blue-button" rounded>
            <v-icon left>mdi-check-circle-outline</v-icon>
            Proses Pembayaran
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Dialog Payment Alert -->
    <!-- <v-dialog v-model="dialogAlert" persistent scrollable max-width="290">
      <v-card class="rounded">
        <sweetalert-icon icon="warning" />
        <v-card-text class="text-center">{{
          dialogAlertMessage
        }}</v-card-text>
        <v-card-actions class="px-6">
          <v-btn
            class="my-blue-button"
            rounded
            block
            depressed
            @click="dialogAlert = false"
            >OKE</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog> -->

    <!-- Dialog Payment Proccess -->
    <v-dialog
      v-model="payment.dialog.paymentProcess"
      persistent
      scrollable
      max-width="290"
    >
      <v-card class="rounded">
        <v-card-text>
          <div class="text-center">
            <sweetalert-icon :icon="payment.paymentProcessStatusIcon" />
            <div v-if="payment.paymentProcessStatusIcon == 'loading'">
              Memproses transaksi
            </div>
            <div v-if="payment.paymentProcessStatusIcon == 'success'">
              <div class="subtitle font-weight-bold">Transaksi berhasil</div>

              <v-chip
                class="ma-2 subtitle font-weight-bold"
                color="green"
                dark
                v-if="payment.totalExchange > 0"
                >Kembalian: Rp.
                {{
                  $helpers.numberFormat(payment.totalExchange, 0, ",", ".")
                }}</v-chip
              >

              <v-btn
                class="mt-8 my-green-button"
                rounded
                depressed
                block
                dark
                @click="doPrint()">
                <v-icon class="mr-2">mdi-printer</v-icon>
                Print Nota
              </v-btn>
              <v-btn
                class="mt-4 my-yellow-button"
                rounded
                depressed
                block
                dark
                @click="doPrintOrder(print.transaction)">
                <v-icon class="mr-2">mdi-printer</v-icon>
                Print Order
              </v-btn>
              <v-btn class="mt-4 my-wa-button" rounded depressed block dark>
                <v-icon class="mr-2">mdi-whatsapp</v-icon>Kirim Whatsapp
              </v-btn>
              <v-btn
                class="mt-4 my-grey-button"
                rounded
                block
                depressed
                @click="payment.dialog.paymentProcess = false"
                >Tutup</v-btn
              >
            </div>
            <div v-if="payment.paymentProcessStatusIcon == 'error'">
              <div class="subtitle font-weight-bold">Transaksi gagal</div>
              <v-btn
                class="mt-8"
                rounded
                depressed
                block
                @click="payment.dialog.paymentProcess = false"
                >Coba lagi</v-btn
              >
            </div>
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>

    <!-- Dialog Save Proccess -->
    <v-dialog
      v-model="payment.dialog.saveProcess"
      persistent
      scrollable
      max-width="290"
    >
      <v-card class="rounded">
        <v-card-text>
          <div class="text-center">
            <sweetalert-icon :icon="payment.paymentProcessStatusIcon" />
            <div v-if="payment.paymentProcessStatusIcon == 'loading'">
              Memproses Pesanan
            </div>
            <div v-if="payment.paymentProcessStatusIcon == 'success'">
              <div class="subtitle font-weight-bold">Pesanan berhasil disimpan</div>
              <v-btn
                class="mt-4 my-yellow-button"
                rounded
                depressed
                block
                dark
                @click="doPrintOrder(print.transaction)">
                <v-icon class="mr-2">mdi-printer</v-icon>
                Print Order
              </v-btn>
              <v-btn
                class="mt-4 my-grey-button"
                rounded
                block
                depressed
                @click="payment.dialog.saveProcess = false"
                >Tutup</v-btn
              >
            </div>
            <div v-if="payment.paymentProcessStatusIcon == 'error'">
              <div class="subtitle font-weight-bold">Transaksi gagal</div>
              <v-btn
                class="mt-8"
                rounded
                depressed
                block
                @click="payment.dialog.saveProcess = false"
                >Coba lagi</v-btn
              >
            </div>
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>

    <!-- Load Cart Components -->
    <TheCartEdit />
    <TheItemEdit />
    <TheDiscountGlobal />
  </div>
</template>

<script>
import TheCartEdit from "@/components/posRevolution/TheCartEdit";
import TheItemEdit from "@/components/posRevolution/TheItemEdit";
import TheDiscountGlobal from "@/components/posRevolution/TheDiscountGlobal";
import SweetalertIcon from "vue-sweetalert-icons";
import "@/plugins/print";
export default {
  name: "TheCart",
  components: {
    TheCartEdit,
    TheItemEdit,
    TheDiscountGlobal,
    SweetalertIcon,
  },
  data() {
    return {
      // Variabel payment
      payment: {
        dialog: {
          pay: false,
          paymentProcess: false,
          saveProcess: false
        },
        paymentMethods: {
          cash: {
            text: "Tunai",
            icon: "mdi-cash-check",
            color: "#424242",
          },
          transfer: {
            text: "Transfer",
            icon: "mdi-bank-transfer",
            color: "#37474F",
          },
          edc: {
            text: "EDC",
            icon: "mdi-credit-card-outline",
            color: "#FF9800",
          },
          gopay: {
            text: "GoPay",
            icon: "mdi-wallet-outline",
            color: "#4CAF50",
          },
          ovo: {
            text: "OVO",
            icon: "mdi-circle-double",
            color: "#9C27B0",
          },
        },
        paymentProcessStatusIcon: "loading",
        paymentType: "cash",
        totalPay: 0,
        totalbalance: 0,
        totalExchange: 0,
        nominalInput: 0,
      },
      print:{
        transaction:{}
      }
    };
  },
  computed: {},
  watch: {
    "payment.totalPay": function (val) {
      this.payment.totalbalance =
        val <= this.$store.state.pos.cart.totalPayable
          ? Math.abs(val - this.$store.state.pos.cart.totalPayable)
          : 0;
      this.payment.totalExchange =
        val <= this.$store.state.pos.cart.totalPayable
          ? 0
          : Math.abs(val - this.$store.state.pos.cart.totalPayable);
    },
    "payment.dialog.pay": function (val) {
      if (val) {
        if (this.$store.state.pos.cart.products.length <= 0) {
          this.$store.state.pos.snackbar.show = true;
          this.$store.state.pos.snackbar.text = "Pesanan masih kosong";

          this.payment.dialog.pay = false;
        }
      }
    },
  },

  mounted() {
    this.resetCart(false);
  },

  methods: {
    //buka dialog edit item
    openDialogEditItem(index) {
      this.$store.state.pos.cart.itemEdit.dialog = true;
      this.$store.state.pos.cart.itemEdit.index = index;
      this.$store.state.pos.cart.itemEdit.data = Object.assign(
        {},
        this.$store.state.pos.cart.products[index]
      );
    },

    //kurangi qty
    decrementQty(index) {
      let cart = this.$store.state.pos.cart.products[index];

      let itemOnItems = this.$store.state.pos.products.find(
        (item) => item.id === cart.id
      );

      if (itemOnItems) {
        let indexItem = this.$store.state.pos.products.indexOf(itemOnItems);
        this.$store.state.pos.products[indexItem].qty--;
        if (cart.qty > 1) {
          this.$store.state.pos.cart.products[index].qty--;
        } else {
          this.$store.state.pos.cart.products[
            index
          ].price = this.$store.state.pos.cart.products[index].sellingPrice;
          this.$store.state.pos.cart.products.splice(index, 1);
        }
      }
    },

    //tambah qty
    incrementQty(index) {
      let cart = this.$store.state.pos.cart.products[index];

      let itemOnItems = this.$store.state.pos.products.find(
        (item) => item.id === cart.id
      );

      if (itemOnItems) {
        let indexItem = this.$store.state.pos.products.indexOf(itemOnItems);
        this.$store.state.pos.products[indexItem].qty++;
        this.$store.state.pos.cart.products[index].qty++;
      }
    },

    //reset diskon global
    resetDiscount() {
      this.$store.state.pos.cart.discountTitle = "";
      this.$store.state.pos.cart.totalDiscountPercent = 0;
      this.$store.state.pos.cart.totalDiscountNominal = 0;
    },

    //reset cart
    resetCart(notif = true) {
      // looping semua, balikkan qty ke 0 dan balikkan harga ke harga semula
      this.$store.state.pos.products.forEach(function (product) {
        product.qty = 0;
        product.price = product.sellingPrice;
      });

      // kembalikan form payment
      this.payment.paymentType = "cash";
      this.payment.nominalInput = 0;

      // kembalikan nilai default cart
      this.$store.state.pos.cart = Object.assign(
        {},
        {
          dialogEdit: false,
          dialogDiscount: false,
          itemEdit: {
            dialog: false,
            index: 0,
            data: {
              id: "0",
              category_id: "0",
              name: "",
              image: "",
              price: 0,
              sellingPrice: 0,
              qty: 0,
              discountTitle: "",
              discountPercent: 0,
              discountNominal: 0,
              stock: 0,
              stockWarning: false,
            },
          },
          holdId: 0,
          customer: {
            text: "Umum",
            value: "0",
          },
          table: "Tanpa Meja",
          salesType: {
            text: "Dine In",
            slug: "dine_in",
          },
          products: [],
          subTotal: 0,
          discountTitle: "",
          totalDiscountPercent: 0,
          totalDiscountNominal: 0,
          totalPayable: 0,
        }
      );

      if (notif) {
        this.$store.state.pos.snackbar.show = true;
        this.$store.state.pos.snackbar.text = "Pesanan direset";
      }
    },

    //aksi save
    async doSave() {
      if (this.$store.state.pos.cart.products.length == 0) {
        this.$store.state.pos.snackbar.show = true;
        this.$store.state.pos.snackbar.text = "Pesanan masih kosong";
      } else {
        // select actived sales type
        let selectedSalestype = this.$store.state.pos.salesTypes.find(
          (element) => element.slug == this.$store.state.pos.cart.salesType.slug
        );

        let valueMargin = 0;
        //cek apakah tipe penjualan ada, dan valuenya lebih dari 0
        if (selectedSalestype && selectedSalestype.value > 0) {
          valueMargin = parseInt(selectedSalestype.value);
        }
        
        // update salling price berdasarkan sales type
        this.$store.state.pos.cart.products.forEach(element =>{
          //bila marginnya persen
          if (selectedSalestype.margin == "percent") {
            element.sellingPrice  = element.sellingPrice + (valueMargin * element.sellingPrice / 100);
          }

          //bila marginnya nominal
          if (selectedSalestype.margin == "nominal") {
            element.sellingPrice  = element.sellingPrice + valueMargin;
          }
        })

        this.$store.state.pos.overlayLoading = true;
        this.payment.dialog.saveProcess = true;
        this.payment.paymentProcessStatusIcon = "loading";
        
        let data = {
          id: parseInt(this.$store.state.pos.cart.holdId),
          table: this.$store.state.pos.cart.table,
          discount_percent: this.$store.state.pos.cart.totalDiscountPercent,
          discount_nominal: this.$store.state.pos.cart.totalDiscountNominal,
          nett_price: this.$store.state.pos.cart.totalPayable,
          customer_id: this.$store.state.pos.cart.customer.value,
          customer_name: this.$store.state.pos.cart.customer.text,
          sales_type_name: this.$store.state.pos.cart.salesType.text,
          sales_type_slug: this.$store.state.pos.cart.salesType.slug,
          items: JSON.stringify(this.$store.state.pos.cart.products),
        };

        await this.axios
          .post("pos/save", data)
          .then((res) => {
            let response = res.data;
            this.snackbar = true;
            this.snackbarText = response.msg;
            if (response.status == "success") {
              response.result.data.product_detail = this.$store.state.pos.cart.products
              this.print.transaction = Object.assign({}, response.result.data)
              this.$store.state.totalSOPending = response.result.total_hold;
              this.resetCart(false);
              this.payment.paymentProcessStatusIcon = "success";
            } else {
              this.payment.paymentProcessStatusIcon = "error";
            }
          })
          .catch(function (error) {
            console.log(error);
          });
        this.$store.state.pos.overlayLoading = false;
      }
    },

    // aksi bayar
    async doPay() {
      const _self = this;

      if (this.payment.totalbalance !== 0) {
        this.$store.state.pos.snackbar.show = true;
        this.$store.state.pos.snackbar.text =
          "Pastikan uang pembayaran tidak kurang!";
      } else {
        // select actived sales type
        let selectedSalestype = this.$store.state.pos.salesTypes.find(
          (element) => element.slug == this.$store.state.pos.cart.salesType.slug
        );
        
        let valueMargin = 0;
        //cek apakah tipe penjualan ada, dan valuenya lebih dari 0
        if (selectedSalestype && selectedSalestype.value > 0) {
          valueMargin = parseInt(selectedSalestype.value);
        }
        
        // update salling price berdasarkan sales type
        this.$store.state.pos.cart.products.forEach(element =>{
          //bila marginnya persen
          if (selectedSalestype.margin == "percent") {
            element.sellingPrice  = element.sellingPrice + (valueMargin * element.sellingPrice / 100);
          }

          //bila marginnya nominal
          if (selectedSalestype.margin == "nominal") {
            element.sellingPrice  = element.sellingPrice + valueMargin;
          }
        })

        this.$store.state.pos.overlayLoading = true;
        this.payment.dialog.pay = false;
        this.payment.dialog.paymentProcess = true;
        this.payment.paymentProcessStatusIcon = "loading";

        let soId = 0;
        if (this.$store.state.pos.cart.holdId) {
          soId = parseInt(this.$store.state.pos.cart.holdId);
        }

        let data = {
          id: soId,
          payment_method: this.payment.paymentType,
          table: this.$store.state.pos.cart.table,
          discount_percent: this.$store.state.pos.cart.totalDiscountPercent,
          discount_nominal: this.$store.state.pos.cart.totalDiscountNominal,
          nett_price: this.$store.state.pos.cart.totalPayable,
          customer_id: this.$store.state.pos.cart.customer.value,
          customer_name: this.$store.state.pos.cart.customer.text,
          sales_type_name: this.$store.state.pos.cart.salesType.text,
          sales_type_slug: this.$store.state.pos.cart.salesType.slug,
          items: JSON.stringify(this.$store.state.pos.cart.products),
        };
        // console.log(data)
        await this.axios
          .post("pos/pay", data)
          .then((res) => {
            let response = res.data;
            this.snackbar = true;
            this.snackbarText = response.msg;
            if (response.status == "success") {
              this.$store.state.totalSOPending = response.result.total_hold;
              response.result.data.totalPaid = this.payment.totalPay
              response.result.data.totalExchange = this.payment.totalExchange
              response.result.data.product_detail = this.$store.state.pos.cart.products
              this.print.transaction = Object.assign({}, response.result.data)
              this.resetCart(false);
              this.payment.paymentProcessStatusIcon = "success";

              //update stock master product
              if (response.result.remaining_stock.length > 0) {
                response.result.remaining_stock.forEach((product) => {
                  let itemOnProducts = _self.$store.state.pos.products.find(
                    (item) => item.id == product.product_id
                  );

                  if (itemOnProducts) {
                    let indexItem = _self.$store.state.pos.products.indexOf(
                      itemOnProducts
                    );
                    _self.$store.state.pos.products[indexItem].stock =
                      product.stock_balance;
                    _self.$store.state.pos.products[indexItem].stockWarning =
                      product.stock_warning;
                  }
                });
              }
            } else {
              this.payment.paymentProcessStatusIcon = "error";
            }
          })
          .catch(function (error) {
            console.log(error);
            this.payment.dialog.paymentProcess = false;
          });
        this.$store.state.pos.overlayLoading = false;
      }
    },

    doPrint() {
      let responseData = this.print.transaction
      let dataPrint = {
        companyName: "Tempat Temen",
        companyAddress: "Jl. Kusumanegara No. 162 Yogyakarta",
        companyPhone: "",

        orderNumber: responseData.sales_order_number,
        orderDate: responseData.sales_order_input_datetime,
        orderTransNumber: responseData.sales_order_transaction_number,
        orderAdmin: responseData.sales_order_input_user_fullname,
        orderTable: responseData.sales_order_table_number,
        orderCustomer: responseData.sales_order_customer_name,
        orderSalesType: responseData.sales_order_sales_type_name,
        items: responseData.product_detail,
        totalPrice: responseData.sales_order_total_product_price,
        discountName: "",
        totalDiscountPercent: responseData.sales_order_total_discount_percent,
        totalDiscountNominal: responseData.sales_order_total_discount_nominal,
        totalPayable: responseData.sales_order_grand_total,
        paymentMethod: responseData.sales_order_payment_method,
        totalPaid: responseData.totalPaid,
        change: responseData.totalExchange,
      }
      this.$print.dataTrans = Object.assign({},dataPrint)
      this.$print.mini58RawBtUniAndroidTrans();
    },
    
    doSpecialPrint(){
      let responseData = this.print.transaction
      let dataPrint = {
        companyName: "Next POS",
        companyAddress: "Yogyakarta",
        companyPhone: "082135965203",

        orderNumber: responseData.sales_order_number,
        orderDate: responseData.sales_order_input_datetime,
        orderTransNumber: responseData.sales_order_transaction_number,
        orderAdmin: responseData.sales_order_input_user_fullname,
        orderTable: responseData.sales_order_table_number,
        orderCustomer: responseData.sales_order_customer_name,
        orderSalesType: responseData.sales_order_sales_type_name,
        items: responseData.product_detail,
        totalPrice: responseData.sales_order_total_product_price,
        discountName: "",
        totalDiscountPercent: responseData.sales_order_total_discount_percent,
        totalDiscountNominal: responseData.sales_order_total_discount_nominal,
        totalPayable: responseData.sales_order_grand_total,
        paymentMethod: responseData.sales_order_payment_method,
        totalPaid: responseData.totalPaid,
        change: responseData.totalExchange,
      }
      this.$print.dataTrans = Object.assign({},dataPrint)
      this.$print.mini58PassPRNTStarMPopIpadTrans();
    },

    doPrintOrder(value){
        let dataPrint = {
          orderNumber: value.sales_order_number,
          orderDate: value.sales_order_input_datetime,
          orderTable: value.sales_order_table_number,
          orderCustomer: value.sales_order_customer_name,
          orderSalesType: value.sales_order_sales_type_name,

          items: value.product_detail,
        }
      this.$print.dataOrder = Object.assign({}, dataPrint)
      this.$print.mini58RawBtUniAndroidOrder()
    }
  },
};
</script>

<style scoped>
.button-active {
  border: 1px solid #3286ee;
  color: #3286ee !important;
  background-color: #ffffff !important;
}
.cart-card {
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #ece9e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.lima-ratus {
  background: #8e9eab; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #eef2f3,
    #8e9eab
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #eef2f3,
    #8e9eab
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.seribu {
  background: #CCCCB2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #CCCCB2,
    #757519
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #CCCCB2,
    #757519
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.dua-ribu {
  background: #BBD2C5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #BBD2C5,
    #536976
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #BBD2C5,
    #536976
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.lima-ribu {
  background: #D1913C; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #FFD194,
    #D1913C
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #FFD194,
    #D1913C
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.sepuluh-ribu {
  background: #9D50BB; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9D50BB,
    #6E48AA
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #9D50BB,
    #6E48AA
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.duapuluh-ribu {
  background: #56ab2f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #a8e063,
    #56ab2f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #a8e063,
    #56ab2f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.limapuluh-ribu {
  background: #56CCF2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #56CCF2,
    #2F80ED
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #56CCF2,
    #2F80ED
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.seratus-ribu {
  background: #FBD3E9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #FBD3E9,
    #BB377D
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #FBD3E9,
    #BB377D
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
</style>