<template>
  <div>
    <v-dialog
      v-model="$store.state.pos.cart.dialogDiscount"
      persistent
      scrollable
      max-width="500"
    >
      <v-card class="rounded-lg">
        <v-card-title>
          <h4>Form Diskon Global</h4>
          <v-spacer></v-spacer>
          <v-btn
            depressed
            icon
            @click="$store.state.pos.cart.dialogDiscount = false"
          >
            <v-icon>mdi-close-thick</v-icon>
          </v-btn>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <!-- Tabs -->
          <v-row>
            <v-col cols="12">
              <h4 class="mb-4">Pilih Kategori Diskon</h4>
              <div class="d-flex mb-3">
                <v-btn
                  class="mr-2"
                  :class="tabs == 'paket' ? 'button-active' : 'my-blue-button'"
                  rounded
                  depressed
                  small
                  @click="tabs = 'paket'"
                >
                  Paket
                </v-btn>
                <!-- DISKON PERSEN -->
                <v-btn
                  class="mr-2"
                  :class="
                    tabs == 'percent' ? 'button-active' : 'my-blue-button'
                  "
                  rounded
                  depressed
                  small
                  @click="tabs = 'percent'"
                >
                  Persen
                </v-btn>
                <!-- DISKON NOMINAL -->
                <v-btn
                  class="mr-2"
                  :class="
                    tabs == 'nominal' ? 'button-active' : 'my-blue-button'
                  "
                  rounded
                  depressed
                  small
                  @click="tabs = 'nominal'"
                >
                  Nominal
                </v-btn>
              </div>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <v-currency-field
                v-model="discountPercentPaket"
                prepend-inner-icon="mdi-sale"
                placeholder="Diskon Persen"
                filled
                rounded
                readonly
                dense
                suffix="%"
                hide-details
                class="mb-3"
                v-show="tabs == 'paket'"
              />
              <v-currency-field
                v-model="discountPercent"
                prepend-inner-icon="mdi-sale"
                placeholder="Diskon Persen"
                filled
                rounded
                dense
                suffix="%"
                hide-details
                class="mb-3"
                v-show="tabs == 'percent'"
              />
              <v-currency-field
                v-model="discountNominal"
                prepend-inner-icon="mdi-sale"
                placeholder="Diskon Nominal"
                filled
                rounded
                dense
                prefix="Rp"
                hide-details
                class="mb-3"
                v-show="tabs == 'nominal'"
              />
              <span
                class="mx-1"
                v-for="(item, index) in $store.state.pos.discountsGlobal"
                :key="index"
              >
                <v-btn
                  v-if="tabs == 'paket'"
                  small
                  class="ma-1 my-blue-button rounded"
                  depressed
                  @click="
                    discountPercentPaket = item.percent;
                    discountName = item.title;
                  "
                >
                  {{ item.title }} ({{ item.percent }}%)
                </v-btn>
              </span>
            </v-col>
          </v-row>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            depressed
            class="my-blue-button"
            rounded
            @click="checkDiscountItems"
            ><v-icon left>mdi-check-circle-outline</v-icon> Terapkan</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="dialogConfirmResetItems"
      persistent
      scrollable
      max-width="400"
    >
      <v-card class="rounded-lg">
        <v-card-title>
          <h4>Konfirmasi Reset Diskon Item</h4>
          <v-spacer></v-spacer>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <p>
            Diskon global akan mereset diskon per item, apakah yakin akan
            menerapkannya?
          </p>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn
            depressed
            class="my-red-button"
            rounded
            @click="
              discountName = '';
              discountPercentPaket = 0;
              discountPercent = 0;
              discountNominal = 0;
              dialogConfirmResetItems = false;
            "
            ><v-icon left>mdi-close</v-icon> Batal</v-btn
          >
          <v-spacer></v-spacer>
          <v-btn
            depressed
            class="my-blue-button"
            rounded
            @click="saveDiscountEdit"
            ><v-icon left>mdi-check-circle-outline</v-icon> Yakin</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      discountName: "",
      discountPercentPaket: 0,
      discountPercent: 0,
      discountNominal: 0,
      tabs: "paket",
      dialogConfirmResetItems: false,
    };
  },

  watch: {
    "$store.state.pos.cart.dialogDiscount": function (val) {
      if (val) {
        if (this.$store.state.pos.cart.discountTitle != "") {
          this.tabs = "paket";
          this.discountName = this.$store.state.pos.cart.discountTitle;
          this.discountPercentPaket = this.$store.state.pos.cart.totalDiscountPercent;
          this.discountPercent = 0;
          this.discountNominal = 0;
        } else {
          if (
            this.$store.state.pos.cart.totalDiscountPercent <= 0 &&
            this.$store.state.pos.cart.totalDiscountNominal <= 0
          ) {
            this.tabs = "paket";
            this.discountName = "";
            this.discountPercentPaket = 0;
            this.discountPercent = 0;
            this.discountNominal = 0;
          } else {
            if (this.$store.state.pos.cart.totalDiscountPercent > 0) {
              this.tabs = "percent";
              this.discountName = "";
              this.discountPercentPaket = 0;
              this.discountPercent = this.$store.state.pos.cart.totalDiscountPercent;
              this.discountNominal = 0;
            } else {
              this.tabs = "nominal";
              this.discountName = "";
              this.discountPercentPaket = 0;
              this.discountPercent = 0;
              this.discountNominal = this.$store.state.pos.cart.totalDiscountNominal;
            }
          }
        }
      }
    },
  },

  methods: {
    //cek diskon item sebelum terapkan diskon global
    checkDiscountItems() {
      let totalDiscoutPercent = 0;
      let totalDiscoutNominal = 0;
      this.$store.state.pos.cart.products.forEach((product) => {
        totalDiscoutPercent += product.discountPercent;
        totalDiscoutNominal += product.discountNominal;
      });

      if (totalDiscoutPercent > 0 || totalDiscoutNominal > 0) {
        this.dialogConfirmResetItems = true;
      } else {
        this.saveDiscountEdit();
      }
    },

    saveDiscountEdit() {
      // this.$emit(`discountGlobal`, {
      //   discountSelected: this.discountSelected,
      //   tabs: this.tabs,
      // });

      //reset diskon item
      this.$store.state.pos.cart.products.forEach((product) => {
        product.discountTitle = "";
        product.discountPercent = 0;
        product.discountNominal = 0;
      });

      this.dialogConfirmResetItems = false;

      switch (this.tabs) {
        case "paket":
          this.$store.state.pos.cart.discountTitle = this.discountName;
          this.$store.state.pos.cart.totalDiscountPercent = this.discountPercentPaket;
          this.$store.state.pos.cart.totalDiscountNominal = Math.round(
            (this.$store.state.pos.cart.subTotal * this.discountPercentPaket) /
              100
          );
          break;
        case "percent":
          this.$store.state.pos.cart.discountTitle = "";
          if (this.discountPercent > 100) {
            this.discountPercent = 100;
          }
          this.$store.state.pos.cart.totalDiscountPercent = this.discountPercent;
          this.$store.state.pos.cart.totalDiscountNominal = Math.round(
            (this.$store.state.pos.cart.subTotal * this.discountPercent) / 100
          );
          break;
        case "nominal":
          this.$store.state.pos.cart.discountTitle = "";
          this.$store.state.pos.cart.totalDiscountPercent = 0;
          if (this.discountNominal > this.$store.state.pos.cart.subTotal) {
            this.discountNominal = this.$store.state.pos.cart.subTotal;
          }
          this.$store.state.pos.cart.totalDiscountNominal = this.discountNominal;
          break;
      }
      this.$store.state.pos.cart.dialogDiscount = false;
    },
  },
};
</script>

<style>
</style>