<template>
  <div>
    <v-chip-group mandatory v-model="$store.state.pos.selectedCategory">
      <v-chip class="chip-category">Semua Kategori</v-chip>
      <v-chip
        v-for="(category, i) in $store.state.pos.categories"
        :key="i"
        class="chip-category"
        >{{ category.text }}</v-chip
      >
    </v-chip-group>
  </div>
</template>

<script>
export default {
  name: "TheKategori",
  data: () => ({}),

  watch: {},
};
</script>

<style>
</style>