<template>
  <div>
    <v-row>
      <v-col cols="12">
        <TheGrid
          ref="customerGrid"
          :title="title"
          :endPoint="endPoint"
          :headers="headers"
          :filters="filters"
          :actions="actions"
          class="ma-1"
          @action:create="openModalCreate"
          @action:update="openModalUpdate"
        />
      </v-col>
    </v-row>
    <TheSnackbar ref="snackbar" />
    <v-row justify="center">
      <v-dialog v-model="created.dialog" persistent max-width="600px;">
          <v-form ref="formCreate" @keyup.native.enter="doCreate">
          <v-card>
            <v-card-title>
              <span class="headline">Tambah Customer</span>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12" sm="6" md="3">
                    <v-text-field 
                    label="Nama*"
                    type="text"
                    v-model="created.data.name"
                    name="name"
                    required
                    :error-messages="created.feedback.data.name"
                    >
                    </v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="3">
                    <v-text-field 
                    label="Email"
                    type="email"
                    v-model="created.data.email"
                    name="email"  
                    :error-messages="created.feedback.data.email"
                    >
                    </v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="3">
                    <v-text-field 
                    label="No Handphone"
                    type="text"
                    v-model="created.data.mobilephone"
                    name="mobilephone"
                    :error-messages="created.feedback.data.mobilephone"
                    >
                    </v-text-field>
                  </v-col>
                  <v-col class="d-flex" cols="12" sm="6" md="3">
                    <v-select
                      :items="items"
                      v-model="created.data.gender"
                      label="Jenis Kelamin"
                      name="gender"
                      :error-messages="created.feedback.data.gender"
                    ></v-select>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field 
                    label="Alamat"
                    type="text"
                    v-model="created.data.address"
                    name="address"
                    :error-messages="created.feedback.data.address"
                    >
                    </v-text-field>
                  </v-col>
                </v-row>
              </v-container>
              <small>*indicates required field</small>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="grey darken-1"  @click="closeDialogCreated">Tutup</v-btn>
              <v-btn color="primary" @click="doCreate">Simpan</v-btn>
            </v-card-actions>
          </v-card>
          </v-form>
      </v-dialog>

      <v-dialog v-model="updated.dialog" persistent max-width="600px;">
          <v-form ref="formUpdate" @keyup.native.enter="doUpdate">
          <v-card>
            <v-card-title>
              <span class="headline">Ubah Customer</span>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12" sm="6" md="3">
                    <v-text-field 
                    label="Nama*"
                    type="text"
                    v-model="updated.data.name"
                    name="name"
                    required
                    :error-messages="created.feedback.data.name"
                    >
                    </v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="3">
                    <v-text-field 
                    label="Email"
                    type="email"
                    v-model="updated.data.email"
                    name="email"  
                    :error-messages="updated.feedback.data.email"
                    >
                    </v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="3">
                    <v-text-field 
                    label="No Handphone"
                    type="text"
                    v-model="updated.data.mobilephone"
                    name="mobilephone"
                    :error-messages="updated.feedback.data.mobilephone"
                    >
                    </v-text-field>
                  </v-col>
                  <v-col class="d-flex" cols="12" sm="6" md="3">
                    <v-select
                      :items="items"
                      v-model="updated.data.gender"
                      label="Jenis Kelamin"
                      name="gender"
                      :error-messages="updated.feedback.data.gender"
                    ></v-select>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field 
                    label="Alamat"
                    type="text"
                    v-model="updated.data.address"
                    name="address"
                    :error-messages="updated.feedback.data.address"
                    >
                    </v-text-field>
                  </v-col>
                </v-row>
              </v-container>
              <small>*indicates required field</small>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="grey darken-1"  @click="closeDialogUpdated">Tutup</v-btn>
              <v-btn color="primary" @click="doUpdate">Simpan</v-btn>
            </v-card-actions>
          </v-card>
          </v-form>
      </v-dialog>
    </v-row>
  </div>
</template>

<script>
import TheGrid from "@/components/TheGrid";
import TheSnackbar from "@/components/TheSnackbar";
export default {
  name: "TheCustomer",
  components: { TheGrid, TheSnackbar },
  data: () => ({
    title: "Data Customer",
    endPoint: "customer/list",
    filters: [],
    headers: [
      {
        text: "Aksi",
        align: "center",
        sortable: false,
        width: 120,
        type: "action",
        options: [
          {
            text: "Ubah Customer",
            icon: "mdi-pencil",
            name: "update",
            color: "blue",
          },
        ],
      },
      {
        text: "Nama",
        align: "start",
        sortable: true,
        width: 100,
        value: "customer_name",
        type: "string",
        searchType: "string"
      },
      {
        text: "Email",
        align: "start",
        sortable: true,
        width: 90,
        value: "customer_email",
        type: "string",
        searchType: "string"
      },
      {
        text: "No Handphone",
        align: "start",
        sortable: true,
        width: 90,
        value: "customer_mobilephone",
        type: "string",
        searchType: "string"
      },
      {
        text: "Gender",
        align: "start",
        sortable: true,
        width: 90,
        value: "customer_gender",
        type: "chip",
        options: {
          text: {
            male: "Laki-laki",
            female: "Perempuan",
          },
        },
        searchType: "option",
        searchOptions: [
          {
            text: "Laki-laki",
            value: "male"
          },
          {
            text: "Perempuan",
            value: "female"
          },
        ]
      },
      {
        text: "Alamat",
        align: "start",
        sortable: true,
        width: 200,
        value: "customer_address",
        type: "string",
        searchType: "string"
      },
    ],
    actions: [
      {
        name: "create",
        text: "Tambah",
        icon: "mdi-plus-circle",
        color: "success"
      },
    ],
    items:['Laki-laki','Perempuan'],
    created:{
      dialog: false,
      data:{
        name: null,
        email: "",
        mobilephone: 0,
        address: null,
        gender: null,
      },
      feedback: {
        msg: null,
        data: {
          name:null,
          email: "",
          mobilephone: 0,
          address: null,
          gender: null,
        }
      },
    },
    updated:{
      dialog: false,
      data:{
        name: null,
        email: "",
        mobilephone: 0,
        address: null,
        gender: null,
      },
      feedback: {
        msg: null,
        data: {
          name:null,
          email: "",
          mobilephone: 0,
          address: null,
          gender: null,
        }
      },
    },
    rules: {
      counter: value => value.length <= 20 || 'Max 20 characters',
      email: value => {
        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        return pattern.test(value) || 'Invalid e-mail.'
      },
    },
  }),

  methods: {
    openModalCreate() {
      this.resetCreatedFeedback();
      this.created.dialog = true
    },

    resetCreatedFeedback() {
      this.created.feedback.msg = null;
      this.created.feedback.data.name = null;
      this.created.feedback.data.email = "";
      this.created.feedback.data.mobilephone = 0;
      this.created.feedback.data.address = null;
      this.created.feedback.data.gender = null;
    },

    closeDialogCreated() {
      this.created.dialog = false;
      this.created.data = {};
    },

    async doCreate() {
      this.resetCreatedFeedback()
      await this.axios
        .post("customer/create", this.created.data)
        .then(res => {
          let data = res.data;
          switch (data.status) {
            case "success":
              this.created.dialog = false;
              this.created.data = {};
              this.$refs.snackbar.open("success", `${data.msg}`);
              this.$refs.customerGrid.fetch();
              break;
            case "validation":
              this.created.feedback.msg = data.msg;
              this.created.feedback.data.name =
                data.result.error.name;
              this.created.feedback.data.mobilephone =
                data.result.error.mobilephone;
              this.created.feedback.data.email =
                data.result.error.email;
              this.created.feedback.data.address =
                data.result.error.address;
              break;
            case "failed":
              this.$refs.snackbar.open("error", `${data.msg}`);
              this.closeDialogCreated();
              this.$refs.customerGrid.fetch();
              break;
          }
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    openModalUpdate(value) {
      console.log(value)
      this.resetUpdatedFeedback();
      this.updated.dialog = true
      this.updated.data.id = value.customer_id;
      this.updated.data.name = value.customer_name;
      this.updated.data.email = value.customer_email;
      this.updated.data.mobilephone = value.customer_mobilephone;
      this.updated.data.address = value.customer_gender;
      this.updated.data.gender = value.customer_address;
    },

    resetUpdatedFeedback() {
      this.updated.feedback.msg = null;
      this.updated.feedback.data.name = null;
      this.updated.feedback.data.email = "";
      this.updated.feedback.data.mobilephone = 0;
      this.updated.feedback.data.address = null;
      this.updated.feedback.data.gender = null;
    },

    closeDialogUpdated() {
      this.updated.dialog = false;
      this.updated.data = {};
    },

    async doUpdate() {
      this.resetUpdatedFeedback()
      await this.axios
        .post("customer/update", this.updated.data)
        .then(res => {
          let data = res.data;
          switch (data.status) {
            case "success":
              this.updated.dialog = false;
              this.updated.data = {};
              this.$refs.snackbar.open("success", `${data.msg}`);
              this.$refs.customerGrid.fetch();
              break;
            case "validation":
              this.updated.feedback.msg = data.msg;
              this.updated.feedback.data.name =
                data.result.error.name;
              this.updated.feedback.data.mobilephone =
                data.result.error.mobilephone;
              this.updated.feedback.data.email =
                data.result.error.email;
              this.updated.feedback.data.address =
                data.result.error.address;
              break;
            case "failed":
              this.$refs.snackbar.open("error", `${data.msg}`);
              this.closeDialogUpdated();
              this.$refs.customerGrid.fetch();
              break;
          }
        })
        .catch(function(error) {
          console.log(error);
        });
    },
  },
};
</script>

<style>
</style>