<template>
  <div>
    <v-row>
      <v-col cols="12">
        <TheGrid
          ref="discountGrid"
          :endPoint="endPoint"
          :headers="headers"
          :filters="filters"
          :actions="actions"
          class="ma-1"
          @action:create="openDialogCreate"
          @action:updated="openDialogEdit"
          @action:deleted="openDialogDelete"
        />
      </v-col>
    </v-row>

    <!-- Update Discount -->
    <v-dialog v-model="edit.dialog" scrollable persistent max-width="400">
      <v-card class="rounded">
        <v-card-title>
          <h4>Ubah Discount</h4>
          <v-spacer></v-spacer>
          <v-btn depressed icon :disabled="loading" @click="edit.dialog = false">
            <v-icon>mdi-close-thick</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text>
          <v-form @keyup.native.enter="doUpdate" @submit.prevent>
            <v-container>
              <v-alert
                border="right"
                color="red lighten-2"
                dark
                type="error"
                v-show="edit.feedback">
                {{ edit.feedback }}
              </v-alert>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    label="Nama Diskon"
                    type="text"
                    v-model="edit.form.discount_title"
                    filled
                    dense
                    clearable
                    autofocus
                    :loading="loading">
                  </v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-select
                    :items="discountType"
                    item-text="text" 
                    item-value="value"
                    label="Cakupan Diskon"
                    dense
                    color="#424242"
                    return-string
                    filled
                    v-model="edit.form.discount_scope"
                    :loading="loading">
                  </v-select>
                </v-col>
                <v-col cols="12">
                  <v-currency-field
                    id="right"
                    dense
                    filled
                    label="Diskon Persen"
                    onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                    v-model="edit.form.discount_percent"
                    suffix="%"
                    required
                    :loading="loading"/>
                </v-col>
                <!-- <v-col cols="12">
                  <v-currency-field
                    id="right"
                    dense
                    filled
                    label="Diskon Nominal"
                    onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                    v-model="edit.form.discount_nominal"
                    suffix="%"
                    required
                    :loading="loading"/>
                </v-col> -->
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="my-yellow-button" rounded :loading="loading" depressed @click="doUpdate">
            <v-icon class="mr-2">mdi-content-save</v-icon>Simpan
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    
    <!-- Add Discount -->
    <v-dialog v-model="create.dialog" scrollable persistent max-width="400">
      <v-card class="rounded">
        <v-card-title>
          <h4>Tambah diskon</h4>
          <v-spacer></v-spacer>
          <v-btn depressed icon :disabled="loading" @click="create.dialog = false">
            <v-icon>mdi-close-thick</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text>
          <v-form @keyup.native.enter="doCreate" @submit.prevent>
            <v-container>
              <v-alert
                border="right"
                color="red lighten-2"
                dark
                type="error"
                v-show="create.feedback">
                {{ create.feedback }}
              </v-alert>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    label="Nama Diskon"
                    type="text"
                    v-model="create.form.discount_title"
                    filled
                    dense
                    clearable
                    autofocus
                    :loading="loading">
                  </v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-select
                    :items="discountType"
                    item-text="text" 
                    item-value="value"
                    label="Cakupan Diskon"
                    dense
                    color="#424242"
                    return-string
                    filled
                    v-model="create.form.discount_scope"
                    :loading="loading">
                  </v-select>
                </v-col>
                <v-col cols="12">
                  <v-currency-field
                    id="right"
                    dense
                    filled
                    label="Diskon Persen"
                    onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                    v-model="create.form.discount_percent"
                    suffix="%"
                    required
                    :loading="loading"/>
                </v-col>
                <!-- <v-col cols="12">
                  <v-currency-field
                    id="right"
                    dense
                    filled
                    label="Diskon Nominal"
                    onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                    v-model="create.form.discount_nominal"
                    suffix="%"
                    required
                    :loading="loading"/>
                </v-col> -->
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="my-blue-button" rounded depressed :loading="loading" @click="doCreate">
            <v-icon class="mr-2">mdi-content-save</v-icon>Simpan
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Delete Discount -->
    <v-dialog v-model="remove.dialog" :persistent="loading" max-width="350">
      <v-card>
        <v-card-title>
          <span class="headline">Konfirmasi Hapus diskon</span>
        </v-card-title>
        <v-card-text class="text-center">
          Apakah anda yakin menghapus diskon
          <b>{{ remove.name }}</b> ?
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            ref="cancelDialogDeleted"
            color="grey darken-1"
            text
            @click="closeDialogDeleted"
            :disabled="loading"
          >Batal</v-btn>
          <v-btn color="error" text @click="doDeleted" :loading="loading">Hapus</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <TheSnackbar ref="snackbar" />
  </div>
</template>

<script>
import TheGrid from "@/components/TheGrid";
import TheSnackbar from "@/components/TheSnackbar";
export default {
  name: "TheDiscount",
  components: { TheGrid, TheSnackbar },
  data: () => ({
    endPoint: "discount/list",
    filters: [],
    actions: [
      {
        name: "create",
        text: "Tambah Diskon",
        icon: "mdi-plus",
        color: "",
        class: "my-green-button",
      },
    ],
    headers: [
      {
        text: "Aksi",
        align: "center",
        sortable: false,
        width: 120,
        type: "action",
        options: [
          {
            text: "Ubah Diskon",
            icon: "mdi-pencil",
            name: "updated",
            color: "blue",
          },
          {
            text: "Hapus Diskon",
            icon: "mdi-delete-circle",
            name: "deleted",
            color: "red",
          },
        ],
      },
      {
        text: "Nama Tipe",
        align: "start",
        sortable: true,
        width: 100,
        value: "discount_title",
        type: "string",
        searchType: "string",
      },
      {
        text: "Cakupan",
        align: "start",
        sortable: true,
        width: 100,
        value: "discount_scope",
        type: "string",
        searchType: "string",
      },
      {
        text: "Diskon (%)",
        align: "end",
        sortable: true,
        width: 100,
        value: "discount_percent",
        type: "nominal",
        searchType: "nominal",
      },
      {
        text: "Diskon (Rp)",
        align: "end",
        sortable: true,
        width: 100,
        value: "discount_nominal",
        type: "nominal",
        searchType: "nominal",
      },
    ],
    edit: {
      dialog: false,
      form: {
        discount_id: "",
        discount_title: "",
        discount_scope: "",
        discount_percent: "",
        discount_nominal: "",
      },
      feedback: "",
    },
    create: {
      dialog: false,
      form: {
        discount_title: "",
        discount_scope: "",
        discount_percent: 0,
        discount_nominal: 0,
      },
      feedback: "",
    },
    remove: {
      id: "",
      name:"",
      dialog: false,
    },
    loading: false,
    discountType: [
      {text: 'Semua Produk', value: "global"},
      {text: 'Per Produk', value: "item"},
      // {text: 'Global', value: "global"}
    ]
  }),
  computed: {},
  methods: {
    resetForm() {
      this.edit.form.discount_title = "0";
      this.edit.form.discount_scope = "";
      this.edit.form.discount_percent = "";
      this.edit.form.discount_nominal = "";
      this.edit.feedback = "";

      this.create.form.discount_title = "";
      this.create.form.discount_scope = "";
      this.create.form.discount_percent = "";
      this.create.form.discount_nominal = "";
      this.create.feedback = "";
    },
    openDialogEdit(value) {
      this.edit.dialog = true;
      this.edit.form.discount_id = value.discount_id;
      this.edit.form.discount_title = value.discount_title;
      this.edit.form.discount_scope = value.discount_scope;
      this.edit.form.discount_percent = value.discount_percent;
      this.edit.form.discount_nominal = value.discount_nominal;
    },
    openDialogDelete(value) {
      this.remove.dialog = true;
      this.remove.id = value.discount_id;
      this.remove.name = value.discount_title;
      let _self = this;
      setTimeout(function () {
        _self.$refs.cancelDialogDeleted.$el.focus();
      }, 200);
    },
    openDialogCreate() {
      this.resetForm();
      this.create.dialog = true;
    },
    closeDialogDeleted() {
      this.remove.dialog = false;
      this.remove.name = "";
      this.remove.id = "0";
    },
    async doCreate() {
      this.loading = true;
      await this.axios
        .post("discount/create", this.create.form)
        .then((res) => {
          let data = res.data;
          switch (data.status) {
            case "success":
              this.create.dialog = false;
              this.$refs.snackbar.open("success", `${data.msg}`);
              this.$refs.discountGrid.fetch();
              break;
            case "validation":
              this.created.feedback = data.msg;
              break;
            case "failed":
              this.$refs.snackbar.open("error", `${data.msg}`);
              this.create.dialog = false;
              this.$refs.discountGrid.fetch();
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
      this.loading = false;
    },
    async doUpdate() {
      this.loading = true;
      await this.axios
        .post("discount/update", this.edit.form)
        .then((res) => {
          let data = res.data;
          switch (data.status) {
            case "success":
              this.edit.dialog = false;
              this.edit.form = {};
              this.$refs.snackbar.open("success", `${data.msg}`);
              this.$refs.discountGrid.fetch();
              break;
            case "validation":
              this.edit.feedback.msg = data.msg;
              break;
            case "failed":
              this.$refs.snackbar.open("error", `${data.msg}`);
              this.$refs.discountGrid.fetch();
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
      this.loading = false;
    },
    async doDeleted() {
      this.loading = true;

      await this.axios
        .post("discount/delete", this.remove)
        .then((res) => {
          let data = res.data;
          switch (data.status) {
            case "success":
              this.$refs.snackbar.open(
                "success",
                `Berhasil menghapus produk "${this.remove.name}"`
              );
              this.closeDialogDeleted();
              this.$refs.discountGrid.fetch();
              break;
            case "failed":
              this.$refs.snackbar.open(
                "error",
                `Gagal menghapus produk "${this.remove.name}". ${data.msg}`
              );
              this.closeDialogActivated();
              this.$refs.discountGrid.fetch();
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });

      this.loading = false;
    },
  },
};
</script>

<style>
.v-list .v-list-item--active {
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff !important;
}
</style>