<template>
  <v-dialog
    ref="dialog"
    v-model="$store.state.dialogDatePicker"
    :return-value.sync="date"
    persistent
    :width="
      $vuetify.breakpoint.name === 'xs'
        ? 290
        : $vuetify.breakpoint.name === 'sm'
        ? 400
        : 400
    "
  >
    <v-card>
      <v-date-picker no-title range v-model="date" scrollable> </v-date-picker>
      <div
        :class="
          $vuetify.breakpoint.name !== 'xs'
            ? 'd-inline-flex ma-2 mt-10 flex-column'
            : ''
        "
      >
        <v-btn
          v-for="(item, index) in shortcut"
          :key="index"
          :width="$vuetify.breakpoint.name === 'xs' ? 80 : 90"
          :class="
            $vuetify.breakpoint.name !== 'xs'
              ? 'mb-4 text-capitalize'
              : 'mx-2 text-capitalize my-2'
          "
          outlined
          small
          @click="saveDate(item.param)"
          color="primary"
        >
          {{ item.title }}
        </v-btn>
      </div>
      <div class="d-flex justify-end">
        <v-btn
          class="pr-1"
          text
          color="primary"
          @click="$store.state.dialogDatePicker = false"
          >Cancel</v-btn
        >
        <v-btn class="pl-1" text color="primary" @click="saveDate('manual')"
          >OK</v-btn
        >
      </div>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data: () => ({
    date: [],
    shortcut: [
      { title: "Today", param: "today" },
      { title: "This Week", param: "week" },
      { title: "Last Week", param: "lastWeek" },
      { title: "This Month", param: "month" },
      { title: "Last Month", param: "lastMonth" },
      { title: "This Year", param: "year" },
    ],
  }),
  methods: {
    saveDate(val) {
      let newDate = new Date();
      let firstDay = "";
      let lastDay = "";
      let date1 = "";
      let date2 = "";
      switch (val) {
        case "month":
          firstDay = new Date(newDate.getFullYear(), newDate.getMonth(), 1);
          lastDay = new Date(newDate.getFullYear(), newDate.getMonth() + 1, 0);
          break;
        case "today":
          firstDay = new Date(
            newDate.getFullYear(),
            newDate.getMonth(),
            newDate.getDate(),
            1
          );
          lastDay = firstDay;
          break;
        case "year":
          firstDay = new Date(newDate.getFullYear(), 0);
          lastDay = new Date(newDate.getFullYear(), 11, 31);
          break;
        case "week":
          firstDay = new Date(
            newDate.setDate(newDate.getDate() - newDate.getDay())
          );
          lastDay = new Date(
            newDate.setDate(newDate.getDate() - newDate.getDay() + 6)
          );
          break;
        case "lastWeek":
          firstDay = new Date(
            newDate.setDate(newDate.getDate() - newDate.getDay() - 7)
          );
          lastDay = new Date(
            newDate.setDate(newDate.getDate() - newDate.getDay() + 6)
          );
          break;
        case "lastMonth":
          firstDay = new Date(newDate.getFullYear(), newDate.getMonth() - 1, 1);
          lastDay = new Date(newDate.getFullYear(), newDate.getMonth(), 0);
          break;
        case "manual":
          firstDay = this.date[0];
          lastDay = !this.date[1] ? firstDay : this.date[1];
          if (this.date[0] > this.date[1]) {
            firstDay = this.date[1];
            lastDay = this.date[0];
          }
          break;
      }
      date1 = this.$date(firstDay).format("YYYY-MM-DD");
      date2 = this.$date(lastDay).format("YYYY-MM-DD");
      this.date = [date1, date2];
      console.log(this.date);
      this.$emit("date", this.date);
    },
  },
};
</script>

<style>
</style>