<template>
  <v-main fluid class="mx-4 pt-5">
    <!-- <v-btn @click="createURI">test</v-btn> -->
    <!-- Card -->
    <v-row>
      <v-col cols="12" md="6">
        <v-row>
          <!-- Nota -->
          <v-col cols="12" md="6">
            <v-card
              class="mx-auto c-p cart-list background-green"
              outlined
              height="128"
            >
              <v-list-item three-line>
                <v-list-item-content>
                  <table class="ma-0" style="width: 100%">
                    <tr>
                      <td style="width: 90%">
                        <div
                          style="color: #fff"
                          class="subtitle-1 text-uppercase mb-4 font-weight-bold"
                        >
                          <v-skeleton-loader
                            type="text"
                            :loading="process.run"
                            width="90%"
                            >Transaksi</v-skeleton-loader
                          >
                        </div>
                      </td>
                      <td>
                        <v-skeleton-loader type="avatar" :loading="process.run">
                          <v-list-item-avatar class="ma-0" size="50">
                            <v-icon large color="#fff"
                              >mdi-script-text-outline</v-icon
                            >
                          </v-list-item-avatar>
                        </v-skeleton-loader>
                      </td>
                    </tr>
                  </table>
                  <v-list-item-title class="headline mb-1 white--text">
                    <v-skeleton-loader
                      type="text"
                      width="50%"
                      :loading="process.run"
                      >{{
                        $helpers.numberFormat(summary.total_struck, 0, ",", ".")
                      }}</v-skeleton-loader
                    ></v-list-item-title
                  >
                  <v-list-item-subtitle class="white--text">
                    <v-skeleton-loader
                      type="text"
                      width="100%"
                      :loading="process.run"
                    >
                      Total Transaksi
                    </v-skeleton-loader>
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-card>
          </v-col>

          <!-- Bruto -->
          <v-col cols="12" md="6">
            <v-card
              class="mx-auto c-p cart-list background-dark-blue"
              outlined
              height="128"
            >
              <v-list-item three-line>
                <v-list-item-content>
                  <table class="ma-0" style="width: 100%">
                    <tr>
                      <td style="width: 90%">
                        <div
                          style="color: #fff"
                          class="subtitle-1 text-uppercase mb-4 font-weight-bold"
                        >
                          <v-skeleton-loader
                            type="text"
                            :loading="process.run"
                            width="90%"
                            >Bruto</v-skeleton-loader
                          >
                        </div>
                      </td>
                      <td>
                        <v-skeleton-loader type="avatar" :loading="process.run">
                          <v-list-item-avatar class="ma-0" size="50">
                            <v-icon large color="#fff">mdi-chart-bar</v-icon>
                          </v-list-item-avatar>
                        </v-skeleton-loader>
                      </td>
                    </tr>
                  </table>
                  <v-list-item-title class="headline mb-1 white--text"
                    ><v-skeleton-loader
                      type="text"
                      width="50%"
                      :loading="process.run"
                      >Rp
                      {{
                        $helpers.numberFormat(summary.total_bruto, 0, ",", ".")
                      }}</v-skeleton-loader
                    ></v-list-item-title
                  >
                  <v-list-item-subtitle class="white--text">
                    <v-skeleton-loader
                      type="text"
                      width="100%"
                      :loading="process.run"
                    >
                      Penjualan sebelum diskon
                    </v-skeleton-loader>
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-card>
          </v-col>

          <!-- Netto -->
          <v-col cols="12" md="6">
            <v-card
              class="mx-auto c-p cart-list background-yellow"
              outlined
              height="128"
            >
              <v-list-item three-line>
                <v-list-item-content>
                  <table class="ma-0" style="width: 100%">
                    <tr>
                      <td style="width: 90%">
                        <div
                          style="color: #fff"
                          class="subtitle-1 text-uppercase mb-4 font-weight-bold"
                        >
                          <v-skeleton-loader
                            type="text"
                            :loading="process.run"
                            width="90%"
                            >Netto</v-skeleton-loader
                          >
                        </div>
                      </td>
                      <td>
                        <v-skeleton-loader type="avatar" :loading="process.run">
                          <v-list-item-avatar class="ma-0" size="50">
                            <v-icon large color="#fff">mdi-calculator</v-icon>
                          </v-list-item-avatar>
                        </v-skeleton-loader>
                      </td>
                    </tr>
                  </table>
                  <v-list-item-title class="headline mb-1 white--text"
                    ><v-skeleton-loader
                      type="text"
                      width="50%"
                      :loading="process.run"
                      >Rp
                      {{
                        $helpers.numberFormat(summary.total_netto, 0, ",", ".")
                      }}</v-skeleton-loader
                    ></v-list-item-title
                  >
                  <v-list-item-subtitle class="white--text">
                    <v-skeleton-loader
                      type="text"
                      width="100%"
                      :loading="process.run"
                    >
                      Penjualan setelah diskon
                    </v-skeleton-loader>
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-card>
          </v-col>

          <!-- Profit -->
          <v-col cols="12" md="6">
            <v-card
              class="mx-auto c-p cart-list background-blue"
              outlined
              height="128"
            >
              <v-list-item three-line>
                <v-list-item-content>
                  <table class="ma-0" style="width: 100%">
                    <tr>
                      <td style="width: 90%">
                        <div
                          style="color: #fff"
                          class="subtitle-1 text-uppercase mb-4 font-weight-bold"
                        >
                          <v-skeleton-loader
                            type="text"
                            :loading="process.run"
                            width="90%"
                            >Profit</v-skeleton-loader
                          >
                        </div>
                      </td>
                      <td>
                        <v-skeleton-loader type="avatar" :loading="process.run">
                          <v-list-item-avatar class="ma-0" size="50">
                            <v-icon large color="#fff"
                              >mdi-cash-multiple</v-icon
                            >
                          </v-list-item-avatar>
                        </v-skeleton-loader>
                      </td>
                    </tr>
                  </table>
                  <v-list-item-title class="headline mb-1 white--text"
                    ><v-skeleton-loader
                      type="text"
                      width="50%"
                      :loading="process.run"
                      >Rp
                      {{
                        $helpers.numberFormat(summary.total_profit, 0, ",", ".")
                      }}</v-skeleton-loader
                    ></v-list-item-title
                  >
                  <v-list-item-subtitle class="white--text">
                    <v-skeleton-loader
                      type="text"
                      width="100%"
                      :loading="process.run"
                      >Laba penjualan</v-skeleton-loader
                    ></v-list-item-subtitle
                  >
                </v-list-item-content>
              </v-list-item>
            </v-card>
          </v-col>
        </v-row>
      </v-col>

      <v-col cols="12" md="6">
        <v-row>
          <v-col cols="12">
            <v-card class="mx-auto c-p cart-list" outlined height="280">
              <v-card-title
                class="subtitle-1 text-uppercase font-weight-bold grey--text text--darken-1 py-3"
                ><v-skeleton-loader
                  light
                  type="text"
                  :loading="process.run"
                  width="40%"
                  >Pengingat Stok</v-skeleton-loader
                >
                <v-spacer></v-spacer>
                <v-skeleton-loader type="avatar" :loading="process.run">
                  <v-icon large>mdi-package-variant</v-icon>
                </v-skeleton-loader>
              </v-card-title>
              <v-card-text class="px-6">
                <div v-if="!process.run">
                  <table style="width: 100%" v-if="alertStock.length > 0">
                    <tr v-for="(value, index) in alertStock" :key="index">
                      <td class="subtitle-2" style="padding: 4px; width: 70%">
                        {{ value.product_label }}
                      </td>
                      <td
                        class="subtitle-2"
                        style="padding: 4px; text-align: right; width: 30%"
                        :style="value.stock_balance <= 0 ? 'color:red' : ''"
                      >
                        {{ $helpers.numberFormat(value.stock_balance) }}
                        {{ value.product_unit }}
                      </td>
                    </tr>
                  </table>
                  <div v-else>
                    <v-img
                      src="@/assets/images/nodata.svg"
                      max-height="100"
                      contain
                      class="my-4"
                    ></v-img>
                    <p class="text-center">Belum ada data</p>
                  </div>
                </div>
                <div v-else>
                  <v-skeleton-loader
                    light
                    type="text"
                    :loading="process.run"
                    class="mb-4"
                    v-for="n in 5"
                    :key="n"
                  ></v-skeleton-loader>
                </div>
                <v-card-actions>
                  <v-skeleton-loader
                    light
                    type="text"
                    :loading="process.run"
                    width="30%"
                  >
                    <v-btn
                      text
                      class="caption text-capitalize font-weight-bold px-0"
                      color="#5b86e5"
                      @click="$router.push('stock')"
                      >Lihat selengkapnya
                      <v-icon small right class="mt-1"
                        >mdi-chevron-right</v-icon
                      ></v-btn
                    >
                  </v-skeleton-loader>
                </v-card-actions>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
    </v-row>

    <!-- Line Graphic -->
    <v-row>
      <v-col cols="12">
        <LineChart
          :title="'Grafik penjualan'"
          :loading="process.run"
          :data="dataSellingChart"
        />
      </v-col>
    </v-row>

    <!-- Graphic -->
    <v-row>
      <v-col cols="12" sm="4" md="4" xs="12" lg="">
        <Chart
          :width="'290'"
          :title="'Produk terlaris'"
          :type="'donut'"
          :data="dataTopProduct"
          :loading="process.run"
        />
      </v-col>
      <v-col cols="12" sm="4" md="4" xs="12" lg="">
        <Chart
          :width="'290'"
          :title="'Pembayaran terbanyak'"
          :type="'donut'"
          :data="dataPaymentMethod"
          :loading="process.run"
        />
      </v-col>
      <v-col cols="12" sm="4" md="4" xs="12" lg="">
        <Chart
          :width="'290'"
          :title="'Penjualan terbanyak'"
          :type="'donut'"
          :data="dataSalesType"
          :loading="process.run"
        />
      </v-col>
    </v-row>
  </v-main>
</template>

<script>
import Chart from "@/components/chartjs/Chart.vue";
import LineChart from "@/components/chartjs/LineChart.vue";
export default {
  name: "TheDashboard",
  components: {
    Chart,
    LineChart,
  },
  data: () => ({
    process: {
      run: false,
      chart: false,
    },
    summary: {},
    alertStock: [],
    dataSellingChart: [],
    dataTopProduct: [],
    dataSalesType: [],
    dataPaymentMethod: [],
  }),
  computed: {},
  mounted() {
    this.fetchData();
  },
  created() {},

  methods: {
    async fetchData() {
      this.process.run = true;
      await this.axios
        .get("dashboard/list", {
          params: {},
        })
        .then((res) => {
          let data = res.data;
          switch (data.status) {
            case "success":
              this.summary = data.result.summary;
              this.alertStock = data.result.alert_stock;
              this.dataSellingChart = data.result.total_selling_chart;
              this.dataTopProduct = data.result.top_product;
              this.dataSalesType = data.result.top_sales_type;
              this.dataPaymentMethod = data.result.top_payment_method;
              this.process.run = false;
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    },

    createURI() {
      let passprnt_uri = "starpassprnt://v1/print/nopreview?";

      // passprnt_uri += "back=#";
      // passprnt_uri += "&popup=disable";

      let html = `
        <html lang="en">
          <head>
              <meta charset="UTF-8">
              <meta name="viewport" content="width=device-width, initial-scale=1.0">
              <meta http-equiv="X-UA-Compatible" content="ie=edge">
              <title>Print</title>
          </head>
          <body style="font-size: 25px; font-family: 'Inconsolata', monospace;">
              <div style="width: 110mm; max-width: 110mm;">
                  <table style="width: 90%; font-size: 25px; text-align: center;">
                      <tr>
                          <td>BAKMI JAWA MBAH AP</td>
                      </tr>
                      <tr>
                          <td>Jl. Ipda Tut Harsono</td>
                      </tr>
                      <tr>
                          <td>No. 27, Yogyakarta</td>
                      </tr>
                  </table>
                  <table style="width: 90%; font-size: 25px;">
                      <tr>
                          <td style="width: 30%">Order</td>
                          <td style="width: 2%">:</td>
                          <td style="width: 68%">0001</td>
                      </tr>
                      <tr>
                          <td>Tanggal</td>
                          <td>:</td>
                          <td>1 November 2020</td>
                      </tr>
                      <tr>
                          <td>No. Trx</td>
                          <td>:</td>
                          <td>TRX/0001</td>
                      </tr>
                      <tr>
                          <td>Kasir</td>
                          <td>:</td>
                          <td>Kasir SODA POS</td>
                      </tr>
                      <tr>
                          <td>Meja</td>
                          <td>:</td>
                          <td>1</td>
                      </tr>
                  </table>
                  <table style="width: 90%; font-size: 25px;">
                      <tr>
                          <td>------------------------</td>
                      </tr>
                  </table>
                  <table style="width: 90%; font-size: 25px; font-weight: bold; text-align: center;">
                      <tr>
                          <td>*DINE IN*</td>
                      </tr>
                  </table>
                  <table style="width: 90%; font-size: 25px;">
                      <tr>
                          <td colspan="3" style="font-weight: bold; padding-top: 5px;">Bakmi Godog</td>
                      </tr>
                      <tr>
                          <td style="width: 40%;">@10.000</td>
                          <td style="width: 15%;">x3</td>
                          <td style="width: 45%; text-align: right;">30.000</td>
                      </tr>
                      <tr>
                          <td colspan="3" style="font-weight: bold; padding-top: 5px;">Bajigur</td>
                      </tr>
                      <tr>
                          <td style="width: 40%">@10.000</td>
                          <td style="width: 15%">x3</td>
                          <td style="width: 45%; text-align: right;">30.000</td>
                      </tr>
                  </table>
                  <table style="width: 90%; font-size: 25px;">
                      <tr>
                          <td colspan="2">------------------------</td>
                      </tr>
                      <tr>
                          <td style="width: 50%;">Subtotal</td>
                          <td style="width: 50%; text-align: right;">60.000</td>
                      </tr>
                      <tr>
                          <td style="width: 50%;">Diskon</td>
                          <td style="width: 50%; text-align: right;">0</td>
                      </tr>
                      <tr>
                          <td colspan="2">------------------------</td>
                      </tr>
                      <tr>
                          <td style="width: 50%; font-weight: bold;">Total</td>
                          <td style="width: 50%; font-weight: bold; text-align: right;">60.000</td>
                      </tr>
                      <tr>
                          <td colspan="2">------------------------</td>
                      </tr>
                      <tr>
                          <td style="width: 50%;">Tunai</td>
                          <td style="width: 50%; text-align: right;">60.000</td>
                      </tr>
                      <tr>
                          <td style="width: 50%;">Kembali</td>
                          <td style="width: 50%; text-align: right;">0</td>
                      </tr>
                  </table>
                  <table style="width: 90%; font-size: 25px; text-align: center;">
                      <tr>
                          <td>Terima kasih atas kunjungan Anda</td>
                      </tr>
                      <tr>
                          <td>Powered by</td>
                      </tr>
                      <tr>
                          <td>(next-pos.my.id)</td>
                      </tr>
                  </table>
              </div>
          </body>
      </html>
      `;

      passprnt_uri += "html=" + encodeURIComponent(html);
      window.location.href = passprnt_uri;
    },
  },
};
</script>

<style>
.cart-list {
  border-radius: 15px !important;
  box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.2) !important;
}

.background-blue {
  background: #36d1dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    rgb(91 134 229 / 60%),
    #36d1dc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    rgb(91 134 229 / 60%),
    #36d1dc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.background-green {
  background: #dce35b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    rgb(69 182 73 / 72%),
    #dce35b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    rgb(69 182 73 / 72%),
    #dce35b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.background-yellow {
  background: #f2994a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    rgb(242 201 76 / 60%),
    #f2994a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    rgb(242 201 76 / 60%),
    #f2994a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.background-dark-blue {
  background: #7474bf; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    rgb(52 138 199 / 60%),
    #7474bf
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    rgb(52 138 199 / 60%),
    #7474bf
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
</style>