<template>
  <div>
    <TheSnackbar ref="snackbar" />
    <v-dialog
      v-model="$store.state.dialogEditProfile"
      persistent
      scrollable
      max-width="500"
    >
       <v-card class="rounded-lg">
        <!-- <v-card-title> Ubah Profil </v-card-title> -->
        <v-card-text>
          <v-container>

            <!-- TAB -->
            <v-row class="justify-center">
              <v-col>
                <v-btn 
                  @click="tabs = 'profile'"
                  :color="tabs == 'profile' ? 'blue darken-4': ''"
                  :rounded="tabs == 'profile' ? true: false"
                  :dark="tabs == 'profile' ? true: false"
                  :text="tabs == 'profile' ? false : true">
                  Ubah Profil
                </v-btn>
              </v-col>
              <v-col>
                <v-btn 
                  @click="tabs = 'password'"
                  :color="tabs == 'password' ? 'blue darken-4': ''"
                  :rounded="tabs == 'password' ? true: false"
                  :dark="tabs == 'password' ? true: false"
                  :text="tabs == 'password' ? false : true">
                  Ubah Password
                </v-btn>
              </v-col>
            </v-row>

            <!-- Left Form -->
            <v-row v-if="tabs == 'profile'">
              <v-col class="pb-0" cols="12" sm="12" md="12">
                <v-form>
                  <v-text-field
                    label="Nama *"
                    v-model="input.name"
                    required
                    :error-messages="feedBack.form.name"
                  ></v-text-field>
                  <v-text-field
                    label="Email *"
                    v-model="input.email"
                    required
                    :error-messages="feedBack.form.email"
                  ></v-text-field>
                  <v-text-field
                    label="No Handphone *"
                    v-model="input.mobilephone"
                    required
                    :error-messages="feedBack.form.mobilephone"
                  ></v-text-field>
                  <v-col cols="12">
                    <div class="d-flex justify-center">
                      <TheInputImage
                        label="Pilih"
                        previewHeight="150"
                        :previewValue="input.img"
                        @change="imgUrl"
                      />
                    </div>
                  </v-col>
                  <table style="width: 100%">
                    <tr>
                      <td class="pa-1" width="50%">
                        <v-btn
                          color="grey darken-1"
                          text
                          :disabled="loading"
                          @click="$store.state.dialogEditProfile = false"
                        >
                          Batal
                        </v-btn>
                      </td>
                      <td class="pa-1">
                        <v-btn
                          depressed
                          block
                          class="my-blue-button"
                          rounded
                          :loading="loading"
                          @click="doSave"
                        >
                          Simpan
                          <v-icon right>mdi-chevron-right</v-icon>
                        </v-btn>
                      </td>
                    </tr>
                  </table>
                </v-form>
              </v-col>
            </v-row>

            <!-- Right Form -->
            <v-row v-if="tabs == 'password'">
              <v-col class="pb-0" cols="12" sm="12" md="12">
                <v-form>
                  <v-text-field
                    label="Password Lama *"
                    v-model="inputPassword.oldPassword"
                    :error-messages="feedBack.formPassword.oldPassword"
                    required
                    filled
                    dense
                    @click:append="showPasswordOld = !showPasswordOld"
                    :append-icon="showPasswordOld ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="showPasswordOld ? 'text' : 'password'"
                    :rules="[(v) => !!v || 'Password Lama harus diisi']"
                  ></v-text-field>
                  <v-text-field
                    label="Password Baru *"
                    v-model="inputPassword.newPassword"
                    :error-messages="feedBack.formPassword.newPassword"
                    required
                    filled
                    dense
                    @click:append="showPasswordNew = !showPasswordNew"
                    :append-icon="showPasswordNew ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="showPasswordNew ? 'text' : 'password'"
                    :rules="[(v) => !!v || 'Password aru harus diisi']"
                  ></v-text-field>
                  <v-text-field
                    label="Ulangi Password Baru *"
                    v-model="inputPassword.confirmPassword"
                    :error-messages="feedBack.formPassword.confirmPassword"
                    required
                    filled
                    dense
                    @click:append="showPasswordConfirmNew = !showPasswordConfirmNew"
                    :append-icon="showPasswordConfirmNew ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="showPasswordConfirmNew ? 'text' : 'password'"
                    :rules="[(v) => !!v || 'Ulangi Password Baru harus diisi']"
                  ></v-text-field>
                  <table style="width: 100%">
                    <tr>
                      <td class="pa-1" width="50%">
                        <v-btn
                          color="grey darken-1"
                          text
                          :disabled="loading"
                          @click="$store.state.dialogEditProfile = false"
                        >
                          Batal
                        </v-btn>
                      </td>
                      <td class="pa-1">
                        <v-btn
                          depressed
                          block
                          class="my-blue-button"
                          rounded
                          :loading="loading"
                          @click="doSavePassword"
                        >
                          Simpan
                          <v-icon right>mdi-chevron-right</v-icon>
                        </v-btn>
                      </td>
                    </tr>
                  </table>
                </v-form>
              </v-col>
            </v-row>
            
          </v-container>
        </v-card-text>
        <!-- <v-card-actions>
          <table style="width: 100%">
            <tr>
              <td class="pa-1" width="50%">
                <v-btn
                  color="grey darken-1"
                  text
                  :disabled="loading"
                  @click="$store.state.dialogEditProfile = false"
                >
                  Batal
                </v-btn>
              </td>
              <td class="pa-1">
                <v-btn
                  depressed
                  block
                  class="my-blue-button"
                  rounded
                  :loading="loading"
                  @click="doSave"
                >
                  Simpan
                  <v-icon right>mdi-chevron-right</v-icon>
                </v-btn>
              </td>
            </tr>
          </table>
        </v-card-actions> -->
       </v-card>
    </v-dialog>
  </div>
</template>

<script>
import TheSnackbar from "@/components/TheSnackbar";
import TheInputImage from "@/components/TheInputImage"
export default {
  components: { TheSnackbar, TheInputImage },
  data() {
    return {
      showPasswordOld: false,
      showPasswordNew: false,
      showPasswordConfirmNew: false,
      input: {
        name: "",
        email: "",
        mobilephone: "",
        img: "",
      },
      inputPassword: {
        oldPassword: "",
        newPassword: "",
        confirmPassword: "",
      },
      feedBack: {
        global: null,
        form: {
          name: null,
          email: null,
          mobilephone: null,
          img: null,
        },
        formPassword: {
          oldPassword: null,
          newPassword: null,
          confirmPassword: null,
        },
      },
      loading: false,
      tabs: "profile",
    }
  },

  watch: {
    "$store.state.dialogEditProfile": function () {
      this.resetForm();
      this.resetFeedBack();
      this.input.name = this.$store.state.userData.user_fullname;
      this.input.email = this.$store.state.userData.user_email;
      this.input.mobilephone = this.$store.state.userData.user_mobilephone;
      this.input.img = this.$store.state.userData.user_image;
    },
  },

  methods: {
    imgUrl(val){
      toString(this.input.img = val.path)
    },

    resetFeedBack() {
      this.feedBack = {
        global: null,
        form: {
          name: null,
          email: null,
          mobilephone: null,
          img: null,
        },
        formPassword: {
          oldPassword: null,
          newPassword: null,
          confirmPassword: null,
        },
      };
    },

    resetForm() {
      this.input = {
        name: null,
        email: null,
        mobilephone: null,
        img: null,
      };
      this.inputPassword = {
        oldPassword: null,
        newPassword: null,
        confirmPassword: null,
      };
    },

    async doSave() {
      this.resetFeedBack();
      this.loading = true;
      await this.axios
          .post("profile/edit", this.input)
          .then((res) => {
            let data = res.data;
            switch (data.status) {
              case "success":
                this.$store.commit("SET", {
                  key: "userData",
                  value: data.result,
                });
                this.$storage.set("userData", data.result);
                this.resetForm();

                this.$store.state.dialogEditProfile = false;
                this.$refs.snackbar.open("success", `${data.msg}`);
                break;
              case "validation":
                this.feedBack.global = data.msg;
                this.feedBack.form.name = data.result.error.name;
                this.feedBack.form.email = data.result.error.email;
                this.feedBack.form.mobilephone = data.result.error.mobilephone;
                break;
              case "failed":
                this.feedBack.global = data.msg;
                this.resetForm();
                break;
            }
            this.loading = false;
          })
          .catch(function (error) {
            console.log(error);
          });
    },

    async doSavePassword() {
      this.resetFeedBack();
      this.loading = true;
      await this.axios
          .post("profile/edit_password", this.inputPassword)
          .then((res) => {
            let data = res.data;
            switch (data.status) {
              case "success":
                this.resetForm();

                this.$store.state.dialogEditProfile = false;
                this.$refs.snackbar.open("success", `${data.msg}`);
                break;
              case "validation":
                this.feedBack.global = data.msg;
                this.feedBack.formPassword.oldPassword = data.result.error.oldPassword;
                this.feedBack.formPassword.newPassword = data.result.error.newPassword;
                this.feedBack.formPassword.confirmPassword = data.result.error.confirmPassword;
                break;
              case "failed":
                this.feedBack.global = data.msg;
                break;
            }
            this.loading = false;
          })
          .catch(function (error) {
            console.log(error);
          });
    },
  }
}
</script>