<template>
  <v-dialog
    v-model="$store.state.dialogCheckPin"
    persistent
    scrollable
    max-width="400"
  >
    <v-card class="rounded-lg">
      <v-card-title> Konfirmasi PIN </v-card-title>
      <v-card-text>
        <v-alert
          border="right"
          color="red lighten-2"
          dark
          type="error"
          v-show="feedBack.global"
          >{{ feedBack.global }}</v-alert
        >
        <v-row>
          <v-col cols="12">
            <v-text-field
              label="Masukan Pin"
              dense
              v-model="input.pin"
              filled
              @click:append="showPassword = !showPassword"
              :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
              :type="showPassword ? 'text' : 'password'"
              :error-messages="feedBack.form.pin"
            >
            </v-text-field>
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions>
        <table style="width: 100%">
          <tr>
            <td class="pa-1" width="50%">
              <v-btn
                color="grey darken-1"
                text
                @click="$store.state.dialogCheckPin = false"
                :disabled="loading"
              >
                Batal
              </v-btn>
            </td>
            <td class="pa-1">
              <v-btn
                depressed
                block
                class="my-blue-button"
                rounded
                @click="doCheck()"
                :loading="loading"
              >
                Submit
                <v-icon right>mdi-chevron-right</v-icon>
              </v-btn>
            </td>
          </tr>
        </table>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import TheSnackbar from "@/components/TheSnackbar";
export default {
  components: { TheSnackbar },
  data() {
    return {
      showPassword: false,
      input: {
        pin: "",
      },

      feedBack: {
        global: null,
        form: {
          pin: null,
        },
      },

      loading: false,
    };
  },

  watch: {
    "$store.state.dialogCheckPin": function () {
      this.input.pin = "";
      this.feedBack.global = null;
      this.feedBack.form.pin = null;
    },
  },

  methods: {
    async doCheck() {
      this.feedBack.global = null;
      this.feedBack.form.pin = null;

      this.loading = true;
      await this.axios
        .post("pin/check", this.input)
        .then((res) => {
          let data = res.data;
          this.loading = false;
          switch (data.status) {
            case "success":
              this.$store.state.dialogCheckPin = false;
              this.$store.state.dialogSOPending = true;
              this.input.pin = "";
              this.$refs.snackbar.open("success", `${data.msg}`);
              break;
            case "validation":
              this.feedBack.global = data.msg;
              this.feedBack.form.pin = data.result.error.pin;
              break;
            case "failed":
              this.feedBack.global = data.msg;
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    },
  },
};
</script>

<style>
</style>