<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="data"
      :options.sync="options"
      :server-items-length="totalData"
      :loading="loading"
      class="elevation-1 rounded"
    >
      <template v-slot:top>
        <v-toolbar flat>
          <div 
            style="width:100%" class="ma-2 d-flex align-center" v-if="actions && actions.length > 0 ">
            <div class="ma-2 d-flex flex-row bd-highlight mb-3" v-for="(action, indexAction) in actions"
                :key="indexAction">
              <div class="p-2 bd-highlight">
                <v-btn
                  v-if="action.name !== 'file'"
                  :color="action.color"
                  class="text-capitalize"
                  :class="action.class"
                  rounded
                  depressed
                  :disabled="loading"
                  @click="setEmit(action.name)"
                >
                  <v-icon class="mr-1" v-if="action.icon">{{ action.icon }}</v-icon>
                  {{ action.text }}
                </v-btn>
              </div>
              <!-- <div class="p-2 bd-highlight">
                <v-file-input
                  style="width: 200px !important;"
                  v-if="action.name == 'file'"
                  label="Import Excel"
                  counter
                  hide-details
                  color="deep-purple accent-4"
                  :show-size="1000"
                  dense>
                </v-file-input>
              </div>
              <div class="p-2 bd-highlight">
                <v-btn
                  v-if="action.name == 'file'"
                  :color="action.color"
                  dark 
                  small
                  rounded
                  >Upload
                  <v-icon right dark>mdi-cloud-upload</v-icon>
                </v-btn>
              </div> -->
            </div>
          </div>
          <v-spacer></v-spacer>
          <div v-html="headerText"></div>
          <v-menu left bottom offset-y rounded>
            <template v-slot:activator="{ on }">
              <v-btn icon v-on="on" :disabled="loading">
                <v-icon>mdi-filter-menu-outline</v-icon>
              </v-btn>
            </template>
            <v-list>
              <v-list-item @click="openDialogSearch">
                <v-list-item-avatar>
                  <v-icon>mdi-magnify</v-icon>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title>Pencarian</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item @click="fetch">
                <v-list-item-avatar>
                  <v-icon>mdi-sync</v-icon>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title>Perbarui</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-menu>
        </v-toolbar>
        <v-simple-table dark dense v-if="summary">
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-left">Summary</th>
                <th class="text-right">Qty</th>
                <th class="text-right">Harga Produk</th>
                <th class="text-right">Diskon</th>
                <th class="text-right">Harga Netto</th>
                <th class="text-right">Harga Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td class="text-right">{{ summaryData.summary_qty }}</td>
                <td class="text-right">
                  {{
                    $helpers.numberFormat(
                      summaryData.summary_product_price,
                      0,
                      ",",
                      "."
                    )
                  }}
                </td>
                <td class="text-right">
                  {{
                    $helpers.numberFormat(
                      summaryData.summary_discount,
                      0,
                      ",",
                      "."
                    )
                  }}
                </td>
                <td class="text-right">
                  {{
                    $helpers.numberFormat(
                      summaryData.summary_nett_price,
                      0,
                      ",",
                      "."
                    )
                  }}
                </td>
                <td class="text-right">
                  {{
                    $helpers.numberFormat(
                      summaryData.summary_grand_total,
                      0,
                      ",",
                      "."
                    )
                  }}
                </td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </template>
      <template v-slot:body="{ items, headers, isMobile }">
        <tbody v-if="!isMobile && items.length > 0">
          <tr
            class
            v-for="(item, indexItem) in items"
            :key="indexItem"
            @click="$emit('row-click', { item, indexItem })"
          >
            <td
              :class="`text-${header.align}`"
              v-for="(header, indexHeader) in headers"
              :key="indexHeader"
            >
              <div v-if="header.type == 'action' && header.options.length > 0">
                <v-tooltip
                  bottom
                  v-for="(action, indexAction) in header.options"
                  :key="indexAction"
                >
                  <template v-slot:activator="{ on }">
                    <v-icon
                      :disabled="getDisabledActionButton(action, item)"
                      class="mr-4"
                      :color="action.color"
                      v-on="on"
                      @click="setEmit(action.name, item)"
                      >{{ action.icon }}</v-icon
                    >
                  </template>
                  <span>{{ action.text }}</span>
                </v-tooltip>
              </div>
              <div v-else-if="header.type == 'image'">
                <v-tooltip bottom v-if="item[header.value]">
                  <template v-slot:activator="{ on }">
                    <v-btn
                      icon
                      v-on="on"
                      @click="openDialogDetailImage(item[header.value])"
                    >
                      <v-avatar size="36px">
                        <v-img :src="`${item[header.value]}?w=36&h=36`"></v-img>
                      </v-avatar>
                    </v-btn>
                  </template>
                  <span>Detail Gambar</span>
                </v-tooltip>

                <v-avatar size="36px" v-else color="accent">
                  <v-icon dark>mdi-image-off</v-icon>
                </v-avatar>
              </div>
              <div v-else-if="!item[header.value]">-</div>
              <div v-else-if="header.type == 'nominal'" class="text-right">
                {{ $helpers.numberFormat(item[header.value], 0, ",", ".") }}
              </div>
              <div v-else-if="header.type == 'JSONNominal'" class="text-right">
                {{
                  $helpers.numberFormat(
                    JSON.parse(item[header.value])[header.key],
                    0,
                    ",",
                    "."
                  )
                }}
              </div>
              <div v-else-if="header.type == 'chip'">
                <v-chip
                  :color="
                    header.options.color
                      ? header.options.color[item[header.value]]
                      : ''
                  "
                >
                  {{
                    header.options.text
                      ? header.options.text[item[header.value]]
                      : item[header.value]
                  }}
                </v-chip>
              </div>
              <div v-else-if="header.type == 'datetime'">
                {{ $date(item[header.value]).format("DD MMM YYYY HH:mm") }}
              </div>
              <div v-else-if="header.type == 'date'">
                {{ $date(item[header.value]).format("DD MMM YYYY") }}
              </div>
              <div v-else-if="header.type == 'text-html'">
                {{ convertTextHtml(item[header.value]) }}
                <v-btn
                  text
                  x-small
                  color="primary"
                  @click="openDialogDetailText(indexItem)"
                  >Selengkapnya</v-btn
                >
              </div>
              <div v-else-if="header.type == 'button'">
                <v-btn
                  text
                  small
                  color="primary"
                  @click="$emit(header.name, indexItem)"
                  >{{ header.text }}</v-btn
                >
              </div>
              <div v-else>{{ item[header.value] }}</div>
            </td>
          </tr>
        </tbody>
        <tbody v-else-if="isMobile && items.length > 0">
          <tr
            class="v-data-table__mobile-table-row"
            v-for="(item, indexItem) in items"
            :key="indexItem"
            @click="$emit('row-click', { item, indexItem })"
          >
            <td
              class="v-data-table__mobile-row"
              v-for="(header, indexHeader) in headers"
              :key="indexHeader"
            >
              <div class="v-data-table__mobile-row__header">
                {{ header.text }}
              </div>
              <div class="v-data-table__mobile-row__cell">
                <div
                  v-if="header.type == 'action' && header.options.length > 0"
                >
                  <v-tooltip
                    bottom
                    v-for="(action, indexAction) in header.options"
                    :key="indexAction"
                  >
                    <template v-slot:activator="{ on }">
                      <v-icon
                        :disabled="getDisabledActionButton(action, item)"
                        class="mr-2"
                        :color="action.color"
                        v-on="on"
                        @click="setEmit(action.name, item)"
                        >{{ action.icon }}</v-icon
                      >
                    </template>
                    <span>{{ action.text }}</span>
                  </v-tooltip>
                </div>
                <div v-else-if="header.type == 'image'">
                  <v-tooltip bottom v-if="item[header.value]">
                    <template v-slot:activator="{ on }">
                      <v-btn
                        icon
                        v-on="on"
                        @click="openDialogDetailImage(item[header.value])"
                      >
                        <v-avatar size="36px">
                          <v-img
                            :src="`${item[header.value]}?w=36&h=36`"
                          ></v-img>
                        </v-avatar>
                      </v-btn>
                    </template>
                    <span>Detail Gambar</span>
                  </v-tooltip>

                  <v-avatar size="36px" v-else color="indigo">
                    <v-icon dark>mdi-account-circle</v-icon>
                  </v-avatar>
                </div>
                <div v-else-if="!item[header.value]">-</div>
                <div v-else-if="header.type == 'nominal'" class="text-right">
                  {{ $helpers.numberFormat(item[header.value], 0, ",", ".") }}
                </div>
                <div
                  v-else-if="header.type == 'JSONNominal'"
                  class="text-right"
                >
                  {{
                    $helpers.numberFormat(
                      JSON.parse(item[header.value])[header.key],
                      0,
                      ",",
                      "."
                    )
                  }}
                </div>
                <div v-else-if="header.type == 'chip'">
                  <v-chip
                    :color="
                      header.options.color
                        ? header.options.color[item[header.value]]
                        : ''
                    "
                  >
                    {{
                      header.options.text
                        ? header.options.text[item[header.value]]
                        : item[header.value]
                    }}
                  </v-chip>
                </div>
                <div v-else-if="header.type == 'datetime'">
                  {{ $date(item[header.value]).format("DD MMM YYYY HH:mm") }}
                </div>
                <div v-else-if="header.type == 'date'">
                  {{ $date(item[header.value]).format("DD MMM YYYY") }}
                </div>
                <div v-else-if="header.type == 'text-html'">
                  {{ convertTextHtml(item[header.value]) }}
                  <v-btn
                    text
                    x-small
                    color="primary"
                    @click="openDialogDetailText(indexItem)"
                    >Selengkapnya</v-btn
                  >
                </div>
                <div v-else-if="header.type == 'button'">
                  <v-btn
                    text
                    small
                    color="primary"
                    @click="$emit(header.name, indexItem)"
                    >{{ header.text }}</v-btn
                  >
                </div>
                <div v-else>{{ item[header.value] }}</div>
              </div>
            </td>
          </tr>
        </tbody>
        <tbody v-else>
          <tr class="v-data-table__empty-wrapper">
            <td :colspan="!isMobile ? headers.length : ''">Belum ada data</td>
          </tr>
        </tbody>
      </template>
    </v-data-table>
    <v-dialog v-model="detailImage.dialog" max-width="290">
      <v-card class="rounded">
        <v-img
          :src="detailImage.imagePath"
          class="rounded"
          @load="imageLoading = false"
        >
          <v-row
            class="fill-height ma-0"
            align="center"
            justify="center"
            v-if="imageLoading"
          >
            <v-progress-circular
              indeterminate
              color="primary"
            ></v-progress-circular>
          </v-row>
        </v-img>
        <v-card-actions>
          <v-btn
            class="my-grey-button"
            rounded
            depressed
            block
            @click="detailImage.dialog = false"
          >
            <v-icon class="mr-2">mdi-close</v-icon>Tutup
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="search.dialog" scrollable persistent max-width="350">
      <v-card class="rounded">
        <v-card-title>Kolom Pencarian</v-card-title>
        <v-card-text style="max-height: 400px">
          <v-form @keyup.native.enter="doSearch" @submit.prevent>
            <div v-for="(search, index) in searchs" :key="index">
              <v-text-field
                :label="search.text"
                type="text"
                v-model="searchs[index].searchValue.value"
                filled
                dense
                clearable
                :autofocus="index == 0"
                v-if="search.type === 'string'"
              ></v-text-field>
              <v-dialog
                :ref="`dialog-date-${index}`"
                v-model="searchs[index].dialog"
                :return-value.sync="searchs[index].searchValue.value"
                persistent
                width="290px"
                v-if="search.type === 'date'"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="searchs[index].searchValue.value"
                    :label="searchs[index].text"
                    readonly
                    filled
                    dense
                    clearable
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="searchs[index].searchValue.value"
                  scrollable
                >
                  <v-spacer></v-spacer>
                  <v-btn
                    text
                    color="primary"
                    @click="
                      $refs[`dialog-date-${index}`][0].save(
                        searchs[index].searchValue.value
                      )
                    "
                    >Pilih</v-btn
                  >
                  <v-btn
                    text
                    color="grey darken-1"
                    @click="searchs[index].dialog = false"
                    >Batal</v-btn
                  >
                </v-date-picker>
              </v-dialog>
              <v-select
                :items="searchs[index].option"
                :label="searchs[index].text"
                v-model="searchs[index].searchValue.value"
                filled
                dense
                clearable
                attach
                v-if="search.type === 'option'"
              ></v-select>
            </div>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="my-blue-button" rounded depressed @click="doSearch">
            <v-icon class="mr-2">mdi-magnify</v-icon>Cari
          </v-btn>
          <v-btn color="my-red-button" rounded depressed @click="doSearchReset">
            <v-icon class="mr-2">mdi-restart</v-icon>Reset
          </v-btn>
          <v-btn
            color="my-grey-button"
            rounded
            depressed
            @click="search.dialog = false"
          >
            <v-icon class="mr-2">mdi-close</v-icon>Tutup
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="detailText.dialog" scrollable max-width="400">
      <v-card class="rounded">
        <v-card-title>Detail Deskripsi</v-card-title>
        <v-card-text
          v-html="detailText.content"
          style="max-height: 400px"
        ></v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            class="my-grey-button"
            rounded
            depressed
            block
            @click="detailText.dialog = false"
          >
            <v-icon class="mr-2">mdi-close</v-icon>Tutup
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: "TheGrid",
  props: {
    title: {
      type: String,
      default: "",
    },
    endPoint: {
      type: String,
      required: true,
    },
    headers: {
      type: Array,
      required: true,
    },
    filters: {
      type: Array,
      default: null,
    },
    actions: {
      type: Array,
      default: null,
    },
    summary: {
      type: Boolean,
      default: false,
    },
    headerText: {
      type: String,
      default: "",
    },
  },
  data: () => ({
    totalData: 0,
    data: [],
    otherData: [],
    summaryData: {},
    loading: true,
    imageLoading: false,
    options: {},
    search: {
      dialog: false,
    },
    detailImage: {
      dialog: false,
      imagePath: "",
    },
    detailText: {
      dialog: false,
      content: "",
    },
    searchs: [],
  }),

  created() {
    let _self = this;
    this.headers.forEach(function (header, index) {
      if (header.searchType) {
        let arraySearch = {};
        if (header.searchType === "option") {
          arraySearch = {
            type: header.searchType,
            text: header.text,
            searchValue: {
              type: "string",
              field: header.value,
              comparison: "eq",
              value: null,
            },
            option: header.searchOptions,
          };
        } else if (header.searchType === "date") {
          arraySearch = {
            type: header.searchType,
            text: header.text,
            searchValue: {
              type: "date",
              field: header.value,
              comparison: "eq",
              value: null,
            },
            dialog: false,
          };
        } else {
          arraySearch = {
            type: header.searchType,
            text: header.text,
            searchValue: {
              type: "string",
              field: header.value,
              comparison: "any",
              value: null,
            },
          };
        }
        _self.searchs.push(arraySearch);
      }
    });
  },

  watch: {
    options: {
      handler() {
        this.fetch();
      },
      deep: true,
    },
  },

  methods: {
    async fetch() {
      this.loading = true;
      this.$emit(`loading`, true);
      let sort = "";
      let dir = "";

      if (this.options.sortBy && this.options.sortBy.length > 0) {
        sort = this.options.sortBy[0];
      } else {
        sort = "";
      }

      if (this.options.sortDesc && this.options.sortDesc.length > 0) {
        if (this.options.sortDesc[0]) {
          dir = "DESC";
        } else {
          dir = "ASC";
        }
      } else {
        dir = "DESC";
      }

      let searchs = [];

      if (this.filters !== null) {
        searchs = [...this.filters];
      }

      this.searchs.forEach(function (search, index) {
        searchs.push(search.searchValue);
      });

      await this.axios
        .get(this.endPoint, {
          params: {
            page: this.options.page,
            limit: this.options.itemsPerPage,
            sort: sort,
            dir: dir,
            filter: searchs.filter(function (search, index) {
              return (
                search.value !== null && typeof search.value != "undefined"
              );
            }),
          },
        })
        .then((res) => {
          let data = res.data;
          switch (data.status) {
            case "success":
              this.data = data.result.data;
              this.otherData = data.result.other_data;
              this.summaryData = data.result.summary;
              this.totalData = data.result.pagination.totalData;
              break;
          }
          this.$emit(`loading`, false);
          this.loading = false;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    doSearch() {
      this.search.dialog = false;
      this.fetch();
    },
    doSearchReset() {
      let _self = this;
      this.searchs.forEach(function (search, index) {
        _self.searchs[index].searchValue.value = null;
      });
      this.search.dialog = false;
      this.fetch();
    },
    openDialogDetailImage(imagePath) {
      this.detailImage.dialog = true;
      this.imageLoading = true;
      this.detailImage.imagePath = imagePath;
    },
    openDialogSearch() {
      this.search.dialog = true;
    },
    setEmit(name, value) {
      this.$emit(`action:${name}`, value);
    },
    getDisabledActionButton(action, item) {
      if (action.disabled) {
        if (action.disabled.value && Array.isArray(action.disabled.value)) {
          return action.disabled.value.includes(item[action.disabled.field]);
        } else {
          if (item[action.disabled.field] == action.disabled.value) {
            return true;
          }
        }
      }

      return false;
    },
    convertTextHtml(strHtml) {
      let str = this.$helpers.removeHtmlTag(strHtml);

      if (str.length > 130) {
        return str.substring(0, 130) + "...";
      }

      return str;
    },
    openDialogDetailText(index) {
      this.detailText.dialog = true;
      this.detailText.content = this.data[index].message_description;
    },
  },
};
</script>

<style scoped>
.theme--light.v-data-table tbody tr:not(:last-child) td:last-child,
.theme--light.v-data-table
  tbody
  tr:not(:last-child)
  td:not(.v-data-table__mobile-row) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
}
.theme--dark.v-data-table tbody tr:not(:last-child) td:last-child,
.theme--dark.v-data-table
  tbody
  tr:not(:last-child)
  td:not(.v-data-table__mobile-row) {
  border-bottom: 1px solid rgba(255, 248, 248, 0.27) !important;
}
</style>
