<template>
  <div>
    <div v-if="preview">
      <v-img
        v-if="previewValue"
        :src="`${previewValue}`"
        contain
        style="max-width: 280px !important"
        :height="previewHeight"
        class="mb-2"
      ></v-img>
      <v-img
        v-else-if="!imagePath"
        :src="`https://via.placeholder.com/${previewHeight}?text=Image`"
        contain
        style="max-width: 280px !important"
        :height="previewHeight"
        class="mb-2"
      ></v-img>
      <v-img
        v-else
        :src="imagePath"
        contain
        style="max-width: 280px !important"
        :height="previewHeight"
        class="mb-2"
      ></v-img>
    </div>

    <v-file-input
      :label="label"
      small-chips
      show-size
      filled
      dense
      clearable
      :loading="loading"
      :error-messages="error"
      @change="doUpload"
      accept="image/*"
    ></v-file-input>
  </div>
</template>

<script>
export default {
  name: "TheInputImage",
  props: {
    label: {
      type: String,
      default: "Upload Gambar",
    },
    error: {
      type: String,
      default: null,
    },
    previewHeight: {
      type: String,
      default: "150",
    },
    preview: {
      type: Boolean,
      default: true,
    },
    previewValue: {
      type: String,
      default: null,
    },
    fieldValue: {
      type: String,
      default: null,
    },
  },

  data: () => ({
    loading: false,
    imageFilename: "",
    imagePath: "",
  }),

  methods: {
    resetImage() {
      this.imageFilename = "";
      this.imagePath = "";
    },
    async doUpload(val) {
      this.resetImage();

      if (val) {
        this.loading = true;

        await this.axios
          .post("cdn-upload", {
            img: val,
          })
          .then((res) => {
            let data = res.data;
            switch (data.status) {
              case "success":
                this.imageFilename = data.result.filename;
                this.imagePath = data.result.path;
                break;
              case "validation":
                this.error = data.result.error.img;
                break;
              case "failed":
                this.error = data.msg;
                break;
            }
          })
          .catch(function (error) {
            console.log(error);
          });

        this.loading = false;

        this.$emit("change", {
          filename: this.imageFilename,
          path: this.imagePath,
        });
      }
    },
  },
};
</script>

<style>
</style>