<template>
  <div>
    <v-card class="rounded-lg">
      <v-card-text>
        <table>
          <tr>
            <td style="width: 40%" class="font-weight-bold">Kas Kasir</td>
            <td style="width: 5%"></td>
            <td style="width: 15%"></td>
            <td style="width: 5%"></td>
            <td style="width: 15%"></td>
            <td style="width: 5%"></td>
            <td style="width: 15%"></td>
          </tr>
          <tr>
            <td>Modal Awal Shift</td>
            <td>Rp.</td>
            <td>200.000</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Tambahan Modal</td>
            <td>Rp.</td>
            <td>50.000</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="font-weight-bold">Total Kas Masuk</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="font-weight-bold">Rp.</td>
            <td class="font-weight-bold text-right">250.000</td>
          </tr>
          <tr>
            <td>Beli Galon</td>
            <td></td>
            <td></td>
            <td>Rp.</td>
            <td class="text-right">12.000</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Pengamen</td>
            <td></td>
            <td></td>
            <td>Rp.</td>
            <td class="text-right">2.000</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="font-weight-bold">Total Kas Keluar</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="font-weight-bold">Rp.</td>
            <td class="font-weight-bold text-right">14.000</td>
          </tr>
          <tr>
            <td class="font-weight-bold">Total Kas Kasir</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="font-weight-bold">Rp.</td>
            <td class="font-weight-bold text-right">236.000</td>
          </tr>
          <tr>
            <td colspan="7">&nbsp;</td>
          </tr>
          <tr>
            <td>Penjualan Bersih</td>
            <td>Rp.</td>
            <td class="text-right">200.000</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Potongan Penjualan (Diskon)</td>
            <td>Rp.</td>
            <td class="text-right">20.000</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Retur Penjualan</td>
            <td>Rp.</td>
            <td class="text-right">50.000</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="font-weight-bold">Total Penjualan</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="font-weight-bold">Rp.</td>
            <td class="font-weight-bold text-right">130.000</td>
          </tr>
          <tr>
            <td class="font-weight-bold">Total Uang Shift</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="font-weight-bold">Rp.</td>
            <td class="font-weight-bold text-right">366.000</td>
          </tr>
          <tr>
            <td colspan="7">&nbsp;</td>
          </tr>
          <tr>
            <td>Pembelian</td>
            <td>Rp.</td>
            <td class="text-right">30.000</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Biaya Lain-lain Pembelian</td>
            <td>Rp.</td>
            <td class="text-right">5.000</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="font-weight-bold">Pembelian Bersih</td>
            <td></td>
            <td></td>
            <td class="font-weight-bold">Rp.</td>
            <td class="font-weight-bold text-right">35.000</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Pembelian Awal</td>
            <td></td>
            <td></td>
            <td>Rp.</td>
            <td class="text-right">250.000</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="font-weight-bold">Rp.</td>
            <td class="font-weight-bold text-right">285.000</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Persediaan Akhir</td>
            <td>Rp.</td>
            <td class="text-right">200.000</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td class="font-weight-bold">Harga Pokok Penjualan</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="font-weight-bold">Rp.</td>
            <td class="font-weight-bold text-right">85.000</td>
          </tr>
          <tr>
            <td class="font-weight-bold">Laba/Rugi Kotor</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="font-weight-bold">Rp.</td>
            <td class="font-weight-bold text-right">281.000</td>
          </tr>
          <tr>
            <td colspan="7">&nbsp;</td>
          </tr>
          <tr>
            <td>Pengembalian Uang Modal Shift</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Rp.</td>
            <td class="text-right text-right">250.000</td>
          </tr>
          <tr>
            <td class="font-weight-bold">Laba/Rugi</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="font-weight-bold">Rp.</td>
            <td class="font-weight-bold text-right">531.000</td>
          </tr>
        </table>
      </v-card-text>
    </v-card>
    <TheSnackbar ref="snackbar" />
  </div>
</template>

<script>
import TheSnackbar from "@/components/TheSnackbar";
export default {
  name: "TheLabaRugiReport",
  components: { TheSnackbar },
  data: () => ({}),
};
</script>

<style>
</style>