<template>
  <div>
    <v-row>
      <v-col cols="12">
        <TheGrid
          ref="laporanLabaRugiGrid"
          :title="title"
          :endPoint="endPoint"
          :headers="headers"
          :filters="filters"
          :actions="actions"
          class="ma-1"
          @action:filter-date="openModalFilterDate"
          @action:export-data="exportData"
          @loading="gridLoading"
          :headerText="headerText"
        />
      </v-col>
    </v-row>
    <TheSnackbar ref="snackbar" />

    <v-dialog ref="dialog" v-model="dialogDatePicker" persistent width="500">
      <TheGatzaDatePicker
        @select-date="setFilter"
        @close="dialogDatePicker = false"
        @reset="resetFilter"
      />
    </v-dialog>
  </div>
</template>

<script>
import TheGrid from "@/components/TheGrid";
import TheSnackbar from "@/components/TheSnackbar";
import TheGatzaDatePicker from "@/components/TheGatzaDatePicker";
export default {
  name: "TheLabaRugiPembelian",
  components: { TheGrid, TheSnackbar, TheGatzaDatePicker },
  data: () => ({
    title: "Laporan Laba/Rugi Pembelian",
    endPoint: "stock/list-laba-rugi",
    filters: [],
    headers: [
      {
        text: "Kode",
        align: "start",
        sortable: true,
        width: 70,
        value: "product_code",
        type: "string",
        searchType: "string",
      },
      {
        text: "Nama",
        align: "start",
        sortable: true,
        width: 150,
        value: "product_name",
        type: "string",
        searchType: "string",
      },
      {
        text: "Stok",
        align: "end",
        sortable: true,
        width: 80,
        value: "stok_sekarang",
        type: "nominal",
        searchType: "string",
      },
      {
        text: "Total Harga Beli (Rp)",
        align: "end",
        sortable: true,
        width: 150,
        value: "beli",
        type: "nominal",
        searchType: "string",
      },
      {
        text: "Total Harga Jual (Rp)",
        align: "end",
        sortable: true,
        width: 150,
        value: "jual",
        type: "nominal",
        searchType: "string",
      },
      {
        text: "Total Laba/Rugi (Rp)",
        align: "end",
        sortable: true,
        width: 150,
        value: "laba",
        type: "nominal",
        searchType: "string",
      },
    ],
    actions: [
      {
        name: "filter-date",
        text: "Filter Tanggal",
        icon: "mdi-calendar",
        class: "my-blue-button mr-3",
      },
      {
        name: "export-data",
        text: "Export",
        icon: "mdi-file-excel",
        class: "my-blue-button",
      },
    ],
    headerText: `
      <div class="caption font-weight-bold">Total Stok: 0 | Total Harga Beli: 0 | Total Harga Jual: 0 | Total Laba/Rugi: 0</div>
    `,
    dialogDatePicker: false,
    process_export: {
      run: false,
    },
  }),

  methods: {
    openModalFilterDate() {
      this.dialogDatePicker = true;
    },

    resetFilter() {
      let _self = this;
      this.filters = [];

      setTimeout(function () {
        _self.$refs.laporanLabaRugiGrid.fetch();
      }, 200);
      this.dialogDatePicker = false;
    },

    setFilter(val) {
      let _self = this;
      this.filters = [
        {
          type: "date",
          field: "stock_log_input_datetime",
          comparison: "bet",
          value: val[0] + "::" + val[1],
        },
      ];

      setTimeout(function () {
        _self.$refs.laporanLabaRugiGrid.fetch();
      }, 200);
      this.dialogDatePicker = false;
    },

    gridLoading(val) {
      if (!val) {
        let data = this.$refs.laporanLabaRugiGrid.otherData;
        this.headerText = `<div class="caption font-weight-bold">Total Stok: ${this.$helpers.numberFormat(
          data.stok_sekarang
        )} | Total Harga Beli:Rp. ${this.$helpers.numberFormat(
          data.beli
        )} | Total Harga Jual:Rp. ${this.$helpers.numberFormat(
          data.jual
        )} | Total Laba/Rugi:Rp. ${this.$helpers.numberFormat(
          data.laba
        )}</div>`;
      }
    },

    async exportData(){
      this.process_export.run = true;
      // let _self = this;
      // setTimeout(function () {
      //   _self.$refs.laporanLabaRugiGrid.fetch();
      // }, 200);
      
      let filter = this.filters;

      // console.log(this.$refs); return false;
      await this.axios
        .get("excel/export-laba-rugi-pembelian", {
          params: {filter: this.filters},
        })
        .then((res) => {
          this.process_export.run = false;
          if (res.status == 200) {
            window.open(res.data.result.url_export);
          }
      });
    },
  },
};
</script>

<style>
</style>