<template>
  <div>
    <v-row>
      <v-col cols="12">
        <TheGrid
          ref="productGrid"
          :title="title"
          :endPoint="endPoint"
          :headers="headers"
          :filters="filters"
          :actions="actions"
          class="ma-1"
          @action:create="openModalCreate"
          @action:detail="openModalDetail"
        />
      </v-col>
    </v-row>
    <TheSnackbar ref="snackbar" />
    <v-row justify="center">
      <!-- Add Product -->
      <v-dialog scrollable v-model="created.dialog" persistent max-width="600">
        <v-form ref="formCreate">
        <v-card>
          <v-card-title>
            <h4>Tambah Pembelian</h4>
              <v-spacer></v-spacer>
              <v-btn
                depressed
                icon
                :disabled="loading"
                @click="closeDialogCreated"
              >
                <v-icon>mdi-close-thick</v-icon>
              </v-btn>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <!-- <v-col cols="12"> -->
                <v-col class="pb-0 pt-0" cols="12" sm="6" md="6">
                  <v-select
                    :items="items"
                    v-model="created.data.supplier"
                    label="Supplier"
                    name="supplier"
                    :error-messages="created.feedback.data.supplier"
                    filled
                    dense
                    clearable
                    attach
                    :loading="loading"
                  ></v-select>
                </v-col>
                <v-col class="pb-0 pt-0" cols="12" sm="6" md="6">
                  <v-text-field 
                    label="Judul *"
                    type="text"
                    v-model="created.data.title"
                    name="title"
                    required
                    filled
                    dense
                    clearable
                    attach
                    :error-messages="created.feedback.data.title"
                    :loading="loading"
                  >
                  </v-text-field>
                </v-col>
                <v-col v-if="this.$store.state.userData.user_user_group_id != 3" cols="12" class="pb-0 pt-0">
                  <v-autocomplete
                    v-model="created.data.arrayProduct"
                    :error-messages="created.feedback.data.arrayProduct"
                    :items="arrProduct"
                    item-text="product_name" 
                    item-value="product_id"
                    filled
                    :loading="loading"
                    dense
                    clearable
                    return-object
                    autofocus
                    small-chips
                    multiple
                    label="Nama Produk *">
                  </v-autocomplete>
                  <table style="width:100%; padding: 0px" v-for="(item, index) in created.data.arrayProduct" :key="index">
                    <tr>
                      <td>
                        <p class="font-weight-bold">{{item.product_name}} ({{item.product_unit}})</p>
                      </td>
                    </tr>
                    <tr>
                      <td style="width:40%; padding-right:6px;">
                        <v-currency-field
                          class="currency-text-right"
                          dense
                          outlined
                          label="Harga Satuan"
                          onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                          v-model="created.data.arrayProduct[index].product_purchase_price"
                          required
                          :loading="loading"/>
                      </td>
                      <td style="width:40%; padding-left: 6px;">
                        <v-currency-field
                          class="currency-text-right"
                          dense
                          outlined
                          label="Jumlah"
                          onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                          v-model="created.data.arrayProduct[index].qty"
                          required
                          :loading="loading"/>
                      </td>
                    </tr>
                  </table>
                </v-col>
                <v-col v-if="this.$store.state.userData.user_user_group_id == 3" class="pb-0 pt-0" cols="12" sm="6" md="6">
                  <v-currency-field
                    class="currency-text-right"
                    label="Jumlah"
                    onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                    v-model="created.data.total_product_qty"
                    name="total_product_qty"
                    filled
                    dense
                    :loading="loading"
                  />
                </v-col>
                <v-col v-if="this.$store.state.userData.user_user_group_id != 3" class="pb-0 pt-0" cols="12" sm="6" md="6">
                  <v-currency-field
                    class="currency-text-right"
                    label="Total Harga *"
                    onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                    v-model="created.data.total_product_price"
                    name="total_product_price"
                    prefix="Rp"
                    :error-messages="created.feedback.data.total_product_price"
                    filled
                    dense
                    readonly
                    :loading="loading"
                  />
                </v-col>
                <v-col v-if="this.$store.state.userData.user_user_group_id == 3" class="pb-0 pt-0" cols="12" sm="6" md="6">
                  <v-currency-field
                    class="currency-text-right"
                    label="Total Harga *"
                    onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                    v-model="created.data.total_product_price"
                    name="total_product_price"
                    prefix="Rp"
                    :error-messages="created.feedback.data.total_product_price"
                    filled
                    dense
                    :loading="loading"
                  />
                </v-col>
                <v-col v-if="this.$store.state.userData.user_user_group_id != 3" class="pb-0 pt-0" cols="12" sm="6" md="6">
                  <v-currency-field
                    class="currency-text-right"
                    label="Biaya Lain"
                    onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                    v-model="created.data.total_biaya_lain"
                    name="total_biaya_lain"
                    prefix="Rp"
                    :error-messages="created.feedback.data.total_biaya_lain"
                    filled
                    dense
                    :loading="loading"
                  />
                </v-col>
                <v-col class="pb-0 pt-0" cols='12'>
                  <v-currency-field
                    class="currency-text-right"
                    v-if="this.$store.state.userData.user_user_group_id != 3" 
                    label="Grand Total"
                    onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                    v-model="created.data.grand_total"
                    name="grand_total"
                    prefix="Rp"
                    :error-messages="created.feedback.data.grand_total"
                    filled
                    dense
                    readonly
                    :loading="loading"
                  />
                  <v-text-field 
                    label="Catatan"
                    type="text"
                    v-model="created.data.note"
                    name="note"
                    required
                    filled
                    dense
                    clearable
                    attach
                    :error-messages="created.feedback.data.note"
                    :loading="loading"
                  >
                  </v-text-field>
                </v-col>
              </v-row>
            </v-container>
            <small>Isian yang bertanda (*) wajib diisi</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              class="my-blue-button"
              rounded
              @click="doCreate"
              :loading="loading"
              ><v-icon class="mr-2">mdi-content-save</v-icon>Simpan</v-btn
            >
          </v-card-actions>
        </v-card>
        </v-form>
      </v-dialog>

       <!-- Dialog Detail -->
      <v-dialog scrollable v-model="detail.dialog" persistent max-width="700">
        <v-form ref="formCreate" >
        <v-card>
          <v-card-title>
            <h4>Detail Pembelian</h4>
            <v-spacer></v-spacer>
            <v-btn
              depressed
              icon
              :disabled="loading"
              @click="closeDialogDetail"
            >
              <v-icon>mdi-close-thick</v-icon>
            </v-btn>
          </v-card-title>

           <v-card-text>
              <v-container>
                <v-row>
                  <v-col v-if="details.length > 0">
                    <v-simple-table dense style="width:100%">
                      <template v-slot:default>
                        <thead>
                          <tr>
                            <th class="text-center" style="font-size:13px">No</th>
                            <th class="text-left" style="font-size:13px">Nama Produk</th>
                            <th class="text-center" style="font-size:13px">Jumlah</th>
                            <th class="text-left" style="font-size:13px">Satuan</th>
                            <th class="text-right" style="font-size:13px">Harga Satuan (Rp)</th>
                            <th class="text-right" style="font-size:13px">Sub Total (Rp)</th>
                          </tr>
                        </thead>
                        <tbody 
                          v-for="(list, index) in details"
                          :key="index"
                        >
                          <tr>
                            <td class="text-center">{{index+1}}</td>
                            <td class="text-left">{{list.po_detail_product_name}}</td>
                            <td class="text-center">{{list.po_detail_product_qty}}</td>
                            <td class="text-left">{{list.po_detail_product_unit}}</td>
                            <td class="text-right">{{$helpers.numberFormat(list.po_detail_product_price, 0, ",", ".")}}</td>
                            <td class="text-right">{{$helpers.numberFormat(list.po_detail_product_subtotal_price, 0, ",", ".")}}</td>
                          </tr>
                        </tbody>
                      </template>
                    </v-simple-table>
                    <br>
                    <v-simple-table dense style="width:100%">
                      <template v-slot:default>
                        <tbody>
                          <tr>
                            <td class="text-right"></td>
                            <td class="text-right"></td>
                            <td class="text-right"></td>
                            <td class="text-right"></td>
                            <td class="text-right">Total Harga (Rp)</td>
                            <td class="text-right">{{$helpers.numberFormat(detail.data.po_total_product_price, 0, ",", ".")}}</td>
                            <!-- <br> -->
                          </tr>
                          <tr>
                            <td class="text-right"></td>
                            <td class="text-right"></td>
                            <td class="text-right"></td>
                            <td class="text-right"></td>
                            <td class="text-right">Biaya lain-lain (Rp)</td>
                            <td class="text-right">{{$helpers.numberFormat(detail.data.po_total_biaya_lain, 0, ",", ".")}}</td>
                            <!-- <br> -->
                          </tr>
                          <tr>
                            <td class="text-right"></td>
                            <td class="text-right"></td>
                            <td class="text-right"></td>
                            <td class="text-right"></td>
                            <td class="text-right">Grand Total (Rp)</td>
                            <td class="text-right">{{$helpers.numberFormat(detail.data.po_grand_total, 0, ",", ".")}}</td>
                          </tr>
                        </tbody>
                      </template>
                    </v-simple-table>
                  </v-col>

                  <v-col v-else>
                    <div class="text-center">Tidak ada detail karena bukan pembelian produk</div>
                  </v-col>
                </v-row>
              </v-container>
           </v-card-text>
        </v-card>
        </v-form>
      </v-dialog>
    </v-row>
  </div>
</template>

<script>
import TheGrid from "@/components/TheGrid";
import TheSnackbar from "@/components/TheSnackbar";
import TheInputImage from "@/components/TheInputImage"
export default {
  name: "ThePO",
  components: { TheGrid, TheSnackbar, TheInputImage },
  data: () => ({
    title: "Data Pembelian",
    endPoint: "po/list",
    filters: [],
    items: [],
    details: [],
    arrProduct: [],
    headers: [
       {
        text: "Tanggal",
        align: "center",
        sortable: false,
        width: 150,
        value: "po_input_datetime",
        type: "datetime",
        searchType: "date",
      },
      {
        text: "Judul",
        align: "start",
        sortable: true,
        width: 150,
        value: "po_title",
        type: "string",
        searchType: "string"
      },
       {
        text: "Jumlah",
        align: "center",
        sortable: true,
        width: 50,
        value: "po_qty",
        type: "number",
      },
      {
        text: "Total (Rp)",
        align: "right",
        sortable: false,
        width: 110,
        value: "po_total_product_price",
        type: "nominal"
      },
      {
        text: "Biaya Lain (Rp)",
        align: "right",
        sortable: false,
        width: 120,
        value: "po_total_biaya_lain",
        type: "nominal"
      },
      {
        text: "Grand Total (Rp)",
        align: "right",
        sortable: false,
        width: 120,
        value: "po_grand_total",
        type: "nominal"
      },
      {
        text: "Detail",
        align: "center",
        sortable: false,
        width: 40,
        type: "action",
        options: [
          {
            icon: "mdi-information-outline",
            name: "detail",
            color: "blue",
            // text: "Detail",
          }
        ],
      },
      {
        text: "Catatan",
        align: "left",
        sortable: false,
        width: 120,
        value: "po_note",
        type: "string"
      },
    ],
    actions: [
      {
        name: "create",
        text: "Tambah Pembelian",
        icon: "mdi-plus-circle",
        color: "my-green-button"
      },
    ],
    loading: false,
    created:{
      dialog: false,
      data:{
        supplier: 0,
        title: '',
        note: '',
        total_product_qty: 0,
        total_product_price: 0,
        total_biaya_lain: 0,
        grand_total: 0,
        arrayProduct: [],
        productQty: {},
        productPrice: {},
        productNote: {},
      },
      feedback: {
        msg: null,
        data: {
          supplier: 0,
          title: '',
          note: '',
          total_product_price: 0,
          total_biaya_lain: 0,
          grand_total: 0,
          arrayProduct: [],
          productPrice: 0,
          productQty: {},
          productNote: {},
        }
      },
    },
    detail:{
      dialog: false,
      data:{
        po_total_product_price: 0,
        po_total_biaya_lain: 0,
        po_grand_total: 0,
      }
    }
  }),

  mounted() {
    this.getSupplier();
    this.getProduct();
  },

  watch:{
    "created.data.arrayProduct": {
      handler(val){
        console.log(val)
        this.setSubtotalPrice(val)
      },
      deep: true
    },

    "created.data.total_biaya_lain": {
      handler(val){
        this.setGrandPrice(val)
      },
      deep: true
    }

  },

  methods: {
    async getSupplier() {
      await this.axios
        .get("supplier/options", {
          params: {},
        })
        .then((res) => {
          let data = res.data;
          switch (data.status) {
            case "success":
              this.items = Object.values(data.result);
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    },

    async getProduct(){
      await this.axios
        .get(`recipe/product-recipe-list`, {
          params: {},
        })
        .then((res) => {
          let data = res.data;
          switch (data.status) {
            case "success":
              data.result.data.forEach(element => {
                element.qty = 1
              })
              
              this.arrProduct = data.result.data
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    },

    setSubtotalPrice(value) {
      console.log(value)
      let count = 0;

      value.forEach(element => {
        count += element.product_purchase_price * element.qty
      });
      this.created.data.total_product_price = count
      this.created.data.grand_total = count
    },

    setGrandPrice(value) {
      let grand_total = 0;
      grand_total = value + this.created.data.total_product_price
      this.created.data.grand_total = grand_total
    },

    openModalCreate() {
      this.resetCreatedFeedback();
      this.created.dialog = true
    },

    resetCreatedFeedback() {
      this.created.feedback.msg = null;
      this.created.feedback.data.supplier = null;
      this.created.feedback.data.title = null;
      this.created.feedback.data.note = '';
      this.created.feedback.data.total_product_price = null;
      this.created.feedback.data.total_biaya_lain = null;
      this.created.feedback.data.grand_total = null;
      this.created.feedback.data.arrayProduct = null;
    },

    closeDialogCreated() {
      this.created.dialog = false;
      let reset = {
        supplier: 0,
        title: '',
        note: '',
        total_product_price: 0,
        total_biaya_lain: 0,
        grand_total: 0,
        arrayProduct: [],
        productQty: {},
        productPrice: {},
        productNote: {},
      }
      this.created.data = Object.assign({}, reset);
    },

    async doCreate() {
      this.loading = true;
      this.resetCreatedFeedback()

      let data = {}
      let input = this.created.data
      let productJson = []

      input.arrayProduct.forEach(element => {
        let dataProduct = {
          id : element.product_id,
          code : element.product_code,
          name: element.product_name,
          unit: element.product_unit,
          category_name: element.product_category_name,
          product_price: element.product_purchase_price,
          product_qty: element.qty,
        }
        productJson.push(dataProduct)
      });

      data.productJson = JSON.stringify(productJson)
      data.title = input.title
      data.supplier = input.supplier
      if(input.note){
        data.note = input.note
      }else{
        data.note = ''
      }
      data.total_product_qty = input.total_product_qty
      data.total_product_price = input.total_product_price
      data.total_biaya_lain = input.total_biaya_lain
      data.grand_total = input.grand_total

      await this.axios
        .post("po/create", data)
        .then(res => {
          let data = res.data;
          switch (data.status) {
            case "success":
              this.created.dialog = false;
              this.closeDialogCreated();
              this.$refs.snackbar.open("success", `${data.msg}`);
              this.$refs.productGrid.fetch();
              break;
            case "validation":
              this.created.feedback.msg = data.msg;
              this.created.feedback.data.title = data.result.error.title;
              this.created.feedback.data.supplier = data.result.error.supplier;
              this.created.feedback.data.total_product_price = data.result.error.total_product_price;
              this.created.feedback.data.arrayProduct = data.result.error.productJson;
              break;
            case "failed":
              this.$refs.snackbar.open("error", `${data.msg}`);
              this.closeDialogCreated();
              this.$refs.productGrid.fetch();
              break;
          }
        })
        .catch(function(error) {
          console.log(error);
        });

        this.loading = false;
    },

    openModalDetail(value){
      let detail = this.detail.data;
      this.details = JSON.parse(value.detail);

      detail.po_total_product_price = value.po_total_product_price;
      detail.po_total_biaya_lain = value.po_total_biaya_lain;
      detail.po_grand_total = value.po_grand_total;
      console.log(value)
      
      this.detail.dialog = true;
    },

    closeDialogDetail() {
      this.detail.dialog = false;
      let reset = {
        po_total_product_price: 0,
        po_total_biaya_lain: 0,
        po_grand_total: 0,
      }
      this.detail.data = Object.assign({}, reset);
    },
  },
};
</script>

<style>
</style>