<template>
  <div>
    <v-row>
      <v-col cols="12">
        <TheGrid
          ref="productGrid"
          :title="title"
          :endPoint="endPoint"
          :headers="headers"
          :filters="filters"
          :actions="actions"
          class="ma-1"
          @action:create="openModalCreate"
          @action:updated="openModalUpdate"
          @action:deleted="openModalDelete"
        />
      </v-col>
    </v-row>
    <TheSnackbar ref="snackbar" />
    <v-row justify="center">
      <!-- Add Product -->
      <v-dialog v-model="created.dialog" scrollable persistent max-width="500">
        <v-form ref="formCreate" @keyup.native.enter="doCreate">
          <v-card class="rounded">
            <v-card-title>
              <h4>Tambah Produk</h4>
              <v-spacer></v-spacer>
              <v-btn
                depressed
                icon
                :disabled="loading"
                @click="closeDialogCreated"
              >
                <v-icon>mdi-close-thick</v-icon>
              </v-btn>
            </v-card-title>
            <v-card-text>
              <v-container>
                <small>*wajib diisi</small>
                <v-row>
                  <v-col cols="12" sm="6" md="6">
                    <v-text-field
                      label="Nama produk *"
                      type="text"
                      v-model="created.data.name"
                      name="name"
                      required
                      :error-messages="created.feedback.data.name"
                      filled
                      dense
                      clearable
                      autofocus
                      :loading="loading"
                    ></v-text-field>
                    <v-currency-field
                      class="currency-text-right"
                      label="Harga Beli*"
                      v-model="created.data.purchasePrice"
                      name="purchasePrice"
                      prefix="Rp"
                      required
                      :error-messages="created.feedback.data.purchasePrice"
                      filled
                      dense
                      :loading="loading"
                    />

                    <v-currency-field
                      class="currency-text-right"
                      label="Harga Dine In *"
                      v-model="created.data.salesTypePrice.priceDineIn"
                      name="priceDineIn"
                      prefix="Rp"
                      required
                      :error-messages="
                        created.feedback.data.salesTypePrice.priceDineIn
                      "
                      filled
                      dense
                      :loading="loading"
                    />

                    <v-currency-field
                      class="currency-text-right"
                      label="Harga Take Away *"
                      v-model="created.data.salesTypePrice.priceTakeAway"
                      name="priceTakeAway"
                      prefix="Rp"
                      required
                      :error-messages="
                        created.feedback.data.salesTypePrice.priceTakeAway
                      "
                      filled
                      dense
                      :loading="loading"
                    />

                    <v-text-field
                      label="Satuan *"
                      type="text"
                      v-model="created.data.unit"
                      name="unit"
                      :error-messages="created.feedback.data.unit"
                      filled
                      dense
                      clearable
                      :loading="loading"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="6">
                    <v-select
                      :items="items"
                      v-model="created.data.category"
                      label="Kategori produk *"
                      name="category"
                      :error-messages="created.feedback.data.category"
                      filled
                      dense
                      clearable
                      attach
                      :loading="loading"
                    ></v-select>
                    <v-currency-field
                      class="currency-text-right"
                      label="Harga Jual *"
                      v-model="created.data.price"
                      name="price"
                      prefix="Rp"
                      required
                      :error-messages="created.feedback.data.price"
                      filled
                      dense
                      :loading="loading"
                    />

                    <v-currency-field
                      class="currency-text-right"
                      label="Harga Go Food *"
                      v-model="created.data.salesTypePrice.priceGo"
                      name="priceGo"
                      prefix="Rp"
                      required
                      :error-messages="
                        created.feedback.data.salesTypePrice.priceGo
                      "
                      filled
                      dense
                      :loading="loading"
                    />

                    <v-currency-field
                      class="currency-text-right"
                      label="Harga Grab Food *"
                      v-model="created.data.salesTypePrice.priceGrab"
                      name="priceGrab"
                      prefix="Rp"
                      required
                      :error-messages="
                        created.feedback.data.salesTypePrice.priceGrab
                      "
                      filled
                      dense
                      :loading="loading"
                    />

                    <v-text-field
                      label="Deskripsi"
                      type="text"
                      v-model="created.data.description"
                      name="description"
                      :error-messages="created.feedback.data.description"
                      filled
                      dense
                      clearable
                      :loading="loading"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <div class="d-flex justify-center">
                      <TheInputImage
                        label="Pilih"
                        previewHeight="150"
                        :previewValue="created.data.img"
                        @change="imgUrl"
                      />
                    </div>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <!-- <v-btn color="grey darken-1" @click="closeDialogCreated">Batal</v-btn> -->
              <!-- <v-btn color="grey darken-1" @click="created.dialog=false">Tutup</v-btn> -->
              <v-btn
                class="my-blue-button"
                :loading="loading"
                rounded
                @click="doCreate"
                ><v-icon class="mr-2">mdi-content-save</v-icon>Simpan</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-form>
      </v-dialog>

      <!-- Update Product -->
      <v-dialog v-model="updated.dialog" scrollable persistent max-width="500">
        <v-form ref="formUpdated" @keyup.native.enter="doUpdated">
          <v-card>
            <v-card-title>
              <h4 class="headline">Ubah Produk</h4>
              <v-spacer></v-spacer>
              <v-btn
                depressed
                icon
                :disabled="loading"
                @click="closeDialogUpdated"
              >
                <v-icon>mdi-close-thick</v-icon>
              </v-btn>
            </v-card-title>
            <v-card-text>
              <v-container>
                <small>*wajib diisi</small>
                <v-row>
                  <v-col cols="12" sm="6" md="6">
                    <v-text-field
                      label="Nama produk *"
                      type="text"
                      v-model="updated.data.name"
                      name="name"
                      required
                      :error-messages="updated.feedback.data.name"
                      filled
                      dense
                      clearable
                      autofocus
                      :loading="loading"
                    ></v-text-field>
                    <v-currency-field
                      class="currency-text-right"
                      label="Harga Beli*"
                      v-model="updated.data.purchasePrice"
                      name="purchasePrice"
                      prefix="Rp"
                      required
                      :error-messages="updated.feedback.data.purchasePrice"
                      filled
                      dense
                      :loading="loading"
                    />

                    <v-currency-field
                      class="currency-text-right"
                      label="Harga Dine In *"
                      v-model="updated.data.salesTypePrice.priceDineIn"
                      name="priceDineIn"
                      prefix="Rp"
                      required
                      :error-messages="
                        updated.feedback.data.salesTypePrice.priceDineIn
                      "
                      filled
                      dense
                      :loading="loading"
                    />

                    <v-currency-field
                      class="currency-text-right"
                      label="Harga Take Away *"
                      v-model="updated.data.salesTypePrice.priceTakeAway"
                      name="priceTakeAway"
                      prefix="Rp"
                      required
                      :error-messages="
                        updated.feedback.data.salesTypePrice.priceTakeAway
                      "
                      filled
                      dense
                      :loading="loading"
                    />

                    <v-text-field
                      label="Satuan *"
                      type="text"
                      v-model="updated.data.unit"
                      name="unit"
                      :error-messages="updated.feedback.data.unit"
                      filled
                      dense
                      clearable
                      :loading="loading"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="6">
                    <v-select
                      :items="items"
                      v-model="updated.data.category"
                      label="Kategori produk *"
                      name="category"
                      :error-messages="updated.feedback.data.category"
                      filled
                      dense
                      clearable
                      attach
                      :loading="loading"
                    ></v-select>
                    <v-currency-field
                      class="currency-text-right"
                      label="Harga Jual *"
                      v-model="updated.data.price"
                      name="price"
                      prefix="Rp"
                      required
                      :error-messages="updated.feedback.data.price"
                      filled
                      dense
                      :loading="loading"
                    />

                    <v-currency-field
                      class="currency-text-right"
                      label="Harga Go Food *"
                      v-model="updated.data.salesTypePrice.priceGo"
                      name="priceGo"
                      prefix="Rp"
                      required
                      :error-messages="
                        updated.feedback.data.salesTypePrice.priceGo
                      "
                      filled
                      dense
                      :loading="loading"
                    />

                    <v-currency-field
                      class="currency-text-right"
                      label="Harga Grab Food *"
                      v-model="updated.data.salesTypePrice.priceGrab"
                      name="priceGrab"
                      prefix="Rp"
                      required
                      :error-messages="
                        updated.feedback.data.salesTypePrice.priceGrab
                      "
                      filled
                      dense
                      :loading="loading"
                    />

                    <v-text-field
                      label="Deskripsi"
                      type="text"
                      v-model="updated.data.description"
                      name="description"
                      :error-messages="updated.feedback.data.description"
                      filled
                      dense
                      clearable
                      :loading="loading"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12">
                    <div class="d-flex justify-center">
                      <TheInputImage
                        label="Pilih"
                        previewHeight="150"
                        :previewValue="updated.data.img"
                        @change="imgUrl"
                      />
                    </div>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>
            <v-card-actions>
              <v-btn
                class="my-red-button"
                rounded
                depressed
                :loading="loading"
                @click="deleted.dialog = true"
              >
                <v-icon class="mr-2">mdi-trash-can</v-icon>Hapus
              </v-btn>
              <v-spacer></v-spacer>
              <!-- <v-btn color="grey darken-1" @click="closeDialogUpdated"
                >Tutup</v-btn
              > -->
              <!-- <v-btn color="grey darken-1" @click="updated.dialog=false">Tutup</v-btn> -->
              <v-btn
                rounded
                color="my-yellow-button"
                :loading="loading"
                @click="doUpdated"
                ><v-icon class="mr-2">mdi-content-save</v-icon>Simpan</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-form>
      </v-dialog>

      <!-- Delete Product -->
      <v-dialog v-model="deleted.dialog" :persistent="loading" max-width="350">
        <v-card class="rounded">
          <v-card-title>
            <span class="headline">Konfirmasi Hapus Produk</span>
          </v-card-title>
          <v-card-text class="text-center">
            Apakah anda yakin menghapus produk
            <b>{{ deleted.name }}</b> ?
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              ref="cancelDialogDeleted"
              color="grey darken-1"
              text
              @click="closeDialogDeleted"
              :disabled="loading"
              >Batal</v-btn
            >
            <v-btn color="error" text @click="doDeleted" :loading="loading"
              >Hapus</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </div>
</template>

<script>
import TheGrid from "@/components/TheGrid";
import TheSnackbar from "@/components/TheSnackbar";
import TheInputImage from "@/components/TheInputImage";
export default {
  name: "TheProduct",
  components: { TheGrid, TheSnackbar, TheInputImage },
  data: () => ({
    title: "Data Produk",
    endPoint: "product/list",
    filters: [],
    headers: [
      {
        text: "Aksi",
        align: "center",
        sortable: false,
        width: 120,
        type: "action",
        options: [
          {
            text: "Ubah Produk",
            icon: "mdi-pencil",
            name: "updated",
            color: "blue",
          },
          // {
          //   text: "Hapus Produk",
          //   icon: "mdi-delete-circle",
          //   name: "deleted",
          //   color: "red",
          // },
        ],
      },
      {
        text: "Kode",
        align: "start",
        sortable: true,
        width: 100,
        value: "product_code",
        type: "string",
        searchType: "string",
      },
      {
        text: "Nama",
        align: "start",
        sortable: true,
        width: 200,
        value: "product_name",
        type: "string",
        searchType: "string",
      },
      {
        text: "Kategori",
        align: "start",
        sortable: true,
        width: 150,
        value: "product_category_name",
        type: "string",
        // searchType: "string"
      },
      {
        text: "Gambar",
        align: "center",
        sortable: false,
        width: 80,
        value: "product_image_url",
        type: "image",
      },
      {
        text: "Harga Beli (Rp)",
        align: "end",
        sortable: true,
        width: 180,
        value: "product_purchase_price",
        type: "nominal",
        searchType: "string",
      },
      {
        text: "Harga Jual (Rp)",
        align: "end",
        sortable: true,
        width: 180,
        value: "product_price",
        type: "nominal",
        searchType: "string",
      },
      {
        text: "Harga Dine In (Rp)",
        align: "end",
        sortable: true,
        width: 180,
        value: "product_sales_type_price_json",
        key: "dine_in",
        type: "JSONNominal",
        searchType: "string",
      },
      {
        text: "Harga Take Away (Rp)",
        align: "end",
        sortable: true,
        width: 180,
        value: "product_sales_type_price_json",
        key: "take_away",
        type: "JSONNominal",
        searchType: "string",
      },
      {
        text: "Harga Go Food (Rp)",
        align: "end",
        sortable: true,
        width: 180,
        value: "product_sales_type_price_json",
        key: "go_food",
        type: "JSONNominal",
        searchType: "string",
      },
      {
        text: "Harga Grab Food (Rp)",
        align: "end",
        sortable: true,
        width: 180,
        value: "product_sales_type_price_json",
        key: "grab_food",
        type: "JSONNominal",
        searchType: "string",
      },
      {
        text: "Unit",
        align: "start",
        sortable: true,
        width: 80,
        value: "product_unit",
        type: "text",
        searchType: "string",
      },
      {
        text: "Deskripsi",
        align: "start",
        sortable: true,
        width: 300,
        value: "product_description",
        type: "text",
      },
    ],
    actions: [
      {
        name: "create",
        text: "Tambah Produk",
        icon: "mdi-plus-circle",
        class: "my-green-button",
      },
    ],
    loading: false,
    // dialog: false,
    items: [],
    created: {
      dialog: false,
      data: {
        name: "",
        category: "1",
        description: "",
        unit: "Pcs",
        price: 0,
        salesTypePrice: {
          priceDineIn: 0,
          priceTakeAway: 0,
          priceGo: 0,
          priceGrab: 0,
        },
        purchasePrice: 0,
        weight: 0,
        img: "",
      },
      feedback: {
        msg: null,
        data: {
          name: null,
          category: null,
          unit: null,
          price: null,
          salesTypePrice: {
            priceDineIn: null,
            priceTakeAway: null,
            priceGo: null,
            priceGrab: null,
          },
          purchasePrice: null,
          weight: null,
          img: null,
          description: null,
        },
      },
    },
    updated: {
      dialog: false,
      data: {
        name: "",
        category: "1",
        description: "",
        unit: "Pcs",
        price: 0,
        salesTypePrice: {
          priceDineIn: 0,
          priceTakeAway: 0,
          priceGo: 0,
          priceGrab: 0,
        },
        purchasePrice: 0,
        weight: 0,
        img: "",
      },
      feedback: {
        msg: null,
        data: {
          name: null,
          category: null,
          unit: null,
          price: null,
          salesTypePrice: {
            priceDineIn: null,
            priceTakeAway: null,
            priceGo: null,
            priceGrab: null,
          },
          purchasePrice: null,
          weight: null,
          img: null,
          description: null,
        },
      },
    },
    deleted: {
      dialog: false,
      name: "",
      id: "0",
    },
  }),

  watch: {
    "created.data.price": function (val) {
      this.created.data.salesTypePrice.priceDineIn = val;
      this.created.data.salesTypePrice.priceTakeAway = val;
      this.created.data.salesTypePrice.priceGo = val;
      this.created.data.salesTypePrice.priceGrab = val;
    },
  },

  mounted() {
    this.getCategoryProduct();
  },

  methods: {
    imgUrl(val) {
      toString((this.updated.data.img = val.path));
      toString((this.created.data.img = val.path));
    },

    openModalCreate() {
      this.resetCreatedFeedback();
      this.created.dialog = true;
    },

    async getCategoryProduct() {
      await this.axios
        .get("category/options", {
          params: {},
        })
        .then((res) => {
          let data = res.data;
          switch (data.status) {
            case "success":
              this.items = Object.values(data.result);
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    },

    resetCreatedFeedback() {
      this.created.feedback.msg = null;
      this.created.feedback.data.name = null;
      this.created.feedback.data.category = null;
      this.created.feedback.data.unit = null;
      this.created.feedback.data.price = null;
      this.created.feedback.data.salesTypePrice.priceDineIn = null;
      this.created.feedback.data.salesTypePrice.priceTakeAway = null;
      this.created.feedback.data.salesTypePrice.priceGo = null;
      this.created.feedback.data.salesTypePrice.priceGrab = null;
      this.created.feedback.data.img = null;
      this.created.feedback.data.weight = null;
      this.created.feedback.data.description = null;
    },

    closeDialogCreated() {
      this.created.dialog = false;
      this.created.data = {};
      if (this.created.data.salesTypePrice == undefined) {
        this.created.data.salesTypePrice = {};
      }
    },

    resetCreate() {
      this.created.data.name = "";
      this.created.data.category = "1";
      this.created.data.description = "";
      this.created.data.unit = "Pcs";
      this.created.data.purchasePrice = 0;
      this.created.data.weight = 0;
      this.created.data.img = "";
      this.created.data.salesTypePrice.priceDineIn = 0;
      this.created.data.salesTypePrice.priceTakeAway = 0;
      this.created.data.salesTypePrice.priceGo = 0;
      this.created.data.salesTypePrice.priceGrab = 0;
    },

    async doCreate() {
      this.loading = true;
      this.resetCreatedFeedback();
      let selesTypePrice = {
        dine_in: parseInt(this.created.data.salesTypePrice.priceDineIn),
        take_away: parseInt(this.created.data.salesTypePrice.priceTakeAway),
        go_food: parseInt(this.created.data.salesTypePrice.priceGo),
        grab_food: parseInt(this.created.data.salesTypePrice.priceGrab),
      };
      this.created.data.salesTypePrice = JSON.stringify(selesTypePrice);
      this.created.data.productType = 1;

      await this.axios
        .post("product/create", this.created.data)
        .then((res) => {
          let data = res.data;
          switch (data.status) {
            case "success":
              this.created.dialog = false;
              this.resetCreate();
              this.$refs.snackbar.open("success", `${data.msg}`);
              this.$refs.productGrid.fetch();
              break;
            case "validation":
              this.created.feedback.msg = data.msg;
              this.created.feedback.data.name = data.result.error.name;
              this.created.feedback.data.category = data.result.error.category;
              this.created.feedback.data.price = data.result.error.price;
              this.created.feedback.data.unit = data.result.error.unit;
              break;
            case "failed":
              this.$refs.snackbar.open("error", `${data.msg}`);
              this.closeDialogCreated();
              // this.created.dialog = false;
              this.$refs.productGrid.fetch();
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
      this.loading = false;
    },

    closeDialogUpdated() {
      this.updated.dialog = false;
      this.updated.data = {};
      if (this.updated.data.salesTypePrice == undefined) {
        this.updated.data.salesTypePrice = {};
      }
    },

    openModalUpdate(value) {
      let typePriceParse = {
        dine_in: 0,
        take_away: 0,
        go_food: 0,
        grab_food: 0,
      };

      if (Object.keys(value.product_sales_type_price_json).length != 0) {
        typePriceParse = JSON.parse(value.product_sales_type_price_json);
      }
      this.updated.dialog = true;
      this.updated.data.id = value.product_id;
      this.updated.data.name = value.product_name;
      this.updated.data.category = value.product_category_id;
      this.updated.data.unit = value.product_unit;
      this.updated.data.price = value.product_price;
      this.updated.data.purchasePrice = value.product_purchase_price;
      this.updated.data.salesTypePrice.priceDineIn = typePriceParse.dine_in;
      this.updated.data.salesTypePrice.priceTakeAway = typePriceParse.take_away;
      this.updated.data.salesTypePrice.priceGo = typePriceParse.go_food;
      this.updated.data.salesTypePrice.priceGrab = typePriceParse.grab_food;
      this.updated.data.img = value.product_image_url;
      this.updated.data.weight = value.product_weight;
      this.updated.data.description = value.product_description;

      this.deleted.name = value.product_name;
      this.deleted.id = value.product_id;
    },

    resetUpdatedFeedback() {
      this.updated.feedback.msg = null;
      this.updated.feedback.data.name = null;
      this.updated.feedback.data.category = null;
      this.updated.feedback.data.unit = null;
      this.updated.feedback.data.price = null;
      this.updated.feedback.data.salesTypePrice.priceDineIn = null;
      this.updated.feedback.data.salesTypePrice.priceTakeAway = null;
      this.updated.feedback.data.salesTypePrice.priceGo = null;
      this.updated.feedback.data.salesTypePrice.priceGrab = null;
      this.updated.feedback.data.img = null;
      this.updated.feedback.data.weight = null;
      this.updated.feedback.data.description = null;
    },

    resetUpdate() {
      this.updated.data.name = "";
      this.updated.data.category = "1";
      this.updated.data.description = "";
      this.updated.data.unit = "Pcs";
      this.updated.data.purchasePrice = 0;
      this.updated.data.weight = 0;
      this.updated.data.img = "";
      this.updated.data.salesTypePrice.priceDineIn = 0;
      this.updated.data.salesTypePrice.priceTakeAway = 0;
      this.updated.data.salesTypePrice.priceGo = 0;
      this.updated.data.salesTypePrice.priceGrab = 0;
    },

    async doUpdated() {
      this.loading = true;
      this.resetUpdatedFeedback();
      let selesTypePrice = {
        dine_in: parseInt(this.updated.data.salesTypePrice.priceDineIn),
        take_away: parseInt(this.updated.data.salesTypePrice.priceTakeAway),
        go_food: parseInt(this.updated.data.salesTypePrice.priceGo),
        grab_food: parseInt(this.updated.data.salesTypePrice.priceGrab),
      };
      this.updated.data.salesTypePrice = JSON.stringify(selesTypePrice);
      this.created.data.productType = 1;

      await this.axios
        .post("product/update", this.updated.data)
        .then((res) => {
          let data = res.data;
          switch (data.status) {
            case "success":
              this.updated.dialog = false;
              this.resetUpdate();
              this.$refs.snackbar.open("success", `${data.msg}`);
              this.$refs.productGrid.fetch();
              break;
            case "validation":
              this.updated.feedback.msg = data.msg;
              this.updated.feedback.data.name = data.result.error.name;
              this.updated.feedback.data.category = data.result.error.category;
              this.updated.feedback.data.price = data.result.error.price;
              this.updated.feedback.data.unit = data.result.error.unit;
              break;
            case "failed":
              this.$refs.snackbar.open("error", `${data.msg}`);
              this.$refs.productGrid.fetch();
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });

      this.loading = false;
    },

    openModalDelete(value) {
      this.deleted.dialog = true;
      this.deleted.name = value.product_name;
      this.deleted.id = value.product_id;
      let _self = this;
      setTimeout(function () {
        _self.$refs.cancelDialogDeleted.$el.focus();
      }, 200);
    },

    closeDialogDeleted() {
      this.deleted.dialog = false;
      this.deleted.name = "";
      this.deleted.id = "0";
    },

    async doDeleted() {
      this.loading = true;

      await this.axios
        .post("product/delete", this.deleted)
        .then((res) => {
          let data = res.data;
          switch (data.status) {
            case "success":
              this.$refs.snackbar.open(
                "success",
                `Berhasil menghapus produk "${this.deleted.name}"`
              );
              this.closeDialogDeleted();
              this.$refs.productGrid.fetch();
              break;
            case "failed":
              this.$refs.snackbar.open(
                "error",
                `Gagal menghapus produk "${this.deleted.name}". ${data.msg}`
              );
              this.closeDialogActivated();
              this.$refs.productGrid.fetch();
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });

      this.loading = false;
      this.updated.dialog = false;
      this.updated.data = {};
      if (this.updated.data.salesTypePrice == undefined) {
        this.updated.data.salesTypePrice = {};
      }
    },
  },
};
</script>

<style>
</style>