<template>
  <div>
    <!-- {{ this.$store.state.pos.cart.products }} -->
    <TheLoadingFetch />
    <ThePending />
    <TheComplete />
    <TheCloseRegister />

    <!-- Dialog Cash In Start Shift -->
    <v-dialog
      fullscreen
      v-model="dialogCashInStartShift"
      persistent
      scrollable
      max-width="400"
    >
      <v-card
        style="justify-content: center; align-items: center"
        class="rounded"
      >
        <div class="card-border" style="width: 40%; max-height: 40%">
          <v-card-text>
            <v-row>
              <v-col cols="12">
                Kas masuk
                <v-currency-field
                  id="right"
                  dense
                  onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                  v-model="inputCashIn"
                  prefix="Rp"
                  hide-details
                />
              </v-col>
              <v-col cols="12">
                Catatan
                <v-text-field
                  v-model="inputCashNote"
                  dense
                  type="text"
                  hide-details
                >
                </v-text-field>
              </v-col>
            </v-row>
          </v-card-text>
          <div class="px-6">
            <table style="width: 100%">
              <tr>
                <td class="pa-1" width="50%">
                  <v-btn depressed block class="my-grey-button" rounded to="/"
                    >Batal</v-btn
                  >
                </td>
                <td class="pa-1">
                  <v-btn
                    depressed
                    block
                    class="my-blue-button"
                    rounded
                    @click="inputCashIn >= 0 ? doStartShift() : ''"
                  >
                    Mulai Shift
                  </v-btn>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </v-card>
    </v-dialog>

    <v-col cols="12" class="py-0">
      <v-row>
        <v-col cols="12" md="7" class="py-0 px-2">
          <v-row>
            <v-col cols="12" class="py-0 px-2">
              <TheKategori />
            </v-col>
            <v-col cols="12" class="pb-0">
              <v-text-field
                prepend-inner-icon="mdi-magnify"
                placeholder="Cari nama menu disini"
                v-model="$store.state.pos.searchMenu"
                clearable
                outlined
                dense
                rounded
                hide-details
              ></v-text-field>
            </v-col>
            <v-col cols="12" class="pt-0 pb-0">
              <TheMenu :menu="menu" />
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="12" md="5" class="py-0"> <TheCart /></v-col>
      </v-row>
    </v-col>
    <v-snackbar
      v-model="$store.state.pos.snackbar.show"
      rounded="pill"
      timeout="5000"
      transition="slide-y-reverse-transition"
    >
      {{ $store.state.pos.snackbar.text }}
      <template v-slot:action="{ attrs }">
        <v-btn
          color="red"
          text
          v-bind="attrs"
          @click="$store.state.pos.snackbar.show = false"
          >Tutup</v-btn
        >
      </template>
    </v-snackbar>
    <v-overlay
      :value="$store.state.pos.overlayLoading"
      class="text-center"
      z-index="999"
    >
      <v-progress-circular indeterminate size="64"></v-progress-circular>
      <div class="mt-8">Tunggu sebentar ...</div>
    </v-overlay>
  </div>
</template>

<script>
import TheLoadingFetch from "@/components/posRevolution/TheLoadingFetch";
import TheKategori from "@/components/posRevolution/TheKategori";
import TheMenu from "@/components/posRevolution/TheMenu";
import ThePending from "@/components/posRevolution/ThePending";
import TheComplete from "@/components/posRevolution/TheComplete";
import TheCart from "@/components/posRevolution/TheCart";
import TheCloseRegister from "@/components/posRevolution/TheCloseRegister";
export default {
  name: "ThePosRevolution",
  components: {
    TheLoadingFetch,
    TheKategori,
    TheMenu,
    ThePending,
    TheComplete,
    TheCart,
    TheCloseRegister,
  },

  data: () => ({
    dialogCashInStartShift: false,
    inputCashIn: 0,
    inputCashNote: "",
  }),

  mounted() {
    // cek shift user
    this.checkShift();
  },

  computed: {
    // memfilter menu sesuai kategori yang dipilih & pencarian
    menu() {
      if (
        this.$store.state.pos.selectedCategory <= 0 &&
        !this.$store.state.pos.searchMenu
      )
        return this.$store.state.pos.products;

      return this.$store.state.pos.products.filter((item) => {
        if (
          this.$store.state.pos.searchMenu &&
          this.$store.state.pos.selectedCategory > 0
        ) {
          return (
            item.category_id ==
              this.$store.state.pos.categories[
                this.$store.state.pos.selectedCategory - 1
              ].id &&
            item.name
              .toLowerCase()
              .includes(this.$store.state.pos.searchMenu.toLowerCase())
          );
        } else {
          if (this.$store.state.pos.searchMenu) {
            return item.name
              .toLowerCase()
              .includes(this.$store.state.pos.searchMenu.toLowerCase());
          }

          if (this.$store.state.pos.selectedCategory > 0) {
            return (
              item.category_id ==
              this.$store.state.pos.categories[
                this.$store.state.pos.selectedCategory - 1
              ].id
            );
          }
        }
      });
    },
  },

  watch: {
    // stay watching perubahan di cart untuk menghitung total semua
    "$store.state.pos.cart": {
      handler: function (val) {
        let subTotal = 0;
        if (val.products.length > 0) {
          val.products.forEach((product) => {
            let totalPrice = product.qty * product.price;
            if (product.discountNominal > product.price) {
              product.discountNominal = product.price;
            }
            let totalDiscountNominal = product.discountNominal * product.qty;

            subTotal += totalPrice - totalDiscountNominal;
          });
        }
        this.$store.state.pos.cart.subTotal = subTotal;

        let discountPercent = this.$store.state.pos.cart.totalDiscountPercent;

        if (discountPercent > 0) {
          let discountNominal =
            discountPercent > 0
              ? Math.round(
                  (this.$store.state.pos.cart.subTotal * discountPercent) / 100
                )
              : 0;

          this.$store.state.pos.cart.totalDiscountNominal = discountNominal;
        }

        if (
          this.$store.state.pos.cart.totalDiscountNominal >
          this.$store.state.pos.cart.subTotal
        ) {
          this.$store.state.pos.cart.totalDiscountNominal = this.$store.state.pos.cart.subTotal;
        }

        this.$store.state.pos.cart.totalPayable =
          this.$store.state.pos.cart.subTotal -
          this.$store.state.pos.cart.totalDiscountNominal;
      },
      deep: true,
    },
  },

  methods: {
    async doStartShift() {
      let data = {};
      data.nominal = parseInt(this.inputCashIn);
      data.note = this.inputCashNote;
      await this.axios
        .post("cashier/in", data)
        .then((res) => {
          this.inputCashIn = 0;
          this.inputCashNote = "";
          this.dialogCashInStartShift = false;
          this.fetch();
        })
        .catch(function (error) {
          console.log(error);
        });
    },

    async checkShift() {
      let _self = this;
      await this.axios
        .get("pos/check")
        .then((res) => {
          let response = res.data;
          switch (response.status) {
            case "success":
              if (!response.result.already_start_shift) {
                this.dialogCashInStartShift = true;
              } else {
                this.fetch();
              }
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
          _self.$router.push({ name: "dashboard" });
        });
    },

    // ambil semua data (pelanggan, kategori, produk, tipe penjualan, diskon)
    async fetch() {
      this.$store.state.pos.loadingFetch.dialog = true;

      this.$store.state.pos.loadingFetch.text = "Menyiapkan data pelanggan";
      await this.getCustomer();

      this.$store.state.pos.loadingFetch.text = "Menyiapkan data kategori";
      await this.getCategory();

      this.$store.state.pos.loadingFetch.text = "Menyiapkan data produk";
      await this.getProduct();

      this.$store.state.pos.loadingFetch.text =
        "Menyiapkan transaksi tersimpan";
      await this.getTotalHold();

      this.$store.state.pos.loadingFetch.text =
        "Menyiapkan data Tipe Penjualan";
      await this.getSalesType();

      this.$store.state.pos.loadingFetch.text = "Menyiapkan data Diskon";
      await this.getDiscount();

      this.$store.state.pos.loadingFetch.dialog = false;
    },

    // ambil data pelanggan
    async getCustomer() {
      await this.axios
        .get("pos/list/customer", {
          params: {
            limit: -1,
          },
        })
        .then((res) => {
          let response = res.data;
          switch (response.status) {
            case "success":
              this.$store.state.pos.customers = response.result.data.map(
                (val, key) => ({
                  value: val.customer_id,
                  text: val.customer_name,
                })
              );
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    },

    // ambil data kategori
    async getCategory() {
      await this.axios
        .get("pos/list/category", {
          params: {
            limit: -1,
          },
        })
        .then((res) => {
          let response = res.data;
          switch (response.status) {
            case "success":
              this.$store.state.pos.categories = response.result.data.map(
                (val, key) => ({
                  id: val.category_id,
                  text: val.category_name,
                })
              );
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    },

    // ambil data produk
    async getProduct(val) {
      await this.axios
        .get("pos/list/product", {
          params: {
            limit: -1,
          },
        })
        .then((res) => {
          let response = res.data;
          switch (response.status) {
            case "success":
              this.$store.state.pos.products = response.result.data.map(
                (val, key) => ({
                  id: val.product_id,
                  category_id: val.product_category_id,
                  name: val.product_name,
                  image: val.product_image_url,
                  price: parseInt(val.product_price),
                  sellingPrice: parseInt(val.product_price),
                  qty: 0,
                  discountTitle: "",
                  discountPercent: 0,
                  discountNominal: 0,
                  stock: val.stock_balance,
                  stockWarning: val.stock_warning,
                })
              );
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    },

    // ambil total transaksi disimpan
    async getTotalHold() {
      await this.axios
        .get("pos/save/total")
        .then((res) => {
          let response = res.data;
          switch (response.status) {
            case "success":
              this.$store.state.totalSOPending = response.result.total_hold;
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    },

    // ambil data tipe penjualan
    async getSalesType() {
      await this.axios
        .get("pos/list/sales-type", {
          params: {
            limit: -1,
          },
        })
        .then((res) => {
          let response = res.data;
          this.salesTypeData = response.result.data;
          switch (response.status) {
            case "success":
              this.$store.state.pos.salesTypes = response.result.data.map(
                (val, key) => ({
                  slug: val.sales_type_slug,
                  name: val.sales_type_name,
                  margin: val.sales_type_margin,
                  value: val.sales_type_value,
                })
              );
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    },

    // ambil data diskon
    async getDiscount() {
      await this.axios
        .get("pos/list/discount", {
          params: {
            limit: -1,
          },
        })
        .then((res) => {
          let response = res.data;
          switch (response.status) {
            case "success":
              //ambil diskon item
              let arrDiscountItem = response.result.data.filter(
                (val) => val.discount_scope == "item"
              );
              this.$store.state.pos.discountsItem = arrDiscountItem.map(
                (val, key) => ({
                  id: val.discount_id,
                  title: val.discount_title,
                  scope: val.discount_scope,
                  percent: val.discount_percent,
                  nominal: val.discount_nominal,
                })
              );

              //ambil diskon global
              let arrDiscountGlobal = response.result.data.filter(
                (val) => val.discount_scope == "global"
              );
              this.$store.state.pos.discountsGlobal = arrDiscountGlobal.map(
                (val, key) => ({
                  id: val.discount_id,
                  title: val.discount_title,
                  scope: val.discount_scope,
                  percent: val.discount_percent,
                  nominal: val.discount_nominal,
                })
              );
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    },
  },
};
</script>

<style>
body {
  background-color: #c1b197;
}
.card-border {
  border-radius: 15px !important;
  box-shadow: 0px 6px 30px -3px rgba(0, 0, 0, 0.49) !important;
}
.tabs-category {
  text-transform: none !important;
}
.v-tab--active {
  background-color: rgba(149, 165, 166, 0.38);
}
.v-tabs-slider-wrapper {
  height: 4px !important;
}
.rounded {
  border-radius: 6px !important;
}
.v-dialog:not(.v-dialog--fullscreen) {
  max-height: 100%;
}
.v-list .v-list-item--active {
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff !important;
}
.chip-category.v-chip--active {
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff !important;
}
#field-diskon {
  text-align: right;
}
.card-pending {
  background: #dce35b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #45b649,
    #dce35b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #45b649,
    #dce35b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.payment-cash {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #8dc26f,
    #76b852
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #8dc26f,
    #76b852
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.payment-cash-other {
  background: #56ab2f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #a8e063,
    #56ab2f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #a8e063,
    #56ab2f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.payment-edc {
  background: #757f9a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #d7dde8,
    #757f9a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #d7dde8,
    #757f9a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.payment-transfer {
  background: #283048; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #859398,
    #283048
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #859398,
    #283048
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.payment-ovo {
  background: #9d50bb; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #6e48aa,
    #9d50bb
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #6e48aa,
    #9d50bb
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.payment-gopay {
  background: #457fca; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #5691c8,
    #457fca
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #5691c8,
    #457fca
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.button-active {
  border: 1px solid #3286ee;
  color: #3286ee !important;
  background: transparent;
}
</style>