<template>
  <div>
    <v-row>
      <v-col cols="12">
        <TheGrid
          ref="salesorderGrid"
          :title="title"
          :endPoint="endPoint"
          :headers="headers"
          :filters="filters"
          :summary="summary"
          class="ma-1"
        />
      </v-col>
    </v-row>
    <TheSnackbar ref="snackbar" />
  </div>
</template>

<script>
import TheGrid from "@/components/TheGrid";
import TheSnackbar from "@/components/TheSnackbar";
export default {
  name: "TheSalesOrderMonthly",
  components: { TheGrid, TheSnackbar },
  data: () => ({
    title: "Laporan Penjualan Bulanan",
    endPoint: "sales_order/list_monthly",
    filters: [],
    summary: true,
    headers: [
      {
        text: "Tanggal",
        align: "start",
        sortable: true,
        width: 120,
        value: "sales_order_date",
        type: "string"
      },
      {
        text: "Kode",
        align: "start",
        sortable: true,
        width: 150,
        value: "sales_order_transaction_number",
        type: "string"
      },
      {
        text: "Produk",
        align: "end",
        sortable: true,
        width: 50,
        value: "sales_order_total_product_qty",
        type: "string"
      },
      {
        text: "Diskon",
        align: "end",
        sortable: true,
        width: 80,
        value: "sales_order_total_discount_nominal",
        type: "nominal"
      },
      {
        text: "Harga",
        align: "end",
        sortable: true,
        width: 80,
        value: "sales_order_total_product_price",
        type: "nominal"
      },
      {
        text: "Subtotal",
        align: "end",
        sortable: true,
        width: 80,
        value: "sales_order_total_nett_price",
        type: "nominal"
      },
      {
        text: "Pajak",
        align: "end",
        sortable: true,
        width: 80,
        value: "sales_order_total_tax_nominal",
        type: "nominal"
      },
      {
        text: "Pembayaran",
        align: "start",
        sortable: true,
        width: 50,
        value: "sales_order_payment_method",
        type: "string"
      },
      {
        text: "Total Bayar",
        align: "end",
        sortable: true,
        width: 80,
        value: "sales_order_grand_total",
        type: "nominal"
      },
      // {
      //   text: "Detail",
      //   align: "start",
      //   width: 60,
      //   type: "action",
      //   // actions: {
      //   //   type: array,
      //   //   default: null
      //   // }
      // }
    ],
  })
}
</script>

<style>
</style>