<template>
  <div>
    <v-row>
      <v-col cols="12">
        <TheGrid
          ref="salesTypeGrid"
          :endPoint="endPoint"
          :headers="headers"
          :filters="filters"
          :actions="actions"
          class="ma-1"
          @action:create="openDialogCreate"
          @action:updated="openDialogEdit"
          @action:deleted="openDialogDelete"
        />
      </v-col>
    </v-row>
    <v-dialog v-model="edit.dialog" scrollable persistent max-width="400">
      <v-card class="rounded">
        <v-card-title>
          <h4>Ubah tipe penjualan</h4>
          <v-spacer></v-spacer>
          <v-btn depressed icon :disabled="loading" @click="edit.dialog = false">
            <v-icon>mdi-close-thick</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text>
          <v-form @keyup.native.enter="doUpdate" @submit.prevent>
            <v-alert
              border="right"
              color="red lighten-2"
              dark
              type="error"
              v-show="edit.feedback"
            >{{ edit.feedback }}</v-alert>
            <v-text-field
              label="Nama tipe penjualan"
              type="text"
              v-model="edit.form.sales_type_name"
              filled
              dense
              clearable
              autofocus
              :loading="loading"
            ></v-text-field>
            <v-select
              :items="items"
              v-model="edit.form.sales_type_margin"
              label="Tipe Margin"
              name="sales_type_margin"
              filled
              dense
              clearable
              autofocus
              required
              :loading="loading"
              @change="resetNominal"
            ></v-select>
            <v-text-field
              label="Margin Value"
              type="text"
              v-model="edit.form.sales_type_value"
              filled
              dense
              clearable
              autofocus
              :loading="loading"
              @click="resetValueNull"
            ></v-text-field>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-btn
            class="my-red-button"
            rounded
            depressed
            :loading="loading"
            @click="remove.dialog = true"
          >
            <v-icon class="mr-2">mdi-trash-can</v-icon>Hapus
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn class="my-yellow-button" rounded :loading="loading" depressed @click="doUpdate">
            <v-icon class="mr-2">mdi-content-save</v-icon>Simpan
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="create.dialog" scrollable persistent max-width="400">
      <v-card class="rounded">
        <v-card-title>
          <h4>Tambah tipe penjualan</h4>
          <v-spacer></v-spacer>
          <v-btn depressed icon :disabled="loading" @click="create.dialog = false">
            <v-icon>mdi-close-thick</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text>
          <v-form @keyup.native.enter="doCreate" @submit.prevent>
            <v-alert
              border="right"
              color="red lighten-2"
              dark
              type="error"
              v-show="create.feedback"
            >{{ create.feedback }}</v-alert>
            <v-text-field
              label="Nama tipe penjualan"
              type="text"
              v-model="create.form.sales_type_name"
              filled
              dense
              clearable
              autofocus
              required
              :loading="loading"
            ></v-text-field>
            <v-select
              :items="items"
              v-model="create.form.sales_type_margin"
              label="Tipe Margin"
              name="sales_type_margin"
              filled
              dense
              clearable
              autofocus
              required
              :loading="loading"
            ></v-select>
            <v-text-field
              label="Margin Value"
              type="text"
              v-model="create.form.sales_type_value"
              filled
              dense
              clearable
              autofocus
              required
              :loading="loading"
            ></v-text-field>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="my-blue-button" rounded depressed :loading="loading" @click="doCreate">
            <v-icon class="mr-2">mdi-content-save</v-icon>Simpan
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="remove.dialog" :persistent="loading" max-width="350">
      <v-card>
        <v-card-title>
          <span class="headline">Konfirmasi Hapus Tipe Penjualan</span>
        </v-card-title>
        <v-card-text class="text-center">
          Apakah anda yakin menghapus Tipe Penjualan
          <b>{{ remove.sales_type_name }}</b> ?
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            ref="cancelDialogDeleted"
            color="grey darken-1"
            text
            @click="closeDialogDeleted"
            :disabled="loading"
          >Batal</v-btn>
          <v-btn color="error" text @click="doDeleted" :loading="loading">Hapus</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <TheSnackbar ref="snackbar" />
  </div>
</template>

<script>
import TheGrid from "@/components/TheGrid";
import TheSnackbar from "@/components/TheSnackbar";
export default {
  name: "TheSalesType",
  components: { TheGrid, TheSnackbar },
  data: () => ({
    endPoint: "sales-type/list",
    filters: [],
    actions: [
      {
        name: "create",
        text: "Tambah Tipe",
        icon: "mdi-plus",
        color: "",
        class: "my-green-button",
      },
    ],
    headers: [
      {
        text: "Aksi",
        align: "center",
        sortable: false,
        width: 120,
        type: "action",
        options: [
          {
            text: "Ubah Tipe Penjualan",
            icon: "mdi-pencil",
            name: "updated",
            color: "blue",
          },
          {
            text: "Hapus Tipe Penjualan",
            icon: "mdi-delete-circle",
            name: "deleted",
            color: "red",
          },
        ],
      }, 
      {
        text: "Nama Tipe",
        align: "start",
        sortable: true,
        width: 150,
        value: "sales_type_name",
        type: "string",
        searchType: "string",
      },
       {
        text: "Tipe Margin",
        align: "start",
        sortable: true,
        width: 150,
        value: "sales_type_margin",
        type: "string",
        searchType: "string",
      },
       {
        text: "Margin Value",
        align: "start",
        sortable: true,
        width: 150,
        value: "sales_type_value",
        type: "string",
        searchType: "string",
      },
    ],
    edit: {
      dialog: false,
      form: {
        sales_type_id: "0",
        sales_type_name: "",
        sales_type_margin: "",
        sales_type_value: "",
      },
      feedback: "",
    },
    items: [
      'percent',
      'nominal'
    ],
    create: {
      dialog: false,
      form: {
        sales_type_name: "",
      },
      feedback: "",
    },
    remove: {
      sales_type_name: "",
      sales_type_id: "",
      dialog: false,
    },
    loading: false,
  }),
  computed: {},
  methods: {
    resetForm() {
      this.edit.form.sales_type_id = "0";
      this.edit.form.sales_type_name = "";
      this.edit.feedback = "";

      this.create.form.sales_type_name = "";
      this.create.form.sales_type_margin = "";
      this.create.form.sales_type_value = "";
      this.create.feedback = "";
    },
    resetNominal() {
      this.edit.form.sales_type_value = "0"
    },
    resetValueNull() {
      this.edit.form.sales_type_value = ""
    },
    openDialogCreate() {
      this.resetForm();
      this.create.dialog = true;
    },
    openDialogEdit(value) {
      this.edit.dialog = true;
      this.edit.form.sales_type_id = value.sales_type_id;
      this.edit.form.sales_type_name = value.sales_type_name;
      this.edit.form.sales_type_margin = value.sales_type_margin;
      this.edit.form.sales_type_value = value.sales_type_value;
    },
    openDialogDelete(value) {
      this.remove.dialog = true;
      this.remove.sales_type_id = value.sales_type_id;
      this.remove.sales_type_name = value.sales_type_name;
      let _self = this;
      setTimeout(function () {
        _self.$refs.cancelDialogDeleted.$el.focus();
      }, 200);
    },
    closeDialogDeleted() {
      this.remove.dialog = false;
      this.remove.sales_type_name = "";
      this.remove.sales_type_id = "0";
    },
    async doCreate() {
      this.loading = true;
      await this.axios
        .post("sales-type/create", this.create.form)
        .then((res) => {
          let data = res.data;
          switch (data.status) {
            case "success":
              this.create.dialog = false;
              this.$refs.snackbar.open("success", `${data.msg}`);
              this.$refs.salesTypeGrid.fetch();
              break;
            case "validation":
              this.created.feedback = data.msg;
              break;
            case "failed":
              this.$refs.snackbar.open("error", `${data.msg}`);
              this.create.dialog = false;
              this.$refs.salesTypeGrid.fetch();
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
      this.loading = false;
    },
    async doUpdate() {
      this.loading = true;
      await this.axios
        .post("sales-type/update", this.edit.form)
        .then((res) => {
          let data = res.data;
          switch (data.status) {
            case "success":
              this.edit.dialog = false;
              this.$refs.snackbar.open("success", `${data.msg}`);
              this.$refs.salesTypeGrid.fetch();
              break;
            case "validation":
              this.edit.feedback = data.msg;
              break;
            case "failed":
              this.$refs.snackbar.open("error", `${data.msg}`);
              this.edit.dialog = false;
              this.$refs.salesTypeGrid.fetch();
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
      this.loading = false;
    },
    async doDeleted() {
      this.loading = true;

      await this.axios
        .post("sales-type/delete", this.remove)
        .then((res) => {
          let data = res.data;
          switch (data.status) {
            case "success":
              this.$refs.snackbar.open(
                "success",
                `Berhasil menghapus produk "${data.result.salesName}"`
              );
              this.closeDialogDeleted();
              this.$refs.salesTypeGrid.fetch();
              break;
            case "failed":
              this.$refs.snackbar.open(
                "error",
                `Gagal menghapus produk "${data.result.salesName}". ${data.msg}`
              );
              this.closeDialogActivated();
              this.$refs.salesTypeGrid.fetch();
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });

      this.loading = false;
    },
  },
};
</script>

<style>
.v-list .v-list-item--active {
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff !important;
}
</style>