<template>
  <div>
    <v-row>
      <v-col cols="12">
        <TheGrid
          ref="stockLogGrid"
          :title="title"
          :endPoint="endPoint"
          :headers="headers"
          :filters="filters"
          :actions="actions"
          class="ma-1"
          @action:filter-date="openModalFilterDate"
          @loading="gridLoading"
          :headerText="headerText"
        />
      </v-col>
    </v-row>
    <TheSnackbar ref="snackbar" />
    <v-dialog ref="dialog" v-model="dialogDatePicker" persistent width="500">
      <TheGatzaDatePicker
        @select-date="setFilter"
        @close="dialogDatePicker = false"
        @reset="resetFilter"
      />
    </v-dialog>
  </div>
</template>

<script>
import TheGrid from "@/components/TheGrid";
import TheSnackbar from "@/components/TheSnackbar";
import TheGatzaDatePicker from "@/components/TheGatzaDatePicker";
export default {
  name: "TheStockLog",
  components: { TheGrid, TheSnackbar, TheGatzaDatePicker },
  data: () => ({
    title: "Data Riwayat Stok",
    endPoint: "stock/list_log",
    filters: [],
    headers: [
      {
        text: "Tanggal",
        align: "start",
        sortable: true,
        width: 70,
        value: "stock_log_input_datetime",
        type: "date",
        // searchType: "date",
      },
      {
        text: "Kode Transaksi",
        align: "start",
        sortable: true,
        width: 70,
        value: "stock_log_code",
        type: "string",
        searchType: "string",
      },
      {
        text: "Kode Produk",
        align: "start",
        sortable: true,
        width: 100,
        value: "stock_log_product_code",
        type: "string",
        searchType: "string",
      },
      {
        text: "Produk",
        align: "start",
        sortable: true,
        width: 90,
        value: "stock_log_product_name",
        type: "string",
        searchType: "string",
      },
      {
        text: "Jumlah",
        align: "end",
        sortable: true,
        width: 20,
        value: "stock_log_qty",
        type: "nominal",
        searchType: "string",
      },
      {
        text: "Jenis",
        align: "center",
        sortable: true,
        width: 30,
        value: "stock_log_movement_type",
        type: "chip",
        options: {
          color: {
            1: "blue lighten-2",
            2: "grey",
          },
          text: {
            1: "MASUK",
            2: "KELUAR",
          },
        },
        searchType: "option",
        searchOptions: [
          {
            text: "MASUK",
            value: "1",
          },
          {
            text: "KELUAR",
            value: "2",
          },
        ],
      },
      {
        text: "Transaksi",
        align: "center",
        sortable: true,
        width: 90,
        value: "stock_log_transaction_type",
        type: "chip",
        searchType: "option",
        options: {
          color: {
            1: "success",
            2: "primary",
            3: "orange",
          },
          text: {
            1: "Pembelian",
            2: "Penjualan",
            3: "Penyesuaian",
          },
        },
        searchOptions: [
          {
            text: "Pembelian",
            value: "1",
          },
          {
            text: "Penjualan",
            value: "2",
          },
          {
            text: "Penyesuaian",
            value: "3",
          },
        ],
      },
      // {
      //     text: "Harga Beli",
      //     align: "end",
      //     sortable: true,
      //     width: 20,
      //     value: "beli",
      //     type: "nominal",
      //     searchType: "string"
      //   },
      //   {
      //     text: "Harga Jual",
      //     align: "end",
      //     sortable: true,
      //     width: 20,
      //     value: "jual",
      //     type: "nominal",
      //     searchType: "string"
      //   },
      //   {
      //     text: "Laba",
      //     align: "end",
      //     sortable: true,
      //     width: 20,
      //     value: "laba",
      //     type: "nominal",
      //     searchType: "string"
      //   },
      {
        text: "Keterangan",
        align: "start",
        sortable: true,
        width: 200,
        value: "stock_log_note",
        type: "string",
        searchType: "string",
      },
    ],
    actions: [
      {
        name: "filter-date",
        text: "Filter Tanggal",
        icon: "mdi-calendar",
        class: "my-blue-button",
      },
    ],
    headerText: `
        <div class="caption font-weight-bold">Total Masuk: 0 | Total Keluar: 0 | Total Pembelian: 0 | Total Penjualan: 0 | Total Penyesuaian: 0</div>
      `,
    dialogDatePicker: false,
  }),
  methods: {
    openModalFilterDate() {
      this.dialogDatePicker = true;
    },

    resetFilter() {
      let _self = this;
      this.filters = [];

      setTimeout(function () {
        _self.$refs.stockLogGrid.fetch();
      }, 200);
      this.dialogDatePicker = false;
    },

    setFilter(val) {
      let _self = this;
      this.filters = [
        {
          type: "date",
          field: "stock_log_input_datetime",
          comparison: "bet",
          value: val[0] + "::" + val[1],
        },
      ];

      setTimeout(function () {
        _self.$refs.stockLogGrid.fetch();
      }, 200);
      this.dialogDatePicker = false;
    },

    gridLoading(val) {
      if (!val) {
        let data = this.$refs.stockLogGrid.otherData;
        this.headerText = `<div class="caption font-weight-bold">Total Masuk: ${this.$helpers.numberFormat(
          data.total_in
        )} | Total Keluar ${this.$helpers.numberFormat(
          data.total_out
        )} | Total Pembelian ${this.$helpers.numberFormat(
          data.buy
        )} | Total Penjualan ${this.$helpers.numberFormat(
          data.sell
        )} | Total Penyesuaian ${this.$helpers.numberFormat(
          data.adjustment
        )}</div>`;
      }
    },
  },
};
</script>

<style>
</style>