<template>
  <div class="text-center ma-2">
    <v-snackbar
      rounded="pill"
      v-model="snackbar"
      transition="slide-y-reverse-transition"
    >
      {{ text }}
      <template v-slot:action="{ attrs }">
        <v-btn color="red" text v-bind="attrs" @click="snackbar = false"
          >Tutup</v-btn
        >
      </template>
      <!-- <v-btn color="grey darken-1" text @click="snackbar = false;">Tutup</v-btn> -->
    </v-snackbar>
  </div>
</template>

<script>
export default {
  name: "TheSnackbar",
  data: () => ({
    snackbar: false,
    color: "success",
    text: "",
  }),

  methods: {
    open(color, text) {
      this.snackbar = true;
      this.text = text;
      this.color = color;
    },
  },
};
</script>

<style>
</style>