<template>
  <div>
    <v-row>
      <v-col cols="12">
        <TheGrid
          ref="stockGrid"
          :title="title"
          :endPoint="endPoint"
          :headers="headers"
          :filters="filters"
          class="ma-1"
        />
      </v-col>
    </v-row>
    <TheSnackbar ref="snackbar" />
  </div>
</template>

<script>
import TheGrid from "@/components/TheGrid";
import TheSnackbar from "@/components/TheSnackbar";
export default {
  name: "TheStock",
  components: { TheGrid, TheSnackbar },
  data: () => ({
    title: "Data Monitoring Stok",
    endPoint: "stock/list",
    filters: [],
    headers: [
      {
        text: "Kode",
        align: "start",
        sortable: true,
        width: 70,
        value: "product_code",
        type: "string",
        searchType: "string",
      },
      {
        text: "Nama",
        align: "start",
        sortable: true,
        width: 150,
        value: "product_name",
        type: "string",
        searchType: "string",
      },
      {
        text: "Stok",
        align: "end",
        sortable: true,
        width: 80,
        value: "stock_balance",
        type: "nominal",
        searchType: "string",
      },
      {
        text: "Total Harga Beli (Rp)",
        align: "end",
        sortable: true,
        width: 150,
        value: "beli",
        type: "nominal",
        searchType: "string",
      },
      {
        text: "Total Harga Jual (Rp)",
        align: "end",
        sortable: true,
        width: 150,
        value: "jual",
        type: "nominal",
        searchType: "string",
      },
      {
        text: "Total Laba/Rugi (Rp)",
        align: "end",
        sortable: true,
        width: 150,
        value: "laba",
        type: "nominal",
        searchType: "string",
      },
    ],
  }),

  methods: {},
};
</script>

<style>
</style>