<template>
  <div>
    <v-row>
      <v-col cols="12">
        <TheGrid
          ref="accountGrid"
          :title="title"
          :endPoint="endPoint"
          :headers="headers"
          :filters="filters"
          :actions="actions"
          class="ma-1"
          @action:create="openModalCreate"
          @action:updated="openModalUpdate"
          @action:deleted="openModalDelete"
        />
      </v-col>
    </v-row>
    <TheSnackbar ref="snackbar"/>
    <v-row justify="center">

      <!-- Add User -->
      <v-dialog v-model="created.dialog" persistent max-width="600px;">
        <v-form ref="formCreate" @keyup.native.enter="doCreate">
          <v-card>
            <v-card-title>
              <span class="headline">Tambah Karyawan</span>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col class="d-flex align-center" cols="4">
                    <v-row>
                      <v-col>
                        <TheInputImage :previewValue="created.data.image" @change="imgUrl"/>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col>
                    <v-row>
                      <v-col cols="12" sm="6" md="4">
                        <v-select
                          :items="userGroup"
                          item-text="user_group_name"
                          item-value="user_group_id"
                          return-string
                          v-model="created.data.userGroup"
                          label="Grup Karyawan*"
                          name="userGroup"
                          :error-messages="created.feedback.data.userGroup">
                        </v-select>
                      </v-col>
                      <v-col class="d-flex" cols="12" sm="6" md="4">
                        <v-select
                          :items="userStore"
                          item-text="store_name"
                          item-value="store_id"
                          return-string
                          v-model="created.data.userStore"
                          label="Toko*"
                          name="store"
                          :error-messages="created.feedback.data.userStore">
                        </v-select>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field
                          label="Username*"
                          type="text"
                          v-model="created.data.username"
                          name="username"
                          :error-messages="created.feedback.data.username">
                        </v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field
                          label="Password*"
                          type="text"
                          v-model="created.data.password"
                          name="password"
                          :error-messages="created.feedback.data.password">
                        </v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field
                          label="Nama Lengkap*"
                          type="text"
                          v-model="created.data.fullname"
                          name="fullname"
                          :error-messages="created.feedback.data.fullname">
                        </v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field
                          label="Email"
                          type="text"
                          v-model="created.data.email"
                          name="email"
                          :error-messages="created.feedback.data.email">
                        </v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field
                          label="No.Telepon*"
                          onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                          v-model="created.data.mobilePhone"
                          name="mobilePhone"
                          required
                          :error-messages="created.feedback.data.mobilePhone">
                        </v-text-field>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
              </v-container>
              <small>*indicates required field</small>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="grey darken-1" @click="closeDialogCreated">Tutup</v-btn>
              <!-- <v-btn color="grey darken-1" @click="created.dialog=false">Tutup</v-btn> -->
              <v-btn color="primary" @click="doCreate">Simpan</v-btn>
            </v-card-actions>
          </v-card>
        </v-form>
      </v-dialog>

      <!-- Update User -->
      <v-dialog v-model="updated.dialog" persistent max-width="600px;">
        <v-form ref="formUpdated" @keyup.native.enter="doCreate">
          <v-card>
            <v-card-title>
              <span class="headline">Ubah Karyawan</span>
            </v-card-title>
            <v-card-text>
              <v-container>
                <v-row>
                  <v-col class="d-flex align-center" cols="4">
                    <v-row>
                      <v-col>
                        <TheInputImage :previewValue="updated.data.image" @change="imgUrl"/>
                      </v-col>
                    </v-row>
                  </v-col>
                  <v-col>
                    <v-row>
                      <v-col cols="12" sm="6" md="4">
                        <v-select
                          :items="userGroup"
                          item-text="user_group_name"
                          item-value="user_group_id"
                          return-string
                          v-model="updated.data.userGroup"
                          label="Grup Karyawan*"
                          name="userGroup"
                          :error-messages="updated.feedback.data.userGroup">
                        </v-select>
                      </v-col>
                      <v-col class="d-flex" cols="12" sm="6" md="4">
                        <v-select
                          :items="userStore"
                          item-text="store_name"
                          item-value="store_id"
                          return-string
                          v-model="updated.data.userStore"
                          label="Toko*"
                          name="store"
                          :error-messages="updated.feedback.data.userStore">
                        </v-select>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field
                          label="Username*"
                          type="text"
                          v-model="updated.data.username"
                          name="username"
                          :error-messages="updated.feedback.data.username">
                        </v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field
                          label="Password*"
                          type="text"
                          v-model="updated.data.password"
                          name="password"
                          :error-messages="updated.feedback.data.password">
                        </v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field
                          label="Nama Lengkap*"
                          type="text"
                          v-model="updated.data.fullname"
                          name="fullname"
                          :error-messages="updated.feedback.data.fullname">
                        </v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field
                          label="Email"
                          type="text"
                          v-model="updated.data.email"
                          name="email"
                          :error-messages="updated.feedback.data.email">
                        </v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field
                          label="No.Telepon*"
                          onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                          v-model="updated.data.mobilePhone"
                          name="mobilePhone"
                          required
                          :error-messages="updated.feedback.data.mobilePhone">
                        </v-text-field>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>
              </v-container>
              <small>*indicates required field</small>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="grey darken-1" @click="closeDialogUpdated">Tutup</v-btn>
              <v-btn color="primary" @click="doUpdated">Simpan</v-btn>
            </v-card-actions>
          </v-card>
        </v-form>
      </v-dialog>

      <!-- Delete User -->
      <v-dialog v-model="deleted.dialog" :persistent="loading" max-width="350">
        <v-card>
          <v-card-title>
            <span class="headline">Konfirmasi Hapus Karyawan</span>
          </v-card-title>
          <v-card-text class="text-center">
            Apakah anda yakin menghapus Karyawan
            <b>{{ deleted.user_fullname }}</b> ?
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              ref="cancelDialogDeleted"
              color="grey darken-1"
              text
              @click="closeDialogDeleted"
              :disabled="loading"
            >Batal</v-btn>
            <v-btn color="error" text @click="doDeleted" :loading="loading">Hapus</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      
    </v-row>
  </div>
</template>

<script>
import TheGrid from "@/components/TheGrid";
import TheSnackbar from "@/components/TheSnackbar";
import TheInputImage from "@/components/TheInputImage"
export default {
  name: "TheUser",
  components: { TheGrid, TheSnackbar, TheInputImage },
  data: () => ({
    title: "Data Karyawan",
    endPoint: "user/list",
    filters: [],
    headers: [
      {
        text: "Aksi",
        align: "center",
        sortable: false,
        width: 120,
        type: "action",
        options: [
          {
            text: "Ubah Karyawan",
            icon: "mdi-pencil",
            name: "updated",
            color: "blue",
          },
          {
            text: "Hapus Karyawan",
            icon: "mdi-delete-circle",
            name: "deleted",
            color: "red",
          },
        ],
      },
      {
        text: "Toko",
        align: "start",
        sortable: true,
        width: 150,
        value: "store_name",
        type: "string",
      },
      {
        text: "Grup",
        align: "start",
        sortable: true,
        width: 120,
        value: "user_group_name",
        type: "string",
      },
      {
        text: "Gambar Profil",
        align: "center",
        sortable: false,
        width: 120,
        value: "user_image",
        type: "image",
      },
      {
        text: "Username",
        align: "start",
        sortable: true,
        width: 150,
        value: "user_username",
        searchType: "string",
      },
      {
        text: "Nama",
        align: "start",
        sortable: true,
        width: 250,
        value: "user_fullname",
        searchType: "string",
      },
      {
        text: "Email",
        align: "start",
        sortable: true,
        width: 250,
        value: "user_email",
        searchType: "string",
      },
      {
        text: "No. Handphone",
        align: "start",
        sortable: true,
        width: 100,
        value: "user_mobilephone",
        searchType: "string",
      },
      {
        text: "Status",
        align: "center",
        sortable: true,
        width: 150,
        value: "user_is_active",
        type: "chip",
        options: {
          color: {
            "0": "error",
            "1": "success",
          },
          text: {
            "0": "Tidak Aktif",
            "1": "Aktif",
          },
        },
        searchType: "option",
        searchOptions: [
          {
            text: "Tidak Aktif",
            value: "0",
          },
          {
            text: "Aktif",
            value: "1",
          },
        ],
      },
      {
        text: "Login Terakhir",
        align: "center",
        sortable: true,
        width: 200,
        value: "user_last_login",
        type: "datetime",
        searchType: "date",
      },
    ],
    actions: [
      {
        name: "create",
        text: "Tambah",
        icon: "mdi-plus-circle",
        color: "success",
      },
    ],
    userGroup: [],
    userStore: [],
    loading: false,
    created: {
      dialog: false,
      data: {
        userGroup: null,
        userStore: null,
        username: null,
        password: null,
        fullname: null,
        email: null,
        image: null,
        mobilePhone: null,
      },
      feedback: {
        msg: null,
        data: {
          userGroup: null,
          userStore: null,
          username: null,
          password: null,
          fullname: null,
          email: null,
          image:null,
          mobilePhone: null,
        },
      },
    },
    updated: {
      dialog: false,
      data: {
        userGroup: null,
        userStore: null,
        username: null,
        password: null,
        fullname: null,
        email: null,
        image: null,
        mobilePhone: null,
      },
      feedback: {
        msg: null,
        data: {
          userGroup: null,
          userStore: null,
          username: null,
          password: null,
          fullname: null,
          email: null,
          image:null,
          mobilePhone: null,
        },
      },
    },
    deleted: {
      dialog: false,
      user_id: null,
      user_fullname: null
    }
  }),
  
  mounted() {
    this.getUserGroup();
    this.getUserStore();
  },

  methods: {
    imgUrl(val){
      toString(this.updated.data.image = val.path)
      toString(this.created.data.image = val.path)
    },

    async getUserGroup() {
      await this.axios
        .get("user-group/list", {
          params: {},
        })
        .then((res) => {
          let data = res.data;
          switch (data.status) {
            case "success":
              let SuIndex = data.result.data.findIndex(element => element.user_group_type === 'superuser')
              data.result.data.splice(SuIndex,1)
              this.userGroup = data.result.data;
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    },

    async getUserStore() {
      await this.axios
        .get("store/list", {
          params: {},
        })
        .then((res) => {
          let data = res.data;
          switch (data.status) {
            case "success":
              this.userStore = data.result.data;
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    
    openModalCreate(){
      this.resetCreatedFeedback();
      this.created.dialog = true;
    },

    resetCreatedFeedback() {
      this.created.feedback.msg = null;
      this.created.feedback.data.userGroup = null;
      this.created.feedback.data.userStore = null;
      this.created.feedback.data.username = null;
      this.created.feedback.data.password = null;
      this.created.feedback.data.fullname = null;
      this.created.feedback.data.email = null;
      this.created.feedback.data.mobilePhone = null;
      this.created.feedback.data.image = null;
    },
    
    async doCreate() {
      this.resetCreatedFeedback();

      await this.axios
        .post("user/create", this.created.data)
        .then((res) => {
          let data = res.data;
          switch (data.status) {
            case "success":
              this.created.dialog = false;
              this.created.data = {};
              this.$refs.snackbar.open("success", `${data.msg}`);
              this.$refs.accountGrid.fetch();
              break;
            case "validation":
              this.created.feedback.msg = data.msg;
              this.created.feedback.data.userGroup = data.result.error.userGroup;
              this.created.feedback.data.userStore = data.result.error.userStore;
              this.created.feedback.data.username = data.result.error.username;
              this.created.feedback.data.password = data.result.error.password;
              this.created.feedback.data.fullname = data.result.error.fullname;
              this.created.feedback.data.email = data.result.error.email;
              this.created.feedback.data.mobilePhone = data.result.error.mobilePhone;
              break;
            case "failed":
              this.$refs.snackbar.open("error", `${data.msg}`);
              this.closeDialogCreated();
              this.$refs.accountGrid.fetch();
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    },

    closeDialogCreated() {
      this.created.dialog = false;
      this.created.data = {};
    },

    openModalUpdate(value){
      this.updated.dialog = true;
      this.updated.data.user_id = value.user_id;
      this.updated.data.userGroup = value.user_user_group_id;
      this.updated.data.userStore = value.user_store_id;
      this.updated.data.username = value.user_username;
      this.updated.data.fullname = value.user_fullname;
      // this.updated.data.password = value.user_password;
      this.updated.data.email = value.user_email;
      this.updated.data.image = value.user_image;
      this.updated.data.mobilePhone = value.user_mobilephone;
    },
    
    resetUpdatedFeedback() {
      this.updated.feedback.msg = null;
      this.updated.feedback.data.userGroup = null;
      this.updated.feedback.data.userStore = null;
      this.updated.feedback.data.username = null;
      this.updated.feedback.data.password = null;
      this.updated.feedback.data.fullname = null;
      this.updated.feedback.data.email = null;
      this.updated.feedback.data.image = null;
      this.updated.feedback.data.mobilePhone = null;
    },

    async doUpdated() {
      this.resetUpdatedFeedback();

      await this.axios
        .post("user/update", this.updated.data)
        .then((res) => {
          let data = res.data;
          switch (data.status) {
            case "success":
              this.updated.dialog = false;
              this.updated.data = {};
              this.$refs.snackbar.open("success", `${data.msg}`);
              this.$refs.accountGrid.fetch();
              break;
            case "validation":
              this.updated.feedback.msg = data.msg;
              this.updated.feedback.data.userGroup = data.result.error.userGroup;
              this.updated.feedback.data.userStore = data.result.error.userStore;
              this.updated.feedback.data.username = data.result.error.username;
              this.updated.feedback.data.password = data.result.error.password;
              this.updated.feedback.data.fullname = data.result.error.fullname;
              this.updated.feedback.data.email = data.result.error.email;
              this.updated.feedback.data.mobilePhone = data.result.error.mobilePhone;
              break;
            case "failed":
              this.$refs.snackbar.open("error", `${data.msg}`);
              this.$refs.accountGrid.fetch();
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    
    closeDialogUpdated() {
      this.updated.dialog = false;
      this.updated.data = {};
    },

    openModalDelete(value){
      this.deleted.dialog = true;
      this.deleted.user_fullname = value.user_fullname;
      this.deleted.user_id = value.user_id;
      let _self = this;
      setTimeout(function () {
        _self.$refs.cancelDialogDeleted.$el.focus();
      }, 200);
    },

    closeDialogDeleted() {
      this.deleted.dialog = false;
      this.deleted.user_fullname = null;
      this.deleted.user_id = null;
    },

    async doDeleted() {
      this.loading = true;

      await this.axios
        .post("user/delete", this.deleted)
        .then((res) => {
          let data = res.data;
          switch (data.status) {
            case "success":
              this.$refs.snackbar.open(
                "success",
                `Berhasil menghapus karyawan "${this.deleted.user_fullname}"`
              );
              this.closeDialogDeleted();
              this.$refs.accountGrid.fetch();
              break;
            case "failed":
              this.$refs.snackbar.open(
                "error",
                `Gagal menghapus karyawan "${this.deleted.user_fullname}". ${data.msg}`
              );
              this.closeDialogActivated();
              this.$refs.accountGrid.fetch();
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });

      this.loading = false;
    },
  }
};
</script>

<style>
</style>