<!DOCTYPE html>
<html lang="en" translate="no">

<head>
  <meta name="google" content="notranslate">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- <meta name="viewport" content="width=device-width,initial-scale=1.0" /> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="HandheldFriendly" content="true" />
  <link rel="icon" href="<%= BASE_URL %>favicon.ico?v=1" />
  <!-- <meta name=theme-color content=#e84393>
  <link rel=mask-icon href=/img/icons/safari-pinned-tab.svg color=#e84393>
  <meta name=msapplication-TileColor content=#e84393> -->
  <title>next POS</title>
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css" /> -->

  <style>
    @supports (user-select:none) {
      body {
        user-select:none
      }
    }

    @supports (-webkit-user-select:none) {
      body {
        -webkit-user-select:none
      }
    }

    @supports (-ms-user-select:none) {
      body {
        -ms-user-select:none
      }
    }

    @supports (-moz-user-select:none) {
      body {
        -moz-user-select:none
      }
    }
    
    /* Center the loader */
    #loader {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 1;
      width: 150px;
      height: 150px;
      margin: -75px 0 0 -75px;
      border: 4px solid #f3f3f3;
      border-radius: 50%;
      border-top: 4px solid #3498db;
      width: 120px;
      height: 120px;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
    }

    #text-loader {
      position: absolute;
      left: calc(50% - 80px);
      top: calc(50% + 80px);
    }

    @-webkit-keyframes spin {
      0% {
        -webkit-transform: rotate(360deg);
      }

      100% {
        -webkit-transform: rotate(0deg);
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(360deg);
      }

      100% {
        transform: rotate(0deg);
      }
    }

    /* Add animation to "page content" */
    .animate-bottom {
      position: relative;
      -webkit-animation-name: animatebottom;
      -webkit-animation-duration: 1s;
      animation-name: animatebottom;
      animation-duration: 1s
    }

    @-webkit-keyframes animatebottom {
      from {
        bottom: -100px;
        opacity: 0
      }

      to {
        bottom: 0px;
        opacity: 1
      }
    }

    @keyframes animatebottom {
      from {
        bottom: -100px;
        opacity: 0
      }

      to {
        bottom: 0;
        opacity: 1
      }
    }
  </style>
</head>

<body>
  <noscript>
    <strong>We're sorry but Tempattemen doesn't work
      properly without JavaScript enabled. Please enable it to
      continue.</strong>
  </noscript>
  <div id="app">
    <div id="loader"></div>
    <div id="text-loader" style="text-align: center; font-family: Arial, Helvetica, sans-serif;">Menyiapkan sistem</div>
  </div>
  <!-- built files will be auto injected -->
</body>

</html>