<template>
  <div>
    <section>
      <v-dialog
        scrollable
        v-model="$store.state.dialogAddIngredients"
        persistent
        max-width="600"
      >
        <v-form ref="formCreate" @keyup.native.enter="doCreate()">
          <AddCategory @updateCategory="updateCategory" :from="'ingredients'" />
          <v-card class="rounded-lg">
            <v-card-title>
              <h4>Tambah Bahan Baku</h4>
              <v-spacer></v-spacer>
              <v-btn
                depressed
                icon
                :disabled="loading"
                @click="closeDialogCreated()"
              >
                <v-icon>mdi-close-thick</v-icon>
              </v-btn>
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text style="height: 500px">
              <v-container>
                <!-- Add Form -->
                <v-row>
                  <!-- Left Form -->
                  <v-col class="pb-0" cols="12" sm="6" md="6">
                    <v-text-field
                      label="Nama Bahan *"
                      type="text"
                      v-model="add.input.name"
                      name="name"
                      required
                      :error-messages="add.feedback.data.name"
                      filled
                      dense
                      clearable
                      :loading="loading"
                    ></v-text-field>
                    <v-currency-field
                      class="currency-text-right"
                      label="Harga Beli"
                      v-model="add.input.purchasePrice"
                      name="purchasePrice"
                      prefix="Rp"
                      :error-messages="add.feedback.data.purchasePrice"
                      filled
                      dense
                      :loading="loading"
                    />
                    <v-text-field
                      label="Satuan"
                      type="text"
                      v-model="add.input.unit"
                      name="unit"
                      :error-messages="add.feedback.data.unit"
                      filled
                      dense
                      :loading="loading"
                    ></v-text-field>
                  </v-col>

                  <!-- Right Form -->
                  <v-col class="pb-0" cols="12" sm="6" md="6">
                    <table>
                      <tr>
                        <td>
                          <v-select
                            :items="categoryData"
                            v-model="add.input.category"
                            label="Kategori *"
                            name="category"
                            :error-messages="add.feedback.data.category"
                            filled
                            dense
                            clearable
                            attach
                            item-color="#fff"
                            :loading="loading"
                          ></v-select>
                        </td>
                        <td style="vertical-align: top" class="pl-2 pt-2">
                          <v-btn
                            color="my-blue-button white--text"
                            depressed
                            fab
                            small
                            @click="
                              $store.state.dialogAddCategory = true
                              $store.state.dialogAddIngredients = false"
                          >
                            <v-icon> mdi-plus </v-icon>
                          </v-btn>
                        </td>
                      </tr>
                    </table>
                    <v-currency-field
                      class="currency-text-right"
                      label="Harga Jual *"
                      v-model="add.input.price"
                      name="price"
                      prefix="Rp"
                      :error-messages="add.feedback.data.price"
                      filled
                      dense
                      :loading="loading"
                    />
                    <v-text-field
                      label="Deskripsi"
                      type="text"
                      v-model="add.input.description"
                      name="description"
                      :error-messages="add.feedback.data.description"
                      filled
                      dense
                      clearable
                      :loading="loading"
                    ></v-text-field>
                  </v-col>

                  <!-- Config -->
                  <v-col cols="12" class="py-0">
                    <!-- Config Stock -->
                    <v-checkbox
                      class="mt-0"
                      v-model="add.input.isStockReduction"
                      :label="`Terapkan pengurangan stok`"
                      filled
                      dense
                      clearable
                      attach
                      :loading="loading"
                    ></v-checkbox>
                    <v-row>
                      <v-col cols="6" v-if="add.input.isStockReduction == true">
                        <v-currency-field
                          label="Stok Saat Ini *"
                          v-model="add.input.currentStock"
                          name="currentStock"
                          prefix=""
                          :error-messages="add.feedback.data.currentStock"
                          filled
                          dense
                          clearable
                          :loading="loading"
                        />
                      </v-col>
                      <v-col cols="6" v-if="add.input.isStockReduction == true">
                        <v-currency-field
                          label="Stok Minimal *"
                          v-model="add.input.minStock"
                          name="minStock"
                          prefix=""
                          :error-messages="add.feedback.data.minStock"
                          filled
                          dense
                          :loading="loading"
                          clearable
                        />
                      </v-col>
                    </v-row>

                    <!-- Config Sales Type -->
                    <v-checkbox
                      class="mt-0"
                      v-model="add.input.typeSales"
                      :label="`Terapkan tipe penjualan`"
                      filled
                      dense
                      clearable
                      attach
                      :loading="loading"
                    ></v-checkbox>

                    <!-- Confif Product is Not Sale -->
                    <v-checkbox
                      class="mt-0"
                      v-model="add.input.isNotSale"
                      :label="`Terapkan untuk tidak dijual`"
                      filled
                      dense
                      clearable
                      attach
                      :loading="loading"
                    ></v-checkbox>
                  </v-col>
                  <v-col cols="12">
                    <div class="d-flex justify-center">
                      <TheInputImage
                        label="Pilih"
                        previewHeight="150"
                        :previewValue="add.input.img"
                        @change="imgUrl"
                      />
                    </div>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
              <small class="ml-3"><i>Isian bertanda (*) wajib diisi</i></small>
              <v-spacer></v-spacer>
              <v-btn
                class="my-blue-button"
                rounded
                @click="doCreate()"
                :loading="loading"
                ><v-icon class="mr-2">mdi-content-save</v-icon>Simpan</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-form>
      </v-dialog>
    </section>
  </div>
</template>

<script>
import TheInputImage from "@/components/TheInputImage";
import AddCategory from "@/components/category/AddCategory";
export default {
  components: {
    TheInputImage,
    AddCategory,
  },
  props: {
    category: Array,
  },
  data() {
    return {
      loading: false,
      add: {
        input: {
          name: "",
          purchasePrice: 0,
          typeDiscount: "",
          unit: "Pcs",
          typeProduct: "Bahan",
          typeSales: true,
          isNotSale: false,
          category: "",
          price: 0,
          valueDiscount: 0,
          weight: 0,
          description: "",
          isStockReduction: true,
          currentStock: 0,
          minStock: 0,
          img: ""
        },
        feedback: {
          data: {
            name: "",
            purchasePrice: "",
            typeDiscount: "",
            unit: "",
            typeProduct: "",
            typeSales: "",
            isNotSale: "",
            category: "",
            price: "",
            valueDiscount: "",
            weight: "",
            description: "",
            isStockReduction: "",
            currentStock: "",
            img: ""
          },
        },
      },
      itemsDiscount: ["Persen", "Nominal"],
      categoryData: [],
    };
  },

  mounted() {},

  computed: {},
  watch: {
    "$store.state.dialogAddIngredients": function (val) {
      if (val) {
        this.getCategoryProduct();
      }
    },
  },
  methods: {
    imgUrl(val) {
      toString((this.add.input.img = val.path));
      // toString(this.update.input.img = val.path)
    },

    async updateCategory(val) {
      await this.getCategoryProduct();
      this.add.input.category = val.response.result.category_id.toString();
    },

    async doCreate() {
      this.loading = true;

      let data = {};
      let input = this.add.input;
      let itemToping = itemToping;
      let addonsJson = [{name:"",price:0}];

      data.addonsJson = JSON.stringify(addonsJson);
      data.name = input.name;
      data.category = input.category;
      data.img = input.img;
      data.price = input.price;
      data.purchasePrice = input.purchasePrice;
      data.description = input.description;
      data.unit = input.unit;
      data.typeDiscount = input.typeDiscount;
      data.valueDiscount = input.valueDiscount;
      if (!input.typeDiscount) {
        data.valueDiscount = 0;
      }
      data.weight = input.weight;
      data.typeProduct = input.typeProduct;
      data.typeSales = input.typeSales;
      data.isNotSale = input.isNotSale;
      data.isStockReduction = input.isStockReduction;
      data.minStock = 0;
      data.currentStock = 0;
      if (input.isStockReduction) {
        data.minStock = input.minStock;
        data.currentStock = input.currentStock;
      }
      
      await this.axios
        .post("product/create", data)
        .then((res) => {
          let data = res.data;
          switch (data.status) {
            case "success":
              this.$store.state.dialogAddIngredients = false;
              this.resetForm();
              this.$emit(`addResult`, {
                snackbar: {
                  status: "success",
                  msg: "Berhasil menambah bahan",
                },
                refresh: "productGrid",
              });
              break;
            case "validation":
              this.add.feedback.msg = data.msg;
              this.add.feedback.data.name = data.result.error.name;
              this.add.feedback.data.category = data.result.error.category;
              this.add.feedback.data.price = data.result.error.price;
              this.add.feedback.data.valueDiscount =
                data.result.error.valueDiscount;
              this.add.feedback.data.currentStock =
                data.result.error.currentStock;
              this.add.feedback.data.minStock = data.result.error.minStock;
              break;
            case "failed":
              this.$emit(`addResult`, {
                snackbar: {
                  status: "error",
                  msg: data.msg,
                },
                refresh: "productGrid",
              });
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
      this.loading = false;
    },

    resetForm() {
      let defaultInput = {
        name: "",
        purchasePrice: 0,
        typeDiscount: "",
        unit: "Pcs",
        typeProduct: "Bahan",
        typeSales: true,
        isNotSale: false,
        category: "",
        price: 0,
        valueDiscount: 0,
        weight: 0,
        description: "",
        isStockReduction: true,
        currentStock: 0,
        minStock: 0,
        img: ""
      };

      this.add.input = Object.assign({}, defaultInput);
    },

    closeDialogCreated() {
      this.$store.state.dialogAddIngredients = false;
    },

    async getCategoryProduct() {
      this.loading = true;
      await this.axios
        .get("category/options", {
          params: {},
        })
        .then((res) => {
          let data = res.data;
          switch (data.status) {
            case "success":
              this.categoryData = Object.values(data.result);
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
      this.loading = false;
    },
  },
};
</script>

<style>
</style>