<template>
  <section>
    <v-dialog
      scrollable
      v-model="$store.state.dialogUpdateIngredients"
      persistent
      max-width="600"
    >
      <v-form ref="formCreate" @keyup.native.enter="doCreate()">
        <AddCategory @updateCategory="updateCategory" :from="'ingredients-edit'" />
        <v-card class="rounded-lg">
          <v-card-title>
            <h4>Ubah Bahan Baku</h4>
            <v-spacer></v-spacer>
            <v-btn
              depressed
              icon
              :disabled="loading"
              @click="closeDialogCreated()"
            >
              <v-icon>mdi-close-thick</v-icon>
            </v-btn>
          </v-card-title>
          <v-divider></v-divider>
          <v-card-text style="height: 500px">
            <v-container>
              <!-- Add Form -->
              <v-row>
                <!-- Left Form -->
                <v-col class="pb-0" cols="12" sm="6" md="6">
                  <v-text-field
                    label="Nama Produk *"
                    type="text"
                    v-model="updated.input.name"
                    name="name"
                    required
                    :error-messages="updated.feedback.data.name"
                    filled
                    dense
                    clearable
                    :loading="loading"
                  ></v-text-field>
                  <v-currency-field
                    class="currency-text-right"
                    label="Harga Beli"
                    v-model="updated.input.purchasePrice"
                    name="purchasePrice"
                    prefix="Rp"
                    :error-messages="updated.feedback.data.purchasePrice"
                    filled
                    dense
                    :loading="loading"
                  />
                  <v-text-field
                    label="Satuan"
                    type="text"
                    v-model="updated.input.unit"
                    name="unit"
                    :error-messages="updated.feedback.data.unit"
                    filled
                    dense
                    :loading="loading"
                  ></v-text-field>
                </v-col>

                <!-- Right Form -->
                <v-col class="pb-0" cols="12" sm="6" md="6">
                  <table>
                    <tr>
                      <td>
                        <v-select
                          :items="categoryData"
                          v-model="updated.input.category"
                          label="Kategori *"
                          name="category"
                          :error-messages="updated.feedback.data.category"
                          filled
                          dense
                          clearable
                          attach
                          item-color="#fff"
                          :loading="loading"
                        ></v-select>
                      </td>
                      <td style="vertical-align: top" class="pl-2 pt-2">
                        <v-btn
                          color="my-blue-button white--text"
                          depressed
                          fab
                          small
                          @click="
                            $store.state.dialogAddCategory = true
                            $store.state.dialogUpdateIngredients = false"
                        >
                          <v-icon> mdi-plus </v-icon>
                        </v-btn>
                      </td>
                    </tr>
                  </table>
                  <v-currency-field
                    class="currency-text-right"
                    label="Harga Jual*"
                    v-model="updated.input.price"
                    name="price"
                    prefix="Rp"
                    :error-messages="updated.feedback.data.price"
                    filled
                    dense
                    :loading="loading"
                  />
                  <v-text-field
                    label="Deskripsi"
                    type="text"
                    v-model="updated.input.description"
                    name="description"
                    :error-messages="updated.feedback.data.description"
                    filled
                    dense
                    clearable
                    :loading="loading"
                  ></v-text-field>
                </v-col>

                <!-- Config -->
                <v-col cols="12" class="py-0">
                  <!-- Config Stock -->
                  <v-checkbox
                    class="mt-0"
                    v-model="updated.input.isStockReduction"
                    :label="`Terapkan pengurangan stok`"
                    filled
                    dense
                    clearable
                    attach
                    :loading="loading"
                  ></v-checkbox>
                  <v-row>
                    <v-col
                      cols="6"
                      v-if="updated.input.isStockReduction == true"
                    >
                      <v-currency-field
                        label="Stok Minimal *"
                        v-model="updated.input.minStock"
                        name="minStock"
                        prefix=""
                        :error-messages="updated.feedback.data.minStock"
                        filled
                        dense
                        :loading="loading"
                        clearable
                      />
                    </v-col>
                  </v-row>

                  <!-- Config Sales Type -->
                  <v-checkbox
                    class="mt-0"
                    v-model="updated.input.typeSales"
                    :label="`Terapkan tipe penjualan`"
                    filled
                    dense
                    clearable
                    attach
                    :loading="loading"
                  ></v-checkbox>

                  <!-- Confif Product is Sale -->
                  <v-checkbox
                    class="mt-0"
                    v-model="updated.input.isNotSale"
                    :label="`Terapkan untuk tidak dijual`"
                    filled
                    dense
                    clearable
                    attach
                    :loading="loading"
                  ></v-checkbox>
                </v-col>
                <v-col cols="12">
                  <div class="d-flex justify-center">
                    <TheInputImage
                      label="Pilih"
                      previewHeight="150"
                      :previewValue="updated.input.img"
                      @change="imgUrl"
                    />
                  </div>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <small class="ml-3"><i>Isian bertanda (*) wajib diisi</i></small>
            <v-spacer></v-spacer>
            <v-btn
              class="my-blue-button"
              rounded
              @click="doUpdate()"
              :loading="loading"
              ><v-icon class="mr-2">mdi-content-save</v-icon>Simpan</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-form>
    </v-dialog>
  </section>
</template>

<script>
import TheInputImage from "@/components/TheInputImage";
import AddCategory from "@/components/category/AddCategory";
export default {
  components: {
    TheInputImage,
    AddCategory,
  },
  props: {
    data: Object,
    category: Array,
    productRecipe: Array,
  },
  data() {
    return {
      loading: false,
      tabs: "add",
      updated: {
        input: {
          name: "",
          purchasePrice: 0,
          typeDiscount: 0,
          unit: "Pcs",
          typeProduct: "Bahan",
          typeSales: true,
          isNotSale: false,
          category: "",
          price: 0,
          valueDiscount: 0,
          weight: 0,
          description: "",
          isStockReduction: true,
          currentStock: 0,
          minStock: 0,
          img: ""
        },
        feedback: {
          data: {
            name: "",
            purchasePrice: "",
            typeDiscount: "",
            unit: "",
            typeProduct: "",
            typeSales: "",
            isNotSale: "",
            category: "",
            price: "",
            valueDiscount: "",
            weight: "",
            description: "",
            isStockReduction: "",
            currentStock: "",
            img: ""
          },
        },
      },
      itemsDiscount: ["Persen", "Nominal"],
      categoryData: [],
    };
  },
  computed: {},
  watch: {
    "$store.state.dialogUpdateIngredients": {
      handler(val) {
        if (val) {
          this.getCategoryProduct();
          this.setUpdateData();
        }
      },
    },
  },
  methods: {
    imgUrl(val) {
      toString((this.updated.input.img = val.path));
    },

    async updateCategory(val) {
      await this.getCategoryProduct();
      this.updated.input.category = val.response.result.category_id.toString();
    },

    setUpdateData() {
      let parseAddons = JSON.parse(this.data.product_addons_json);
      parseAddons.forEach((element) => {
        element.addonsName = element.name;
        element.addonsPrice = element.price;
      });
      this.updated.input.productId = this.data.product_id;
      this.updated.input.name = this.data.product_name;
      this.updated.input.purchasePrice = this.data.product_purchase_price;
      this.updated.input.typeDiscount = this.data.product_discount_type;
      this.updated.input.unit = this.data.product_unit;
      this.updated.input.typeProduct = this.data.product_type;
      this.updated.input.typeSales =
        this.data.product_sales_type == 0 ? false : true;
      this.updated.input.isNotSale = this.data.product_is_on_sale == 0 ? true : false;
      this.updated.input.isStockReduction =
        this.data.product_is_stock == 0 ? false : true;
      this.updated.input.category = this.data.product_category_id;
      this.updated.input.price = this.data.product_price;
      this.updated.input.valueDiscount = this.data.product_discount_value;
      this.updated.input.weight = this.data.product_weight;
      this.updated.input.description = this.data.product_desc;
      this.updated.input.minStock = this.data.stock_minimal;
    },

    async doUpdate() {
      this.loading = true;

      let data = {};
      let input = this.updated.input;
      let itemToping = itemToping;
      let addonsJson = [{name:"",price:0}];

      data.addonsJson = JSON.stringify(addonsJson);
      data.id = this.data.product_id;
      data.name = input.name;
      data.category = input.category;
      data.img = input.img;
      data.price = input.price;
      data.purchasePrice = input.purchasePrice;
      data.description = input.description;
      data.unit = input.unit;
      data.typeDiscount = input.typeDiscount;
      data.valueDiscount = input.valueDiscount;
      if (!input.typeDiscount) {
        data.valueDiscount = 0;
      }
      data.weight = input.weight;
      data.typeProduct = input.typeProduct;
      data.typeSales = input.typeSales;
      data.isNotSale = input.isNotSale;
      data.isStockReduction = input.isStockReduction;
      data.minStock = 0;
      data.currentStock = 0;
      if (input.isStockReduction) {
        data.minStock = input.minStock;
        data.currentStock = input.currentStock;
      }

      await this.axios
        .post("product/update", data)
        .then((res) => {
          let data = res.data;
          switch (data.status) {
            case "success":
              this.$store.state.dialogUpdateIngredients = false;
              this.resetForm();
              this.$emit(`addResult`, {
                snackbar: {
                  status: "success",
                  msg: "Berhasil menambah bahan",
                },
                refresh: "productGrid",
              });
              break;
            case "validation":
              this.updated.feedback.msg = data.msg;
              this.updated.feedback.data.name = data.result.error.name;
              this.updated.feedback.data.category = data.result.error.category;
              this.updated.feedback.data.price = data.result.error.price;
              this.updated.feedback.data.valueDiscount =
                data.result.error.valueDiscount;
              this.updated.feedback.data.currentStock =
                data.result.error.currentStock;
              this.updated.feedback.data.minStock = data.result.error.minStock;
              break;
            case "failed":
              this.$emit(`addResult`, {
                snackbar: {
                  status: "success",
                  msg: "Berhasil menambah bahan",
                },
                refresh: "productGrid",
              });
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
      this.loading = false;
    },

    resetForm() {
      let defaultInput = {
        name: "",
        purchasePrice: 0,
        typeDiscount: 0,
        unit: "Pcs",
        typeProduct: "Bahan",
        typeSales: true,
        isNotSale: false,
        category: "",
        price: 0,
        valueDiscount: 0,
        weight: 0,
        description: "",
        isStockReduction: true,
        currentStock: 0,
        minStock: 0,
        img: ""
      };

      this.updated.input = Object.assign({}, defaultInput);
    },

    closeDialogCreated() {
      this.$store.state.dialogUpdateIngredients = false;
    },

    async getCategoryProduct() {
      this.loading = true;
      await this.axios
        .get("category/options", {
          params: {},
        })
        .then((res) => {
          let data = res.data;
          switch (data.status) {
            case "success":
              this.categoryData = Object.values(data.result);
              break;
          }
        })
        .catch(function (error) {
          console.log(error);
        });
      this.loading = false;
    },
  },
};
</script>

<style>
</style>